Repository UristMcStation/UristMcStation, changes with the labels that .github/labeler.yml gives for each.
All labels: Repo, Map, Icons, Sound, Config Update, Awaymaps, Nerva, Glloydstation, Wyrm

.github/labeler.yml:

Repo:
- changed-files:
  - any-glob-to-any-file:
    - .github/**/*
    - .vscode/**/*
    - docs/**/*
    - scripts/**/*
    - test/**/*
    - tools/**/*
    - .codebeatignore
    - .editorconfig
    - .git*
    - LICENSE
    - README.md
    - SpacemanDMM.toml

Map:
- changed-files:
  - any-glob-to-any-file:
    - '**/*.dmm'

Icons:
- changed-files:
  - any-glob-to-any-file:
    - '**/*.dmi'

Sound:
- changed-files:
  - any-glob-to-any-file:
    - '**/*.ogg'
    - '**/*.wav'
    - '**/*.mp3'

Config Update:
- changed-files:
  - any-glob-to-any-file:
    - config/**/*

Awaymaps:
- changed-files:
  - any-glob-to-any-file:
    - maps/away/**/*

Nerva:
- changed-files:
  - any-glob-to-any-file:
    - maps/nerva/**/*

Glloydstation:
- changed-files:
  - any-glob-to-any-file:
    - maps/glloydstation/**/*

Wyrm:
- changed-files:
  - any-glob-to-any-file:
    - maps/wyrm/**/*

moves everything, no passenger payroll
  code/controllers/subsystems/payment.dm
  code/game/machinery/computer/account_manager.dm
  nano/templates/account_management.tmpl
Labels: none

Update code/controllers/subsystems/payment.dm
  code/controllers/subsystems/payment.dm
Labels: none

Update code/game/machinery/computer/account_manager.dm
  code/game/machinery/computer/account_manager.dm
Labels: none

feature: Adds five new Xenoarch powers: Magnetic, Cultify, Parrot, Spoopy, Fog
  baystation12.dme
  code/_helpers/game.dm
  code/modules/urist/datums/xenoarch_effects/_base.dm
  code/modules/urist/datums/xenoarch_effects/fogmachine.dm
  code/modules/urist/datums/xenoarch_effects/haunting.dm
  code/modules/urist/datums/xenoarch_effects/magnetic.dm
  code/modules/urist/datums/xenoarch_effects/parroting.dm
  code/modules/urist/datums/xenoarch_effects/unholy.dm
  code/modules/urist/modules/ghost_powers.dm
Labels: none

port ipc additions
  baystation12.dme
  code/_helpers/global_lists.dm
  code/modules/client/preference_setup/loadout/lists/xenowear.dm
  code/modules/mob/living/carbon/human/examine.dm
  code/modules/mob/living/carbon/human/human.dm
  code/modules/mob/living/carbon/human/machine/screen_abilities.dm
  code/modules/organs/robolimbs.dm
  code/modules/species/station/machine.dm
  code/modules/sprite_accessories/accessory_ipc.dm
  code/unit_tests/icon_tests.dm
  icons/mob/human_races/cyberlimbs/shellguard/shellguard_main.dmi
  icons/mob/human_races/species/ipc/facial.dmi
  icons/mob/human_races/species/ipc/hair.dmi
  icons/mob/human_races/species/ipc/legacy_markings.dmi
  icons/mob/human_races/species/ipc/markings.dmi
Labels: Icons

better ipc bald and antenna fix
  code/modules/sprite_accessories/accessory_ipc.dm
Labels: none

travis
  code/modules/sprite_accessories/accessory_ipc.dm
Labels: none

travis 2
  code/modules/sprite_accessories/accessory_ipc.dm
Labels: none

Adds Passenger role (#1390)
  code/controllers/subsystems/payment.dm
  code/datums/mind/mind.dm
  code/game/machinery/computer/account_manager.dm
  maps/nerva/datums/nerva_jobs.dm
  maps/nerva/datums/nerva_outfits.dm
  maps/nerva/nerva-3.dmm
  nano/templates/account_management.tmpl
Labels: Map, Nerva

Update code/modules/sprite_accessories/accessory_ipc.dm
  code/modules/sprite_accessories/accessory_ipc.dm
Labels: none

sounds + code pass
  code/modules/events/infestation.dm
  code/modules/mob/living/simple_animal/hostile/giant_spider/_giant_spider.dm
  code/modules/urist/mob/uristanimals.dm
  sound/urist/rat_aggro.ogg
  sound/urist/spider_aggro_1.ogg
  sound/urist/spider_aggro_2.ogg
Labels: Sound

Makes giant spider actually play aggro sound properly.
  code/modules/mob/living/simple_animal/hostile/giant_spider/_giant_spider.dm
Labels: none

Noisemaker - Removes some sounds, fixes grammar, etc.
  code/modules/urist/items/vgitems.dm
Labels: none

fixes examining people
  code/modules/mob/living/carbon/human/examine.dm
Labels: none

fix: CR stuff
  code/modules/urist/datums/xenoarch_effects/haunting.dm
  code/modules/urist/datums/xenoarch_effects/magnetic.dm
Labels: none

fix: Overlooked typecast
  code/modules/urist/modules/ghost_powers.dm
Labels: none

fix: More CR
  code/modules/urist/datums/xenoarch_effects/magnetic.dm
Labels: none

feature: Adds five new Xenoarch powers: Magnetic, Cultify, Parrot, Spoopy, Fog (#1397)
  baystation12.dme
  code/_helpers/game.dm
  code/modules/urist/datums/xenoarch_effects/_base.dm
  code/modules/urist/datums/xenoarch_effects/fogmachine.dm
  code/modules/urist/datums/xenoarch_effects/haunting.dm
  code/modules/urist/datums/xenoarch_effects/magnetic.dm
  code/modules/urist/datums/xenoarch_effects/parroting.dm
  code/modules/urist/datums/xenoarch_effects/unholy.dm
  code/modules/urist/modules/ghost_powers.dm
Labels: none

chore: And the Most Pointless Lint of the Year Award goes to...
  test/check-paths.sh
Labels: Repo

feature: FoV Cones port from Nebula, with some refactoring and config- and mob- level switches
  baystation12.dme
  code/_uristdefines.dm
  code/controllers/configuration.dm
  code/modules/urist/modules/fov/_fov_module.dm
  code/modules/urist/modules/fov/_nebulaports.dm
  code/modules/urist/modules/fov/fov.dm
  code/modules/urist/modules/fov/overrides/cone.dm
  code/modules/urist/modules/fov/overrides/human.dm
  icons/urist/fov/footstepsound.dmi
  icons/urist/fov/hide.dmi
Labels: Icons

feature: Adds logic for muted footsteps for FoV-coned footstep indicators
  code/modules/urist/modules/fov/overrides/human.dm
Labels: none

tweak: Adds FoV cones option to config.txt
  config/config.txt
Labels: Config Update

Update code/modules/urist/modules/fov/overrides/cone.dm
  code/modules/urist/modules/fov/overrides/cone.dm
Labels: none

Update code/modules/urist/modules/fov/overrides/cone.dm
  code/modules/urist/modules/fov/overrides/cone.dm
Labels: none

fix: Some possibly-paranoid null-conditional inits to avoid runtimes. Moved some options to where we are ACTUALLY READING THEM FROM lol
  code/modules/urist/modules/fov/overrides/cone.dm
  config/config.txt
  config/game_options.txt
Labels: Config Update

wip: Fixing conflicts
  baystation12.dme
  code/modules/GOAI/__ss13/_ss13stubmacros.dm
  code/modules/GOAI/__ss13/atom_stubs.dm
  code/modules/GOAI/_datastructures/pqueue.dm
  code/modules/GOAI/_datastructures/registries/file_cache.dm
  code/modules/GOAI/_defines.dm
  code/modules/GOAI/basics/atom.dm
  code/modules/GOAI/basics/turfs.dm
  code/modules/GOAI/integrations/planner_cache.dm
  code/modules/GOAI/integrations/spawners/mob_commanders.dm
  code/modules/GOAI/integrations/utility_agent/actions/open_door.dm
  code/modules/GOAI/integrations/utility_agent/actions/wrapper.dm
  code/modules/GOAI/integrations/utility_agent/global_planactions_repo.dm
  code/modules/GOAI/integrations/utility_agent/mob_commander/combat.dm
  code/modules/GOAI/integrations/utility_agent/planning.dm
  code/modules/GOAI/integrations/utility_agent/relations.dm
  code/modules/GOAI/utility/consideration_inputs/health.dm
  code/modules/GOAI/utility/smart_objects.dm
Labels: none

Research Wing Layout Changes + Medbay Breakroom APC Fix
  maps/nerva/nerva-1.dmm
  maps/nerva/nerva-2.dmm
  maps/nerva/obj/nerva_machinery.dm
Labels: Map, Nerva

Fixes a bunch (all?) of the errors in the initial PR
  maps/nerva/nerva-1.dmm
  maps/nerva/nerva-2.dmm
  maps/nerva/nerva_areas.dm
Labels: Map, Nerva

fix: nerva-1 formatting
  maps/nerva/nerva-1.dmm
Labels: Map, Nerva

Func for Holdout Dagger + Rework Start
  code/datums/uplink/ammunition.dm
  code/datums/uplink/augments.dm
  code/datums/uplink/badassery.dm
  code/datums/uplink/highly_visible_and_dangerous_weapons.dm
  code/datums/uplink/implants.dm
  code/datums/uplink/stealthy_and_inconspicuous_weapons.dm
  code/game/objects/items/weapons/storage/uplink_kits.dm
  code/modules/urist/antagonist/uplink_items.dm
Labels: none

Adds Plants to Uplink, Change Catergory Name, Urist Icons, Etc.
  code/datums/uplink/reagents_and_plants.dm
  code/datums/uplink/stealthy_and_inconspicuous_weapons.dm
  code/datums/uplink/uplink_categories.dm
  code/modules/urist/antagonist/uplink_items.dm
  icons/urist/items/uristfood.dmi
Labels: Icons

Progress on MIU Augment + Smoke, Flaregun Sound.
  baystation12.dme
  code/datums/uplink/reagents_and_plants.dm
  code/modules/urist/antagonist/uplink_items.dm
  code/modules/urist/items/uristaugments.dm
  sound/urist/weapons/flaregun_load.ogg
Labels: Sound

code progress for new chemical based adrenaline implant
  code/datums/uplink/implants.dm
  code/modules/urist/antagonist/uplink_items.dm
Labels: none

fix: Failing unit tests
  maps/nerva/nerva-1.dmm
  maps/nerva/nerva-2.dmm
Labels: Map, Nerva

container yard
  maps/random_ruins/exoplanet_ruins/container_yard/container_yard.dm
  maps/random_ruins/exoplanet_ruins/container_yard/container_yard.dmm
Labels: Map

some paint to make it look nicer
  maps/random_ruins/exoplanet_ruins/container_yard/container_yard.dmm
Labels: Map

final
  maps/random_ruins/exoplanet_ruins/container_yard/container_yard.dm
Labels: none

map and vending machine
  code/game/machinery/vending/lavatory.dm
  maps/nerva/nerva-1.dmm
  maps/nerva/nerva-3.dmm
Labels: Map, Nerva

i should catch this while i'm here
  code/game/objects/structures/watercloset.dm
Labels: none

whoops, it was a bit much anyways
  code/game/machinery/vending/lavatory.dm
Labels: none
