Repository UristMcStation/UristMcStation, changes with the labels that .github/labeler.yml gives for each.
All labels: Repo, Map, Icons, Sound, Config Update, Awaymaps, Nerva, Glloydstation, Wyrm

.github/labeler.yml:

Repo:
- changed-files:
  - any-glob-to-any-file:
    - .github/**/*
    - .vscode/**/*
    - docs/**/*
    - scripts/**/*
    - test/**/*
    - tools/**/*
    - .codebeatignore
    - .editorconfig
    - .git*
    - LICENSE
    - README.md
    - SpacemanDMM.toml

Map:
- changed-files:
  - any-glob-to-any-file:
    - '**/*.dmm'

Icons:
- changed-files:
  - any-glob-to-any-file:
    - '**/*.dmi'

Sound:
- changed-files:
  - any-glob-to-any-file:
    - '**/*.ogg'
    - '**/*.wav'
    - '**/*.mp3'

Config Update:
- changed-files:
  - any-glob-to-any-file:
    - config/**/*

Awaymaps:
- changed-files:
  - any-glob-to-any-file:
    - maps/away/**/*

Nerva:
- changed-files:
  - any-glob-to-any-file:
    - maps/nerva/**/*

Glloydstation:
- changed-files:
  - any-glob-to-any-file:
    - maps/glloydstation/**/*

Wyrm:
- changed-files:
  - any-glob-to-any-file:
    - maps/wyrm/**/*

spawner updates
  code/game/objects/random/random.dm
Labels: none

xenotweaks
  code/game/machinery/doors/simple.dm
  code/game/objects/structures/alien/node.dm
  code/modules/hydroponics/spreading/spreading.dm
  code/modules/mob/living/carbon/alien/larva/larva.dm
Labels: none

Hextro makes you see rainbows.
  code/modules/reagents/Chemistry-Reagents/Chemistry-Reagents-Toxins.dm
Labels: none

tips pass
  config/tips.txt
Labels: Config Update

fix: nerva-1 formatting
  maps/nerva/nerva-1.dmm
Labels: Map, Nerva

Fixes a bunch (all?) of the errors in the initial PR
  maps/nerva/nerva-1.dmm
  maps/nerva/nerva-2.dmm
  maps/nerva/nerva_areas.dm
Labels: Map, Nerva

fix: Failing unit tests
  maps/nerva/nerva-1.dmm
  maps/nerva/nerva-2.dmm
Labels: Map, Nerva

Research Wing Layout Changes + Medbay Breakroom APC Fix
  maps/nerva/nerva-1.dmm
  maps/nerva/nerva-2.dmm
  maps/nerva/obj/nerva_machinery.dm
Labels: Map, Nerva

feature: further science remapping
  maps/nerva/nerva-1.dmm
  maps/nerva/nerva-2.dmm
Labels: Map, Nerva

fix: random objects
  maps/nerva/nerva-2.dmm
Labels: Map, Nerva

fix: errant area and injector
  maps/nerva/nerva-1.dmm
  maps/nerva/nerva-2.dmm
Labels: Map, Nerva

tweak: removed unused sci air alarm
  maps/nerva/obj/nerva_machinery.dm
Labels: Nerva

fix: oops
  maps/nerva/nerva-1.dmm
Labels: Map, Nerva

more storage
  code/game/objects/items/devices/flashlight.dm
  code/game/objects/items/devices/radio/encryptionkey.dm
  code/game/objects/items/weapons/implants/implant.dm
  code/modules/clothing/_clothing.dm
Labels: none

forgot you
  code/game/objects/items/weapons/flame.dm
Labels: none

changes for feedback + guns
  config/tips.txt
Labels: Config Update

blanc fixes
  code/modules/urist/structures/uristflora.dm
Labels: none

Ports and fixes many artifact effects
  baystation12.dme
  code/modules/urist/datums/xenoarch_effects/animate_anomaly.dm
  code/modules/urist/datums/xenoarch_effects/cannibal.dm
  code/modules/urist/datums/xenoarch_effects/disarm.dm
  code/modules/urist/datums/xenoarch_effects/electric_field.dm
  code/modules/urist/datums/xenoarch_effects/extinguisher.dm
  code/modules/urist/datums/xenoarch_effects/fogmachine.dm
  code/modules/urist/datums/xenoarch_effects/gaia.dm
  code/modules/urist/datums/xenoarch_effects/gasco2.dm
  code/modules/urist/datums/xenoarch_effects/gasnitro.dm
  code/modules/urist/datums/xenoarch_effects/gasoxy.dm
  code/modules/urist/datums/xenoarch_effects/gasphoron.dm
  code/modules/urist/datums/xenoarch_effects/gassleeping.dm
  code/modules/urist/datums/xenoarch_effects/gravity_wave.dm
  code/modules/urist/datums/xenoarch_effects/haunting.dm
  code/modules/urist/datums/xenoarch_effects/indiscriminate_spines.dm
  code/modules/urist/datums/xenoarch_effects/parroting.dm
  code/modules/urist/datums/xenoarch_effects/poltergeist.dm
  code/modules/urist/datums/xenoarch_effects/resurrect.dm
  code/modules/urist/datums/xenoarch_effects/tesla.dm
  code/modules/urist/datums/xenoarch_effects/vampire.dm
  code/modules/xenoarcheaology/effect.dm
  code/modules/xenoarcheaology/effects/badfeeling.dm
  code/modules/xenoarcheaology/effects/cellcharge.dm
  code/modules/xenoarcheaology/effects/celldrain.dm
  code/modules/xenoarcheaology/effects/cold.dm
  code/modules/xenoarcheaology/effects/emp.dm
  code/modules/xenoarcheaology/effects/goodfeeling.dm
  code/modules/xenoarcheaology/effects/heal.dm
  code/modules/xenoarcheaology/effects/heat.dm
  code/modules/xenoarcheaology/effects/hellportal/hell_portal.dm
  code/modules/xenoarcheaology/effects/hurt.dm
  code/modules/xenoarcheaology/effects/roboheal.dm
  code/modules/xenoarcheaology/effects/robohurt.dm
  code/modules/xenoarcheaology/effects/sleepy.dm
  code/modules/xenoarcheaology/effects/stun.dm
  code/modules/xenoarcheaology/triggers/chemical.dm
  icons/urist/effects.dmi
Labels: Icons

irresponsibly increases spawn uses
  test/check-paths.sh
Labels: Repo

fixes spelling, oops
  maps/nerva/datums/nerva_outfits.dm
Labels: Nerva

Reverts to empty area.
  maps/example/example-3.dmm
Labels: Map

spans, remove unnecessary comments, poltergeist
  code/modules/urist/datums/xenoarch_effects/electric_field.dm
  code/modules/urist/datums/xenoarch_effects/extinguisher.dm
  code/modules/urist/datums/xenoarch_effects/indiscriminate_spines.dm
  code/modules/urist/datums/xenoarch_effects/poltergeist.dm
  code/modules/urist/datums/xenoarch_effects/tesla.dm
  code/modules/urist/datums/xenoarch_effects/vampire.dm
Labels: none

clamp
  code/modules/urist/datums/xenoarch_effects/disarm.dm
Labels: none

fixes that test
  maps/nerva/obj/nerva_ids.dm
Labels: Nerva

human_inv no longer destroys eyes
  code/modules/mob/living/carbon/human/human.dm
Labels: none

ui
  code/modules/mob/living/carbon/human/human.dm
Labels: none

updates from testing, back to original
  code/modules/mob/living/carbon/human/human.dm
Labels: none

Revert "human_inv no longer destroys eyes"
  code/modules/mob/living/carbon/human/human.dm
Labels: none

changes rig
  maps/nerva/obj/nerva_clothes.dm
Labels: Nerva

Hypospray is back
  code/modules/reagents/reagent_containers/hypospray.dm
Labels: none

fabricator update
  code/modules/fabrication/designs/general/designs_tools.dm
Labels: none

adds new types of pirates for boarding maps/awaymaps
  code/modules/urist/datums/uristoutfits.dm
  code/modules/urist/items/clothes/ntclothes.dm
  code/modules/urist/items/clothes/uristclothes.dm
  code/modules/urist/items/corpse_landmarks.dm
  code/modules/urist/mob/humanhostiles.dm
  code/modules/urist/modules/shipbattles/ship_landmarks.dm
  icons/uristmob/simpleanimals.dmi
Labels: Icons

adds a new pirate ship type + map, and tweaks a couple things with ship_pirate_small1.dmm
  code/modules/urist/modules/shipbattles/overmapships/components/components.dm
  code/modules/urist/modules/shipbattles/overmapships/hostile_ships.dm
  maps/shipmaps/ship_pirate_fast1.dmm
  maps/shipmaps/ship_pirate_small1.dmm
Labels: Map

replaces the cryo pods on ship_pirate_small1.dmm with the inert ones from abandoned colony.
  maps/shipmaps/ship_pirate_small1.dmm
Labels: Map

Assistants now have access again to Tool Storage. (#1500)
  code/game/jobs/job/assistant.dm
  maps/nerva/datums/nerva_jobs.dm
  maps/nerva/datums/nerva_outfits.dm
  maps/nerva/obj/nerva_ids.dm
Labels: Nerva

Geiger Counter added to Protolathe instead of Autolathe
  code/modules/fabrication/designs/general/designs_tools.dm
  code/modules/research/designs/designs_urist.dm
Labels: none

adjusts nt trader
  maps/away/stations/nanotrasentrading-1.dmm
Labels: Map, Awaymaps

Jungle Fixes.
  code/modules/urist/modules/jungle/planet_areas.dm
  maps/away/glloyd_jungle/glloyd_jungle.dmm
Labels: Map, Awaymaps

fixes more ammo shit
  code/modules/urist/gamemodes/infestation/weapons&armour.dm
  code/modules/urist/items/guns.dm
  code/modules/urist/items/terran_confederacy_items.dm
Labels: none

Tablets now fit in belts.
  code/modules/modular_computers/computers/subtypes/dev_tablet.dm
Labels: none
