Repository UristMcStation/UristMcStation, changes with the labels that .github/labeler.yml gives for each.
All labels: Repo, Map, Icons, Sound, Config Update, Awaymaps, Nerva, Glloydstation, Wyrm

.github/labeler.yml:

Repo:
- changed-files:
  - any-glob-to-any-file:
    - .github/**/*
    - .vscode/**/*
    - docs/**/*
    - scripts/**/*
    - test/**/*
    - tools/**/*
    - .codebeatignore
    - .editorconfig
    - .git*
    - LICENSE
    - README.md
    - SpacemanDMM.toml

Map:
- changed-files:
  - any-glob-to-any-file:
    - '**/*.dmm'

Icons:
- changed-files:
  - any-glob-to-any-file:
    - '**/*.dmi'

Sound:
- changed-files:
  - any-glob-to-any-file:
    - '**/*.ogg'
    - '**/*.wav'
    - '**/*.mp3'

Config Update:
- changed-files:
  - any-glob-to-any-file:
    - config/**/*

Awaymaps:
- changed-files:
  - any-glob-to-any-file:
    - maps/away/**/*

Nerva:
- changed-files:
  - any-glob-to-any-file:
    - maps/nerva/**/*

Glloydstation:
- changed-files:
  - any-glob-to-any-file:
    - maps/glloydstation/**/*

Wyrm:
- changed-files:
  - any-glob-to-any-file:
    - maps/wyrm/**/*

holy fuck i made it angry
  maps/nerva/nerva-1.dmm
  maps/nerva/nerva-3.dmm
Labels: Map, Nerva

Updates Unit Test.
  maps/nerva/nerva_unit_testing.dm
Labels: Nerva

restores flora
  code/modules/urist/structures/uristflora.dm
  icons/urist/obj/asteroidflora.dmi
Labels: Icons

Matches now give off light
  code/game/objects/items/weapons/flame.dm
Labels: none

Zombies now have the pry_open proc
  code/modules/species/outsider/zombie.dm
Labels: none

smallest tweak
  code/modules/species/xenomorphs/alien_species.dm
Labels: none

upgraded flashlights
  code/modules/research/designs/designs_urist.dm
  code/modules/urist/items/miscitems.dm
  icons/urist/items/tools.dmi
Labels: Icons

adjusts example-test area
  maps/example/example-1.dmm
  maps/example/example-2.dmm
  maps/example/example-3.dmm
Labels: Map

fix?
  maps/nerva/nerva-1.dmm
  maps/nerva/nerva-2.dmm
  maps/nerva/nerva-3.dmm
  maps/nerva/nerva-4.dmm
Labels: Map, Nerva

Updates to Baymerge, unfucks small errors and duffles + landmarks
  maps/nerva/nerva-1.dmm
  maps/nerva/nerva-2.dmm
  maps/nerva/nerva-3.dmm
  maps/nerva/nerva-4.dmm
  maps/nerva/nerva_areas.dm
Labels: Map, Nerva

readds vital comp, fixes unit test.
  maps/nerva/nerva-2.dmm
  maps/nerva/nerva_unit_testing.dm
Labels: Map, Nerva

this should finally fix it.
  maps/nerva/nerva-3.dmm
Labels: Map, Nerva

Incadescent Tube Box + spawn locker
  code/game/objects/structures/crates_lockers/closets/job_closets.dm
  code/modules/urist/structures/uristlighting.dm
Labels: none

latherecipes
  code/modules/fabrication/designs/general/designs_general.dm
Labels: none

you can no longer blast yayo with a mask on
  code/game/objects/items/contraband.dm
Labels: none

First Pass - unfucks all the item stuff, finally gets Z-Levels to work.
  baystation12.dme
  maps/away/chemical_lab/chemical_lab-1.dmm
  maps/away/chemical_lab/chemical_lab-2.dmm
  maps/away/chemical_lab/chemical_lab.dm
  maps/away/chemical_lab/chemical_lab.dmi
  maps/away/chemical_lab/chemical_lab_access.dm
  maps/away/chemical_lab/chemical_lab_areas.dm
  maps/away/chemical_lab/chemical_lab_jobs.dm
  maps/away/chemical_lab/chemical_lab_shuttle.dm
  maps/nerva/nerva.dm
Labels: Map, Icons, Awaymaps, Nerva

comment
  code/datums/ruins.dm
Labels: none

second push.
  maps/away/chemical_lab/chemical_lab-1.dmm
  maps/away/chemical_lab/chemical_lab-2.dmm
  maps/away/chemical_lab/chemical_lab.dmi
  maps/away/chemical_lab/chemical_lab_areas.dm
Labels: Map, Icons, Awaymaps

comment
  code/datums/ruins.dm
Labels: none

fuck i hate solars and tags
  maps/away/chemical_lab/chemical_lab-1.dmm
  maps/away/chemical_lab/chemical_lab-2.dmm
Labels: Map, Awaymaps

adds raincoat
  code/modules/urist/items/clothes/mask.dm
  code/modules/urist/items/clothes/uristclothes.dm
  icons/urist/items/clothes/clothes.dmi
  icons/uristmob/clothes.dmi
Labels: Icons

updates cigar and raincoat
  code/game/objects/structures/crates_lockers/closets/secure/security.dm
  code/modules/urist/items/clothes/mask.dm
  icons/urist/items/clothes/clothes.dmi
  icons/urist/items/clothes/masks.dmi
  icons/uristmob/mask.dmi
Labels: Icons

setup armor values like normal coat.
  code/modules/urist/items/clothes/uristclothes.dm
Labels: none

fabricator
  code/modules/fabrication/designs/general/designs_arms_ammo.dm
Labels: none

lots of changes
  maps/example/example-1.dmm
  maps/example/example-2.dmm
  maps/example/example-3.dmm
Labels: Map

final tweaks.
  maps/example/example-1.dmm
  maps/example/example-2.dmm
  maps/example/example-3.dmm
Labels: Map

blood now fully fills syringe
  code/modules/reagents/reagent_containers/syringes.dm
Labels: none

should fix access in tests now.
  maps/example/example-1.dmm
Labels: Map

First Pass - Mostly working.
  maps/_maps.dm
  maps/random_ruins/exoplanet_ruins/pioneer/pioneer.dm
  maps/random_ruins/exoplanet_ruins/pioneer/pioneer.dmi
  maps/random_ruins/exoplanet_ruins/pioneer/pioneer.dmm
Labels: Map, Icons

doc + span
  maps/mapsystem/maps.dm
  maps/random_ruins/exoplanet_ruins/exoplanet_ruins.dm
Labels: none

fixes up the old Urist cigarettes, readds them to the cig vendor
  code/game/machinery/vending/cigarette.dm
  code/modules/urist/gamemodes/event/train.dm
  code/modules/urist/gamemodes/infestation/weapons&armour.dm
  code/modules/urist/gamemodes/scom/scomoutfits.dm
  code/modules/urist/items/clothes/uristclothes.dm
  code/modules/urist/items/terran_confederacy_items.dm
  code/modules/urist/items/tgitems.dm
  code/modules/urist/items/uristvanity.dm
  maps/away/crystalized_drugs/crystalized_drugs-1.dmm
  maps/away/forest/forest1.dmm
Labels: Map, Awaymaps

Fixes most issues, just any testing shit now.
  maps/random_ruins/exoplanet_ruins/pioneer/pioneer.dm
  maps/random_ruins/exoplanet_ruins/pioneer/pioneer.dmm
Labels: Map

adjusts
  code/game/machinery/kitchen/smartfridge.dm
Labels: none

Updates Cryopod and Seed Storage
  code/game/machinery/cryopod.dm
  code/modules/hydroponics/seed_storage.dm
Labels: none

the great tower
  code/modules/reagents/reagent_containers/food/sandwich.dm
Labels: none

Jani Cart
  code/game/objects/structures/janicart.dm
  icons/obj/janitor.dmi
Labels: Icons

update
  code/game/objects/structures/janicart.dm
Labels: none

Revert "Jani Cart"
  code/game/objects/structures/janicart.dm
  icons/obj/janitor.dmi
Labels: Icons

icons
  icons/obj/janitor.dmi
Labels: Icons

Fixes Broomstick Pistol
  code/datums/uplink/ammunition.dm
  code/datums/uplink/highly_visible_and_dangerous_weapons.dm
  code/modules/projectiles/guns/projectile/pistol.dm
  code/modules/urist/items/guns.dm
  icons/urist/items/guns.dmi
Labels: Icons
