Repository UristMcStation/UristMcStation, changes with the labels that .github/labeler.yml gives for each.
All labels: Repo, Map, Icons, Sound, Config Update, Awaymaps, Nerva, Glloydstation, Wyrm

.github/labeler.yml:

Repo:
- changed-files:
  - any-glob-to-any-file:
    - .github/**/*
    - .vscode/**/*
    - docs/**/*
    - scripts/**/*
    - test/**/*
    - tools/**/*
    - .codebeatignore
    - .editorconfig
    - .git*
    - LICENSE
    - README.md
    - SpacemanDMM.toml

Map:
- changed-files:
  - any-glob-to-any-file:
    - '**/*.dmm'

Icons:
- changed-files:
  - any-glob-to-any-file:
    - '**/*.dmi'

Sound:
- changed-files:
  - any-glob-to-any-file:
    - '**/*.ogg'
    - '**/*.wav'
    - '**/*.mp3'

Config Update:
- changed-files:
  - any-glob-to-any-file:
    - config/**/*

Awaymaps:
- changed-files:
  - any-glob-to-any-file:
    - maps/away/**/*

Nerva:
- changed-files:
  - any-glob-to-any-file:
    - maps/nerva/**/*

Glloydstation:
- changed-files:
  - any-glob-to-any-file:
    - maps/glloydstation/**/*

Wyrm:
- changed-files:
  - any-glob-to-any-file:
    - maps/wyrm/**/*

fix: Gave '/mob/living/carbon/human's a SmartObject actionset - basic AI-enabled proper sim humans work!
  code/modules/urist/GOAI/_b_debug_modules.dm
  code/modules/urist/GOAI/integrations/smartobject_definitions/example_agent.dm
Labels: none

feature: Gave hostiles a basic ranged mob SmartObject spec - they can now be GOAI-enabled
  code/modules/urist/GOAI/_b_debug_modules.dm
  code/modules/urist/GOAI/integrations/smartobject_definitions/example_agent.dm
  code/modules/urist/GOAI/integrations/utility_agent/mob_commander/combat.dm
  goai_data/smartobject_definitions/humanoid_agent.json
  goai_data/smartobject_definitions/simplemob_agent.json
Labels: none

feature: Better tick-handling (broken up sleep()s), mass-pause, override for SS13 AI, door and table actions for SS13, tons of log cleanup.
  code/modules/urist/GOAI/__goai_ss13_support.dm
  code/modules/urist/GOAI/_b_debug_modules.dm
  code/modules/urist/GOAI/_defines.dm
  code/modules/urist/GOAI/basics/_cover.dm
  code/modules/urist/GOAI/basics/_dir_blocker.dm
  code/modules/urist/GOAI/basics/brain.dm
  code/modules/urist/GOAI/basics/chunkserver.dm
  code/modules/urist/GOAI/basics/chunkyAstar.dm
  code/modules/urist/GOAI/basics/concrete_brains/_concrete.dm
  code/modules/urist/GOAI/basics/testing/generic.dm
  code/modules/urist/GOAI/basics/turfs.dm
  code/modules/urist/GOAI/goap/goap_classy.dm
  code/modules/urist/GOAI/integrations/smartobject_definitions/doors.dm
  code/modules/urist/GOAI/integrations/smartobject_definitions/table.dm
  code/modules/urist/GOAI/integrations/utility_agent/action_handling.dm
  code/modules/urist/GOAI/integrations/utility_agent/actions/plan_move.dm
  code/modules/urist/GOAI/integrations/utility_agent/actions/request_plan.dm
  code/modules/urist/GOAI/integrations/utility_agent/core.dm
  code/modules/urist/GOAI/integrations/utility_agent/debug.dm
  code/modules/urist/GOAI/integrations/utility_agent/faction_commander/faction_commander.dm
  code/modules/urist/GOAI/integrations/utility_agent/mob_commander/attach.dm
  code/modules/urist/GOAI/integrations/utility_agent/mob_commander/combat.dm
  code/modules/urist/GOAI/integrations/utility_agent/mob_commander/mob_commander.dm
  code/modules/urist/GOAI/integrations/utility_agent/movement.dm
  code/modules/urist/GOAI/utility/brain.dm
  code/modules/urist/GOAI/utility/consideration_procs.dm
  goai_data/smartobject_definitions/ss13_autodoor.json
  goai_data/smartobject_definitions/ss13_door.json
  goai_data/smartobject_definitions/ss13_table.json
Labels: none

proofreader nation rise up
  maps/random_ruins/exoplanet_ruins/container_yard/container_yard.dm
Labels: none

feature: Significant Coverleap improvements, BBox CF and Grenade logic using it, allowed groupby-like mean aggregations, fixed raytrace ignores and other stuff.
  baystation12.dme
  code/modules/urist/GOAI/__ss13/atom_stubs.dm
  code/modules/urist/GOAI/_algorithms/raytrace.dm
  code/modules/urist/GOAI/_algorithms/trigonometry.dm
  code/modules/urist/GOAI/_defines.dm
  code/modules/urist/GOAI/_utility_defines.dm
  code/modules/urist/GOAI/basics/_cover.dm
  code/modules/urist/GOAI/basics/_dir_blocker.dm
  code/modules/urist/GOAI/basics/atom.dm
  code/modules/urist/GOAI/basics/brain.dm
  code/modules/urist/GOAI/basics/projectile.dm
  code/modules/urist/GOAI/basics/turfs.dm
  code/modules/urist/GOAI/goai_data/smartobject_definitions/example_agent.json
  code/modules/urist/GOAI/integrations/covers.dm
  code/modules/urist/GOAI/integrations/utility_agent/actions/coverleap.dm
  code/modules/urist/GOAI/integrations/utility_agent/actions/grenade.dm
  code/modules/urist/GOAI/utility/consideration_inputs/aggregate.dm
  code/modules/urist/GOAI/utility/consideration_inputs/spatial.dm
  code/modules/urist/GOAI/utility/context_fetchers/bbox.dm
  code/modules/urist/GOAI/utility/context_fetchers/cover.dm
  code/modules/urist/GOAI/utility/context_fetchers/memory.dm
  code/modules/urist/GOAI/utility/context_fetchers/spatial.dm
  goai_data/smartobject_definitions/example_agent.json
Labels: none

fix: Missed some files I guess
  code/modules/urist/GOAI/_defines.dm
  code/modules/urist/GOAI/_utility_defines.dm
Labels: none

changes
  code/datums/uplink/ammunition.dm
  code/datums/uplink/implants.dm
  code/modules/projectiles/ammunition/bullets.dm
  code/modules/urist/antagonist/uplink_items.dm
  code/modules/urist/items/uristaugments.dm
  code/modules/urist/items/uristweapons.dm
Labels: none

Adds Nerva Specific Lobby Music.
  maps/nerva/nerva_define.dm
Labels: Nerva

Speed up surgery steps
  code/modules/surgery/surgery.dm
Labels: none

Add vitals monitor to Nerva; buffed like op computer
  code/game/machinery/vitals_monitor.dm
  maps/nerva/nerva-2.dmm
Labels: Map, Nerva

Health scanner tells you how patient is breathing
  code/game/objects/items/devices/scanners/health.dm
Labels: none

dehumanize yourself and face to bloodshed
  maps/nerva/nerva_define.dm
Labels: Nerva

Captain's locker typo
  maps/nerva/obj/nerva_closets.dm
Labels: Nerva

Construction and deconstruction steps sped up
  code/game/objects/structures/girders.dm
  code/game/turfs/simulated/wall_attacks.dm
  code/modules/materials/recipes_furniture.dm
  code/modules/power/smes_construction.dm
Labels: none

Pull speed increased
  code/modules/mob/mob.dm
Labels: none

assistantspawns
  maps/nerva/nerva-3.dmm
Labels: Map, Nerva

ports fix for escaping lockers
  code/game/objects/buckling.dm
  code/game/objects/structures.dm
  code/game/objects/structures/crates_lockers/closets/__closet.dm
Labels: none

Merges most of bay and urist duffles
  code/game/objects/items/weapons/storage/backpack.dm
  code/modules/urist/items/clothes/duffelbag.dm
  code/modules/urist/structures/closets.dm
  maps/RandomZLevels/backup/negastation.dmm
  maps/RandomZLevels/negastation.dmm
  maps/away/bearcat/bearcat-1.dmm
  maps/glloydstation/Glloydstation2-1.dmm
  maps/nerva/nerva-1.dmm
  maps/nerva/nerva-2.dmm
  maps/nerva/nerva-3.dmm
Labels: Map, Awaymaps, Nerva, Glloydstation

removes unnecessary punctuation
  maps/nerva/datums/nerva_jobs.dm
Labels: Nerva

supply tech shoes replaced; QM gets sunglasses
  maps/nerva/datums/nerva_outfits.dm
Labels: Nerva

urist's leather workboots now supply-purchasable
  code/datums/supplypacks/engineering.dm
Labels: none

urist leather workboots removed from loadout
  code/modules/urist/modules/client/preference_setup/loadout/lists/loadout_feet.dm
Labels: none

readds dufflebag mechanical differences
  code/game/objects/items/weapons/storage/backpack.dm
  code/modules/urist/items/clothes/duffelbag.dm
Labels: none

requested changes - removed timers are 0.1
  code/game/objects/structures/girders.dm
  code/game/turfs/simulated/wall_attacks.dm
  code/modules/power/smes_construction.dm
Labels: none

travis
  code/game/turfs/simulated/wall_attacks.dm
Labels: none

fix: Big pile o' stuff; fixed melee, fixed some bad raycast logic, fixed cover data gen, moved out-in-the-open checks to Vision, tuned cover/fight better, added gentler fuzz Considerations
  baystation12.dme
  code/modules/urist/GOAI/_algorithms/raytrace.dm
  code/modules/urist/GOAI/_b_debug_modules.dm
  code/modules/urist/GOAI/basics/_cover.dm
  code/modules/urist/GOAI/basics/projectile.dm
  code/modules/urist/GOAI/goai_data/smartobject_definitions/example_agent.json
  code/modules/urist/GOAI/goai_data/smartobject_definitions/gun.json
  code/modules/urist/GOAI/goai_data/smartobject_definitions/humanoid_agent.json
  code/modules/urist/GOAI/goai_data/smartobject_definitions/simplemob_agent.json
  code/modules/urist/GOAI/goai_data/smartobject_definitions/ss13_autodoor.json
  code/modules/urist/GOAI/goai_data/smartobject_definitions/ss13_door.json
  code/modules/urist/GOAI/goai_data/smartobject_definitions/ss13_table.json
  code/modules/urist/GOAI/integrations/_defines.dm
  code/modules/urist/GOAI/integrations/cover_definitions/_shared.dm
  code/modules/urist/GOAI/integrations/cover_definitions/structures.dm
  code/modules/urist/GOAI/integrations/utility_agent/action_handling.dm
  code/modules/urist/GOAI/integrations/utility_agent/actions/move_to.dm
  code/modules/urist/GOAI/integrations/utility_agent/actions/punch.dm
  code/modules/urist/GOAI/integrations/utility_agent/mob_commander/combat.dm
  code/modules/urist/GOAI/integrations/utility_agent/senses/vision.dm
  code/modules/urist/GOAI/utility/consideration_inputs/abstract.dm
  code/modules/urist/GOAI/utility/consideration_inputs/aggregate.dm
  code/modules/urist/GOAI/utility/consideration_inputs/memory.dm
  code/modules/urist/GOAI/utility/consideration_inputs/needs.dm
  code/modules/urist/GOAI/utility/consideration_inputs/personality.dm
  code/modules/urist/GOAI/utility/consideration_inputs/random.dm
  code/modules/urist/GOAI/utility/consideration_inputs/spatial.dm
  code/modules/urist/GOAI/utility/context_fetchers/cover.dm
  goai_data/smartobject_definitions/example_agent.json
  goai_data/smartobject_definitions/gun.json
  goai_data/smartobject_definitions/simplemob_agent.json
Labels: none

fix: Some JSON I forgot to port from the other repo
  code/modules/urist/GOAI/goai_data/smartobject_definitions/example_agent.json
  code/modules/urist/GOAI/goai_data/smartobject_definitions/gun.json
  code/modules/urist/GOAI/goai_data/smartobject_definitions/simplemob_agent.json
  code/modules/urist/GOAI/inventory.dm
Labels: none

feature: 3d movement fully working (aside from ladder contextfetcher being a bit unsound).
  code/modules/urist/GOAI/_algorithms/metrics.dm
  code/modules/urist/GOAI/_b_debug_modules.dm
  code/modules/urist/GOAI/_defines.dm
  code/modules/urist/GOAI/basics/pathfinding_penalties.dm
  code/modules/urist/GOAI/basics/turfs.dm
  code/modules/urist/GOAI/basics/turfs_debug.dm
  code/modules/urist/GOAI/goai_data/smartobject_definitions/ladder.json
  code/modules/urist/GOAI/integrations/smartobject_definitions/ladder.dm
  code/modules/urist/GOAI/integrations/spawners/_base.dm
  code/modules/urist/GOAI/integrations/spawners/mob_commanders.dm
  code/modules/urist/GOAI/integrations/utility_agent/actions/ladder.dm
  code/modules/urist/GOAI/integrations/utility_agent/movement.dm
  code/modules/urist/GOAI/integrations/utility_agent/systems/movement_system.dm
Labels: none

Readds Level3
  maps/nerva/nerva_define.dm
Labels: Nerva

Setup Nerva-Specific Lobby Music List. (#1416)
  maps/nerva/nerva_define.dm
Labels: Nerva

nerfs understanding of gutter, selenian, and sol
  code/modules/mob/language/human/misc/gutter.dm
  code/modules/mob/language/human/selenian.dm
  code/modules/mob/language/human/solcommon.dm
Labels: none

AIs can be antags again
  code/game/antagonist/station/traitor.dm
Labels: none

fix: Fixes to devcode version of 3d movement.
  baystation12.dme
  code/modules/multiz/turf.dm
  code/modules/urist/GOAI/basics/turfs.dm
  code/modules/urist/GOAI/basics/turfs_debug.dm
  code/modules/urist/GOAI/goai_data/smartobject_definitions/ladder.json
  code/modules/urist/GOAI/integrations/devfakes/multiz.dm
  code/modules/urist/GOAI/integrations/utility_agent/movement.dm
  code/modules/urist/GOAI/integrations/utility_agent/systems/movement_system.dm
  code/modules/urist/GOAI/utility/consideration_inputs/pathing.dm
  code/modules/urist/GOAI/utility/context_fetchers/spatial.dm
  goai_data/smartobject_definitions/ladder.json
Labels: none

fix: baymerge regressions
  code/game/antagonist/antagonist_add.dm
  code/game/antagonist/antagonist_create.dm
  code/game/antagonist/station/rogue_ai.dm
  code/game/antagonist/station/traitor.dm
Labels: none

Napalk
  code/modules/urist/datums/uristchem.dm
Labels: none

cargo updates
  code/game/objects/structures/crates_lockers/largecrate.dm
  code/modules/urist/datums/supplycrates.dm
Labels: none

fixes spelling, duplicate opossum, none secure crate
  code/modules/urist/datums/supplycrates.dm
Labels: none

pens can now be hidden in shoes :)
  code/modules/paperwork/pen/pen.dm
Labels: none

updates movie titles
  code/game/movietitles.dm
Labels: none

Updates Pirate Ship
  maps/shipmaps/ship_pirate_small1.dmm
Labels: Map
