Repository UristMcStation/UristMcStation, changes with the labels that .github/labeler.yml gives for each.
All labels: Repo, Map, Icons, Sound, Config Update, Awaymaps, Nerva, Glloydstation, Wyrm

.github/labeler.yml:

Repo:
- changed-files:
  - any-glob-to-any-file:
    - .github/**/*
    - .vscode/**/*
    - docs/**/*
    - scripts/**/*
    - test/**/*
    - tools/**/*
    - .codebeatignore
    - .editorconfig
    - .git*
    - LICENSE
    - README.md
    - SpacemanDMM.toml

Map:
- changed-files:
  - any-glob-to-any-file:
    - '**/*.dmm'

Icons:
- changed-files:
  - any-glob-to-any-file:
    - '**/*.dmi'

Sound:
- changed-files:
  - any-glob-to-any-file:
    - '**/*.ogg'
    - '**/*.wav'
    - '**/*.mp3'

Config Update:
- changed-files:
  - any-glob-to-any-file:
    - config/**/*

Awaymaps:
- changed-files:
  - any-glob-to-any-file:
    - maps/away/**/*

Nerva:
- changed-files:
  - any-glob-to-any-file:
    - maps/nerva/**/*

Glloydstation:
- changed-files:
  - any-glob-to-any-file:
    - maps/glloydstation/**/*

Wyrm:
- changed-files:
  - any-glob-to-any-file:
    - maps/wyrm/**/*

Aliens AI + Wep
  code/modules/mob/living/simple_animal/hostile/alien.dm
  code/modules/mob/living/simple_animal/natural_weapons.dm
Labels: none

Updates Raft
  code/modules/urist/structures/uriststructures.dm
Labels: none

Nano Stuff
  code/game/machinery/suit_cycler.dm
  code/modules/security levels/keycard authentication.dm
Labels: none

keycard and suit cycler
  code/game/machinery/suit_cycler.dm
  code/modules/security levels/keycard authentication.dm
Labels: none

Revert "Nano Stuff"
  code/game/machinery/suit_cycler.dm
  code/modules/security levels/keycard authentication.dm
Labels: none

Chameleon Gloves & Shoes
  code/modules/clothing/chameleon.dm
Labels: none

Updates Flare Gun + Grenade Launcher
  code/modules/projectiles/guns/launcher/grenade_launcher.dm
  code/modules/projectiles/guns/projectile/flaregun.dm
  code/modules/projectiles/projectile/energy.dm
  sound/urist/guns/grenade_launcher_fire.ogg
  sound/urist/guns/grenade_launcher_load.ogg
  sound/urist/guns/grenade_launcher_unload.ogg
  sound/urist/guns/shotgun_fire_flare.ogg
Labels: Sound

RIG Pass - Storage
  code/modules/clothing/spacesuits/rig/suits/combat.dm
  code/modules/clothing/spacesuits/rig/suits/ert.dm
  code/modules/clothing/spacesuits/rig/suits/light.dm
  code/modules/clothing/spacesuits/rig/suits/merc.dm
  code/modules/clothing/spacesuits/rig/suits/station.dm
  code/modules/clothing/spacesuits/rig/suits/vox.dm
Labels: none

Fixes made.
  code/datums/uplink/devices and tools.dm
  code/modules/clothing/head/helmet.dm
  code/modules/urist/mob/uristanimals.dm
Labels: none

Raft Construction Update - (SPAN + Desc) (#1552)
  code/modules/urist/structures/uriststructures.dm
Labels: none

Exploration Command HCM Rig - Module Adjustments + Minor Changes. (#1542)
  maps/nerva/obj/nerva_clothes.dm
Labels: Nerva

Inventory Screen is no longer blinding html white (#1541)
  code/modules/mob/living/carbon/human/human.dm
Labels: none

araneus is a bat again
  code/modules/urist/mob/uristanimals.dm
Labels: none

Updates AI, need to playtest this...
  code/modules/mob/living/simple_animal/hostile/alien.dm
Labels: none

fixes + adjustments
  maps/away/abandoned_colony/abandoned_colony.dmm
Labels: Map, Awaymaps

oh whoops i forgot to make sure you can create a character as them
  code/modules/species/station/lizard_subspecies.dm
Labels: none

maint-alcohol
  code/modules/reagents/Chemistry-Reagents/Chemistry-Reagents-Ethanol.dm
  code/modules/reagents/Chemistry-Recipes.dm
Labels: none

Fixing Bluespace River
  maps/away/blueriver/blueriver-1.dmm
  maps/away/blueriver/blueriver-2.dmm
  maps/away/blueriver/blueriver.dm
Labels: Map, Awaymaps

Ciggarettes + Accessories in loadout, Survival Box
  baystation12.dme
  code/modules/urist/items/miscitems.dm
  maps/nerva/loadout/loadout_accessories.dm
  maps/nerva/loadout/loadout_misc.dm
Labels: Nerva

Parrots now die (sprite-wise) when they are killed.
  code/modules/mob/living/simple_animal/hostile/retaliate/parrot.dm
Labels: none

Final Fix.
  code/modules/mob/living/simple_animal/hostile/retaliate/parrot.dm
Labels: none

squash
  code/modules/organs/robolimbs.dm
  icons/uristmob/species/unathi/nanotrasen/nanotrasen.dmi
  icons/uristmob/species/unathi/uessekaprototyping/uessekaprototyping.dmi
  icons/uristmob/species/unathi/uessekaprototyping/uessekaprototyping_red.dmi
  icons/uristmob/species/unathi/unbranded/unbranded.dmi
Labels: Icons

fixing the legs and feet
  icons/uristmob/species/unathi/nanotrasen/nanotrasen.dmi
  icons/uristmob/species/unathi/uessekaprototyping/uessekaprototyping.dmi
  icons/uristmob/species/unathi/uessekaprototyping/uessekaprototyping_red.dmi
  icons/uristmob/species/unathi/unbranded/unbranded.dmi
Labels: Icons

Final Fix.
  code/modules/mob/living/simple_animal/hostile/retaliate/parrot.dm
Labels: none

Parrots now die (sprite-wise) when they are killed.
  code/modules/mob/living/simple_animal/hostile/retaliate/parrot.dm
Labels: none

squash
  code/modules/organs/robolimbs.dm
  icons/uristmob/species/unathi/nanotrasen/nanotrasen.dmi
  icons/uristmob/species/unathi/uessekaprototyping/uessekaprototyping.dmi
  icons/uristmob/species/unathi/uessekaprototyping/uessekaprototyping_red.dmi
  icons/uristmob/species/unathi/unbranded/unbranded.dmi
Labels: Icons

fixing the legs and feet
  icons/uristmob/species/unathi/nanotrasen/nanotrasen.dmi
  icons/uristmob/species/unathi/uessekaprototyping/uessekaprototyping.dmi
  icons/uristmob/species/unathi/uessekaprototyping/uessekaprototyping_red.dmi
  icons/uristmob/species/unathi/unbranded/unbranded.dmi
Labels: Icons

Fixing Bluespace River
  maps/away/blueriver/blueriver-1.dmm
  maps/away/blueriver/blueriver-2.dmm
  maps/away/blueriver/blueriver.dm
Labels: Map, Awaymaps

lower pop changes.
  code/game/gamemodes/changeling/changeling.dm
  code/game/gamemodes/cult/cult.dm
  code/game/gamemodes/heist/heist.dm
  code/game/gamemodes/mixed/crossfire.dm
  code/game/gamemodes/mixed/pirates.dm
  code/game/gamemodes/mixed/spyvspy.dm
  code/game/gamemodes/mixed/traitorling.dm
  code/game/gamemodes/ninja/ninja.dm
  code/game/gamemodes/nuclear/nuclear.dm
Labels: none

reverts a few before desc + adjusts
  code/game/gamemodes/changeling/changeling.dm
  code/game/gamemodes/cult/cult.dm
  code/game/gamemodes/mixed/traitorling.dm
Labels: none

Credits updated.
  sound/urist/Credits.txt
Labels: none

Moderate Flash, Species to Human Only
  code/modules/clothing/head/helmet.dm
Labels: none

License Update
  sound/urist/Credits.txt
Labels: none
