Repository UristMcStation/UristMcStation, changes with the labels that .github/labeler.yml gives for each.
All labels: Repo, Map, Icons, Sound, Config Update, Awaymaps, Nerva, Glloydstation, Wyrm

on_update_icon
  code/modules/urist/items/radio_jammer.dm
Labels: none

improvised jammer lasts longer
  code/modules/urist/items/radio_jammer.dm
Labels: none

roger doger
  code/modules/urist/machinery/uristvending.dm
Labels: none

Update stealthy_and_inconspicuous_weapons.dm
  code/datums/uplink/stealthy_and_inconspicuous_weapons.dm
Labels: none

i wonder why this was restricted
  code/modules/species/station/lizard_subspecies.dm
Labels: none

android and gynoid clothes sprites
  code/modules/species/station/machine.dm
Labels: none

feature: Discount Dan's drinks, plus reagents and vendomats for them.
  baystation12.dme
  code/modules/urist/modules/discountdans/drinks.dm
  code/modules/urist/modules/discountdans/food.dm
  code/modules/urist/modules/discountdans/reagents.dm
  code/modules/urist/modules/discountdans/vending.dm
Labels: none

fixes naming of the leather work boots craft
  code/modules/urist/modules/materials/recipes_leather.dm
Labels: none

fix: condimaster not dispensing correct bottle type
  code/modules/reagents/Chemistry-Machinery.dm
Labels: none

fix: job panel un-bans + duplicate entries
  code/modules/admin/topic.dm
Labels: none

fix: remove 'rank' from crew records
  nano/templates/crew_records.tmpl
Labels: none

fix: baymerge graffiti regression
  code/game/turfs/simulated.dm
Labels: none

tweak: review suggestion
  code/modules/admin/topic.dm
Labels: none

tweak: review suggestion
  code/modules/admin/topic.dm
Labels: none

fix: baymerge graffiti regression
  code/game/turfs/simulated.dm
Labels: none

fix: remove 'rank' from crew records
  nano/templates/crew_records.tmpl
Labels: none

fix: job panel un-bans + duplicate entries
  code/modules/admin/topic.dm
Labels: none

fix: condimaster not dispensing correct bottle type
  code/modules/reagents/Chemistry-Machinery.dm
Labels: none

fix: MMIs do not store/transfer languages
  code/modules/mob/living/carbon/brain/MMI.dm
  code/modules/organs/internal/brain.dm
  code/modules/organs/internal/species/fbp.dm
Labels: none

fix: drone dropping synthesised stacks
  code/modules/mob/living/silicon/robot/drone/drone_items.dm
Labels: none

fix: removed duplicate gripper
  code/modules/mob/living/silicon/robot/modules/module_engineering.dm
Labels: none

tweak: verbiage
  code/modules/mob/living/silicon/robot/drone/drone_items.dm
Labels: none

Map Push.
  maps/nerva/nerva-1.dmm
  maps/nerva/nerva-2.dmm
  maps/nerva/nerva-3.dmm
  maps/nerva/nerva-4.dmm
  maps/nerva/nerva-5.dmm
Labels: Map, Nerva

please fix...
  maps/nerva/nerva-3.dmm
  maps/nerva/nerva-4.dmm
  maps/nerva/nerva-5.dmm
Labels: Map, Nerva

Fixes Docking Controller Issue (Finally)
  maps/nerva/nerva-3.dmm
  maps/nerva/nerva-4.dmm
Labels: Map, Nerva

Leaky Pipes + Bug Fixes.
  maps/nerva/nerva-1.dmm
  maps/nerva/nerva-2.dmm
  maps/nerva/nerva-3.dmm
  maps/nerva/nerva-4.dmm
Labels: Map, Nerva

First Pass of fixing failed tests.
  maps/nerva/nerva-1.dmm
  maps/nerva/nerva-2.dmm
  maps/nerva/nerva-3.dmm
  maps/nerva/nerva-4.dmm
  maps/nerva/nerva_areas.dm
Labels: Map, Nerva

Second Pass.
  maps/nerva/nerva-1.dmm
  maps/nerva/nerva-2.dmm
  maps/nerva/nerva-3.dmm
  maps/nerva/nerva-4.dmm
Labels: Map, Nerva

Final-ish pass.
  maps/nerva/nerva-1.dmm
  maps/nerva/nerva-2.dmm
  maps/nerva/nerva-3.dmm
  maps/nerva/nerva-4.dmm
Labels: Map, Nerva

holy fuck i made it angry
  maps/nerva/nerva-1.dmm
  maps/nerva/nerva-3.dmm
Labels: Map, Nerva

Updates Unit Test.
  maps/nerva/nerva_unit_testing.dm
Labels: Nerva

First Pass - Listening Post
  maps/away/listeningpost/listening_areas.dm
  maps/away/listeningpost/listening_post.dm
  maps/away/listeningpost/listening_post.dmm
  maps/away/listeningpost/listening_sprites.dmi
Labels: Map, Icons, Awaymaps

fix: missing null check on expected organs
  code/game/objects/items/devices/scanners/health.dm
  code/modules/mob/living/carbon/human/examine.dm
Labels: none

fix: base costume landmarks not spawning random landmarks
  code/game/objects/effects/landmarks.dm
  maps/RandomZLevels/backup/negastation.dmm
  maps/RandomZLevels/negastation.dmm
  maps/glloydstation/Glloydstation2-1.dmm
  maps/glloydstation/Glloydstation2-2.dmm
  maps/nerva/nerva-1.dmm
  maps/nerva/nerva-3.dmm
  maps/nerva/nerva-4.dmm
Labels: Map, Nerva, Glloydstation

Revert Baychange.
  code/game/objects/items/weapons/storage/secure.dm
Labels: none

Changes Heavy Sniper & Hunting Rifle Scoped Accuracy
  code/modules/projectiles/guns/projectile/sniper.dm
  code/modules/urist/modules/resourcetech/tools.dm
Labels: none

updates
  code/modules/projectiles/guns/projectile/sniper.dm
  code/modules/urist/modules/resourcetech/tools.dm
Labels: none

Scope Hotkey.
  interface/skin.dmf
Labels: none

Setup Random Tip System Controller
  code/controllers/subsystems/ticker.dm
Labels: none

ref
  code/controllers/subsystems/ticker.dm
Labels: none

.github/labeler.yml:

Repo:
- changed-files:
  - any-glob-to-any-file:
    - .github/**/*
    - .vscode/**/*
    - docs/**/*
    - scripts/**/*
    - test/**/*
    - tools/**/*
    - .codebeatignore
    - .editorconfig
    - .git*
    - LICENSE
    - README.md
    - SpacemanDMM.toml

Map:
- changed-files:
  - any-glob-to-any-file:
    - '**/*.dmm'

Icons:
- changed-files:
  - any-glob-to-any-file:
    - '**/*.dmi'

Sound:
- changed-files:
  - any-glob-to-any-file:
    - '**/*.ogg'
    - '**/*.wav'
    - '**/*.mp3'

Config Update:
- changed-files:
  - any-glob-to-any-file:
    - config/**/*

Awaymaps:
- changed-files:
  - any-glob-to-any-file:
    - maps/away/**/*

Nerva:
- changed-files:
  - any-glob-to-any-file:
    - maps/nerva/**/*

Glloydstation:
- changed-files:
  - any-glob-to-any-file:
    - maps/glloydstation/**/*

Wyrm:
- changed-files:
  - any-glob-to-any-file:
    - maps/wyrm/**/*
