Repository UristMcStation/UristMcStation, changes with the labels that .github/labeler.yml gives for each.
All labels: Repo, Map, Icons, Sound, Config Update, Awaymaps, Nerva, Glloydstation, Wyrm

.github/labeler.yml:

Repo:
- changed-files:
  - any-glob-to-any-file:
    - .github/**/*
    - .vscode/**/*
    - docs/**/*
    - scripts/**/*
    - test/**/*
    - tools/**/*
    - .codebeatignore
    - .editorconfig
    - .git*
    - LICENSE
    - README.md
    - SpacemanDMM.toml

Map:
- changed-files:
  - any-glob-to-any-file:
    - '**/*.dmm'

Icons:
- changed-files:
  - any-glob-to-any-file:
    - '**/*.dmi'

Sound:
- changed-files:
  - any-glob-to-any-file:
    - '**/*.ogg'
    - '**/*.wav'
    - '**/*.mp3'

Config Update:
- changed-files:
  - any-glob-to-any-file:
    - config/**/*

Awaymaps:
- changed-files:
  - any-glob-to-any-file:
    - maps/away/**/*

Nerva:
- changed-files:
  - any-glob-to-any-file:
    - maps/nerva/**/*

Glloydstation:
- changed-files:
  - any-glob-to-any-file:
    - maps/glloydstation/**/*

Wyrm:
- changed-files:
  - any-glob-to-any-file:
    - maps/wyrm/**/*

Update loadout.dm
  code/modules/client/preference_setup/loadout/loadout.dm
Labels: none

Update xenowear.dm
  code/modules/client/preference_setup/loadout/lists/xenowear.dm
Labels: none

Updates the point comment
  code/modules/client/preference_setup/loadout/loadout.dm
Labels: none

feature: Empty Z-level LODs + 3d AI (#1226)
  code/controllers/configuration.dm
  code/controllers/subsystems/ai.dm
  code/controllers/subsystems/aifast.dm
  code/controllers/subsystems/mobs.dm
  code/controllers/subsystems/presence.dm
  code/modules/ai/ai_holder_movement.dm
  code/modules/ai/ai_holder_pathfinding.dm
  code/modules/ai/interfaces.dm
  code/modules/integrated_electronics/subtypes/smart.dm
  code/modules/mob/living/bot/farmbot.dm
  config/config.txt
  config/example/config.txt
Labels: Config Update

Finish appending from uristclothes.dm
  maps/nerva/loadout/loadout_uniform.dm
Labels: Nerva

Generic items from customitems/item_defines.dm
  maps/nerva/loadout/loadout_suit.dm
  maps/nerva/loadout/loadout_uniform.dm
Labels: Nerva

Append from urist/items/clothes/head.dm
  maps/nerva/loadout/loadout_head.dm
Labels: Nerva

selection of bits from urist module
  maps/nerva/loadout/loadout_eyes.dm
  maps/nerva/loadout/loadout_general.dm
  maps/nerva/loadout/loadout_uniform.dm
Labels: Nerva

add BANG gun and scissors
  maps/nerva/loadout/loadout_general.dm
Labels: Nerva

Sync to GOAI commit 9dbdff49481f1ebd89bed20c22041409ce3cfe9b
  baystation12.dme
  code/modules/urist/GOAI/_a_debug_mode.dm
  code/modules/urist/GOAI/_algorithms/beams.dm
  code/modules/urist/GOAI/_algorithms/metrics.dm
  code/modules/urist/GOAI/_b_debug_modules.dm
  code/modules/urist/GOAI/_defines.dm
  code/modules/urist/GOAI/_utility_defines.dm
  code/modules/urist/GOAI/basics/projectile.dm
  code/modules/urist/GOAI/basics/testing/ui_hackery.dm
  code/modules/urist/GOAI/goai_data/smartobject_definitions/example_agent.json
  code/modules/urist/GOAI/goai_data/smartobject_definitions/gun.json
  code/modules/urist/GOAI/integrations/debug.dm
  code/modules/urist/GOAI/integrations/smartobject_definitions/gun.dm
  code/modules/urist/GOAI/integrations/smartobject_definitions/ladder.dm
  code/modules/urist/GOAI/integrations/smartobject_definitions/table.dm
  code/modules/urist/GOAI/integrations/utility_agent/actions/coverleap.dm
  code/modules/urist/GOAI/integrations/utility_agent/debug.dm
  code/modules/urist/GOAI/integrations/utility_agent/mob_commander/mob_orders.dm
  code/modules/urist/GOAI/integrations/utility_agent/movement.dm
  code/modules/urist/GOAI/integrations/utility_agent/senses/action_senses.dm
  code/modules/urist/GOAI/integrations/utility_agent/senses/pathservice.dm
  code/modules/urist/GOAI/integrations/utility_agent/senses/vision.dm
  code/modules/urist/GOAI/integrations/utility_agent/systems/movement_system.dm
  code/modules/urist/GOAI/utility/README.md
  code/modules/urist/GOAI/utility/brain.dm
  code/modules/urist/GOAI/utility/debug.dm
Labels: none

feature: Adds admin verbs to self-grant GOAI verbs (including a verb to remove them)
  baystation12.dme
  code/modules/admin/admin_verbs.dm
  code/modules/urist/GOAI/integrations/debug.dm
Labels: none

fix: Lintermancy
  code/modules/urist/GOAI/integrations/utility_agent/debug.dm
Labels: none

fixes disposals and power in chapel somewhat
  maps/nerva/nerva-3.dmm
Labels: Map, Nerva

New weak vessel
  maps/shipmaps/ship_pirate_scrapper.dmm
Labels: Map

Flares + Glowsticks now have action buttons.
  code/game/objects/items/devices/flashlight.dm
Labels: none

Lots more Action Buttons.
  code/game/objects/items/devices/radio/radio.dm
  code/game/objects/items/devices/scanners/_scanner.dm
  code/game/objects/items/devices/taperecorder.dm
  code/game/objects/items/devices/tvcamera.dm
  code/game/objects/items/toys.dm
  code/game/objects/items/weapons/extinguisher.dm
  code/game/objects/items/weapons/lighter.dm
  code/game/objects/items/weapons/storage/med_pouch.dm
  code/game/objects/items/weapons/tanks/tanks.dm
  code/modules/clothing/head/soft_caps.dm
  code/modules/games/cards.dm
  code/modules/integrated_electronics/core/prefab/prefabs.dm
  code/modules/modular_computers/computers/subtypes/dev_pda.dm
  code/modules/projectiles/ammunition/boxes.dm
  code/modules/projectiles/guns/energy/nuclear.dm
  code/modules/projectiles/guns/projectile/revolver.dm
  code/modules/projectiles/guns/projectile/shotgun.dm
  code/modules/reagents/reagent_containers/glass.dm
  code/modules/reagents/reagent_containers/glass/bottle.dm
  code/modules/reagents/reagent_containers/spray.dm
Labels: none

fix compile, oops
  code/modules/integrated_electronics/core/prefab/prefabs.dm
Labels: none

Megaphones actually have a larger font
  code/game/objects/items/devices/megaphone.dm
Labels: none

Flare Shots last longer.
  code/modules/projectiles/projectile/energy.dm
Labels: none

Pass on items.
  code/game/objects/items/devices/spy_bug.dm
  code/game/objects/items/weapons/lighter.dm
  code/game/objects/items/weapons/material/coins.dm
  code/game/objects/items/weapons/material/thrown.dm
  code/game/objects/items/weapons/storage/fancy/vials.dm
  code/game/objects/items/weapons/surgery_tools.dm
  code/modules/clothing/masks/smokable.dm
  code/modules/clothing/shoes/miscellaneous.dm
  code/modules/reagents/reagent_containers/pill.dm
Labels: none

pushes traitor stuff
  baystation12.dme
  code/datums/uplink/badassery.dm
  code/datums/uplink/devices and tools.dm
  code/datums/uplink/medical.dm
  code/datums/uplink/reagents_and_plants.dm
  code/datums/uplink/stealth_and_camouflage_items.dm
  code/datums/uplink/uplink_categories.dm
  code/modules/urist/antagonist/uplink_items.dm
Labels: none

First Pass + Rough Sprites
  code/modules/urist/items/clothes/mask.dm
  code/modules/urist/items/clothes/uristclothes.dm
  icons/urist/items/clothes/clothes.dmi
  icons/uristmob/clothes.dmi
Labels: Icons

somewhat fixes.
  icons/uristmob/clothes.dmi
Labels: Icons

Adds Jetfuel.
  code/datums/uplink/reagents_and_plants.dm
Labels: none

kills serum, i aint feeling like its gonna add much
  code/datums/uplink/reagents_and_plants.dm
Labels: none

Adds different text for specific sub-types of flashlight.
  code/game/objects/items/devices/flashlight.dm
Labels: none

you can now fit vials in your shoes, not the whole box
  code/game/objects/items/weapons/storage/fancy/vials.dm
  code/modules/reagents/reagent_containers/glass.dm
Labels: none

first pass
  maps/shipmaps/ship_holonaut.dmm
Labels: Map

big push
  maps/shipmaps/ship_holonaut.dmm
Labels: Map

brainwashing
  code/modules/organs/internal/brain.dm
Labels: none

Adds new ship componenets, hostile ship datum, etc.
  code/modules/urist/modules/shipbattles/overmapships/components/component_weapons.dm
  code/modules/urist/modules/shipbattles/overmapships/components/components.dm
  code/modules/urist/modules/shipbattles/overmapships/hostile_ships.dm
Labels: none

icarus, lost base, slavers fixes.
  maps/away/icarus/icarus-1.dmm
  maps/away/icarus/icarus-2.dmm
  maps/away/lost_supply_base/lost_supply_base.dmm
  maps/away/slavers_base/slavers_base.dmm
Labels: Map, Awaymaps

snow + new snow slower icon for mild
  code/modules/urist/modules/weather/weather_objects.dm
  icons/urist/weather.dmi
  maps/nerva/nerva-5.dmm
Labels: Map, Icons, Nerva

fixes snow icon
  code/modules/urist/modules/weather/weather_defines.dm
Labels: none

Adds to config
  config/shipTemplates.txt
Labels: Config Update

gods strongest error fixer...
  maps/shipmaps/ship_pirate_scrapper.dmm
Labels: Map

fixes a single turf hiding space.
  maps/shipmaps/ship_pirate_scrapper.dmm
Labels: Map

squash 2
  code/modules/urist/datums/supplycrates.dm
  code/modules/urist/items/vgitems.dm
  code/modules/urist/machinery/uristvending.dm
  icons/urist/items/tgitems.dmi
  icons/urist/structures&machinery/machinery.dmi
  maps/nerva/nerva-2.dmm
Labels: Map, Icons, Nerva

Ports & blends auroracode and baycode radio jammer
  baystation12.dme
  code/_onclick/ai.dm
  code/controllers/communications.dm
  code/datums/uplink/devices and tools.dm
  code/game/machinery/_machines_base/machinery.dm
  code/game/machinery/ai_slipper.dm
  code/game/machinery/atmoalter/area_atmos_computer.dm
  code/game/machinery/buttons.dm
  code/game/machinery/camera/tracking.dm
  code/game/machinery/cloning.dm
  code/game/machinery/computer/prisoner.dm
  code/game/machinery/doors/airlock.dm
  code/game/machinery/doors/door_control.dm
  code/game/machinery/doors/firedoor.dm
  code/game/machinery/doors/windowdoor.dm
  code/game/machinery/flasher.dm
  code/game/machinery/hologram.dm
  code/game/machinery/igniter.dm
  code/game/machinery/status_display_ai.dm
  code/game/objects/items/devices/radio/intercom.dm
  code/game/objects/items/devices/radio/radio.dm
  code/game/objects/structures/fireaxe_cabinet.dm
  code/modules/assembly/signaler.dm
  code/modules/mob/living/bot/bot.dm
  code/modules/mob/living/silicon/robot/drone/drone_remote_control.dm
  code/modules/modular_computers/computers/modular_computer/interaction.dm
  code/modules/power/breaker_box.dm
  code/modules/power/cell.dm
  code/modules/power/lighting.dm
  code/modules/power/smes_construction.dm
  code/modules/reagents/Chemistry-Machinery.dm
  code/modules/supermatter/supermatter.dm
  code/modules/telesci/telesci_computer.dm
  code/modules/turbolift/turbolift_console.dm
  code/modules/urist/items/radio_jammer.dm
  code/modules/urist/machinery/store.dm
  icons/urist/obj/device.dmi
  test/check-paths.sh
Labels: Repo, Icons

uncomments a sound
  code/game/objects/items/devices/radio/radio.dm
Labels: none
