Repository UristMcStation/UristMcStation, changes with the labels that .github/labeler.yml gives for each.
All labels: Repo, Map, Icons, Sound, Config Update, Awaymaps, Nerva, Glloydstation, Wyrm

.github/labeler.yml:

Repo:
- changed-files:
  - any-glob-to-any-file:
    - .github/**/*
    - .vscode/**/*
    - docs/**/*
    - scripts/**/*
    - test/**/*
    - tools/**/*
    - .codebeatignore
    - .editorconfig
    - .git*
    - LICENSE
    - README.md
    - SpacemanDMM.toml

Map:
- changed-files:
  - any-glob-to-any-file:
    - '**/*.dmm'

Icons:
- changed-files:
  - any-glob-to-any-file:
    - '**/*.dmi'

Sound:
- changed-files:
  - any-glob-to-any-file:
    - '**/*.ogg'
    - '**/*.wav'
    - '**/*.mp3'

Config Update:
- changed-files:
  - any-glob-to-any-file:
    - config/**/*

Awaymaps:
- changed-files:
  - any-glob-to-any-file:
    - maps/away/**/*

Nerva:
- changed-files:
  - any-glob-to-any-file:
    - maps/nerva/**/*

Glloydstation:
- changed-files:
  - any-glob-to-any-file:
    - maps/glloydstation/**/*

Wyrm:
- changed-files:
  - any-glob-to-any-file:
    - maps/wyrm/**/*

lockers fixed
  maps/nerva/obj/nerva_closets.dm
Labels: Nerva

Adds more holomaps + a wheelchair
  maps/nerva/nerva-1.dmm
  maps/nerva/nerva-2.dmm
  maps/nerva/nerva-3.dmm
  maps/nerva/nerva-4.dmm
Labels: Map, Nerva

Holomaps + Wheelchair
  maps/nerva/nerva-1.dmm
  maps/nerva/nerva-2.dmm
  maps/nerva/nerva-3.dmm
  maps/nerva/nerva-4.dmm
Labels: Map, Nerva

Deletes redundant
  maps/nerva/nerva-3.dmm
Labels: Map, Nerva

Adds a suit cooler to syndicate hardsuit bundle.
  code/game/objects/items/weapons/storage/uplink_kits.dm
Labels: none

take away AI drone access to all radio
  code/modules/mob/living/silicon/robot/drone/drone_remote_control.dm
Labels: none

Adds a suit cooler to syndicate hardsuit bundle.
  code/game/objects/items/weapons/storage/uplink_kits.dm
Labels: none

fix: Sync to latest GOAI repo; fixed runaway AI tickrates, cleaned up logging with MOAR MACROS.
  code/modules/urist/GOAI/_algorithms/linear_algebra.dm
  code/modules/urist/GOAI/_algorithms/raytrace.dm
  code/modules/urist/GOAI/_b_debug_modules.dm
  code/modules/urist/GOAI/_datastructures/action_tracker.dm
  code/modules/urist/GOAI/_defines.dm
  code/modules/urist/GOAI/basics/atom.dm
  code/modules/urist/GOAI/basics/testing/ui_hackery.dm
  code/modules/urist/GOAI/integrations/_defines.dm
  code/modules/urist/GOAI/integrations/devfakes/multiz.dm
  code/modules/urist/GOAI/integrations/utility_agent/actions/debug.dm
  code/modules/urist/GOAI/integrations/utility_agent/actions/flee.dm
  code/modules/urist/GOAI/integrations/utility_agent/actions/ladder.dm
  code/modules/urist/GOAI/integrations/utility_agent/actions/move_to.dm
  code/modules/urist/GOAI/integrations/utility_agent/actions/pickup.dm
  code/modules/urist/GOAI/integrations/utility_agent/actions/request_plan.dm
  code/modules/urist/GOAI/integrations/utility_agent/actions/wrapper.dm
  code/modules/urist/GOAI/integrations/utility_agent/core.dm
  code/modules/urist/GOAI/integrations/utility_agent/debug.dm
  code/modules/urist/GOAI/integrations/utility_agent/faction_commander/faction_commander.dm
  code/modules/urist/GOAI/integrations/utility_agent/mob_commander/mob_commander.dm
  code/modules/urist/GOAI/integrations/utility_agent/planning.dm
  code/modules/urist/GOAI/integrations/utility_agent/systems/movement_system.dm
  code/modules/urist/GOAI/utility/brain.dm
  code/modules/urist/GOAI/utility/consideration_inputs/aggregate.dm
  code/modules/urist/GOAI/utility/consideration_inputs/memory.dm
  code/modules/urist/GOAI/utility/consideration_inputs/pathing.dm
  code/modules/urist/GOAI/utility/consideration_inputs/planning.dm
  code/modules/urist/GOAI/utility/consideration_inputs/spatial.dm
  code/modules/urist/GOAI/utility/context_fetchers.dm
  code/modules/urist/GOAI/utility/context_fetchers/bbox.dm
  code/modules/urist/GOAI/utility/context_fetchers/memory.dm
  code/modules/urist/GOAI/utility/serde.dm
Labels: none

chore: First pass at linter fixes. Definitely not the last.
  code/modules/urist/GOAI/_algorithms/astar.dm
  code/modules/urist/GOAI/basics/_dir_blocker.dm
  code/modules/urist/GOAI/basics/chunkyAstar.dm
  code/modules/urist/GOAI/goap/goap_classy.dm
  code/modules/urist/GOAI/integrations/utility_agent/adjacency_helpers.dm
  code/modules/urist/GOAI/integrations/utility_agent/movement.dm
  code/modules/urist/GOAI/integrations/utility_agent/planning.dm
  code/modules/urist/GOAI/utility/astar.dm
  code/modules/urist/GOAI/utility/context_fetchers/shieldwall.dm
Labels: none

chore: Lints pt. 2
  code/modules/urist/GOAI/_algorithms/astar.dm
  code/modules/urist/GOAI/integrations/_defines.dm
  code/modules/urist/GOAI/integrations/covers.dm
  code/modules/urist/GOAI/integrations/spawners/_base.dm
  code/modules/urist/GOAI/integrations/utility_agent/_defines.dm
  code/modules/urist/GOAI/integrations/utility_agent/mob_commander/combat.dm
Labels: none

chore: Lints pt. 3 - hopefully the last of Dreamchecker ones
  baystation12.dme
  code/modules/urist/GOAI/_algorithms/gaussdist.dm
  code/modules/urist/GOAI/basics/brain.dm
  code/modules/urist/GOAI/basics/chunkyAstar.dm
  code/modules/urist/GOAI/basics/concrete_brains/_concrete.dm
  code/modules/urist/GOAI/basics/memory.dm
  code/modules/urist/GOAI/goap/goap_classy.dm
  code/modules/urist/GOAI/integrations/utility_agent/movement.dm
  code/modules/urist/GOAI/utility/brain.dm
Labels: none

fix: Lints pt. 4: Ironing is delicious Edition
  baystation12.dme
  code/modules/urist/GOAI/__spaceman_dmm.dm
  maps/using.dm
Labels: none

chore: Let's see if that helps with the weird indents lint
  code/modules/urist/GOAI/integrations/utility_agent/planning.dm
Labels: none

chore: Fixes some densities. Reverts the previous failed attempt to fix indents. Actually 'fixes' the problem.
  code/modules/urist/GOAI/basics/turfs.dm
  code/modules/urist/GOAI/integrations/covers.dm
  code/modules/urist/GOAI/integrations/devfakes/covers.dm
  code/modules/urist/GOAI/integrations/utility_agent/planning.dm
Labels: none

chore: Removing old stuff. Replaced duplicate goai_data dirs with compile-flag-conditional locations.
  baystation12.dme
  code/modules/multiz/structures.dm
  code/modules/urist/GOAI/_defines.dm
  code/modules/urist/GOAI/_paths.dm
  code/modules/urist/GOAI/basics/docs/MovementDocs.dot
  code/modules/urist/GOAI/basics/docs/MovementFinderLogic.dot
  code/modules/urist/GOAI/basics/docs/movementCallstack.png
  code/modules/urist/GOAI/basics/docs/movementFinderLogic.png
  code/modules/urist/GOAI/goai_data/smartobject_definitions/simplemob_agent.json
  code/modules/urist/GOAI/integrations/smartobject_definitions/doors.dm
  code/modules/urist/GOAI/integrations/smartobject_definitions/example_agent.dm
  code/modules/urist/GOAI/integrations/smartobject_definitions/gun.dm
  code/modules/urist/GOAI/integrations/smartobject_definitions/ladder.dm
  code/modules/urist/GOAI/integrations/smartobject_definitions/table.dm
  code/modules/urist/GOAI/integrations/utility_agent/planning.dm
  code/modules/urist/GOAI/integrations/utility_agent/senses/pathservice.dm
  genmap.json
  goai_data/abstract_sense.json
  goai_data/dev_sense.json
  goai_data/faction_senses.json
  goai_data/goai_actions.json
  goai_data/personality_templates/combat.json
  goai_data/smartobject_definitions/autodoor.json
  goai_data/smartobject_definitions/door.json
  goai_data/smartobject_definitions/example_agent.json
  goai_data/smartobject_definitions/goapplan.json
  goai_data/smartobject_definitions/gun.json
  goai_data/smartobject_definitions/humanoid_agent.json
  goai_data/smartobject_definitions/ladder.json
  goai_data/smartobject_definitions/movepath.json
  goai_data/smartobject_definitions/simplemob_agent.json
  goai_data/smartobject_definitions/ss13_autodoor.json
  goai_data/smartobject_definitions/ss13_door.json
  goai_data/smartobject_definitions/ss13_table.json
  goai_data/smartobject_definitions/table.json
Labels: none

chore: Squashing lints, methodically.
  code/modules/urist/GOAI/_b_debug_modules.dm
  code/modules/urist/GOAI/basics/projectile.dm
  code/modules/urist/GOAI/demoGoap.dm
  code/modules/urist/GOAI/utility/actiontemplate.dm
  code/modules/urist/GOAI/utility/astar.dm
  code/modules/urist/GOAI/utility/consideration_inputs/aggregate.dm
  code/modules/urist/GOAI/utility/serde.dm
  code/modules/urist/GOAI/utility/smart_objects.dm
Labels: none

pens can now be hidden in shoes :)
  code/modules/paperwork/pen/pen.dm
Labels: none

chore: Code quality fixes. Or adjustments, where I know for sure it's necessary and fine.
  code/modules/urist/GOAI/_algorithms/testing/linreg_debug.dm
  code/modules/urist/GOAI/_algorithms/testing/turfchunk_debug.dm
  code/modules/urist/GOAI/_defines.dm
  test/check-paths.sh
Labels: Repo

chore: More of the same
  code/modules/urist/GOAI/utility/actionset.dm
  code/modules/urist/GOAI/utility/brain.dm
  test/check-paths.sh
Labels: Repo

Posibrains can speak EAL
  code/modules/mob/living/silicon/posi_brainmob.dm
Labels: none

grammatically correct worsening state
  code/modules/mob/living/living.dm
Labels: none

adds a space to stomping on people
  code/modules/mob/living/carbon/human/unarmed_attack.dm
Labels: none

fixes grammar and doo dads
  code/game/movietitles.dm
Labels: none

Removes access issues from Vendors, Suit Cyclers, emags vends
  maps/shipmaps/ship_pirate_small1.dmm
Labels: Map

I don't know how that even broke armbands, but ok lets try to fix it
  maps/nerva/obj/nerva_closets.dm
Labels: Nerva

good job buddy you somehow messed up spelling list()
  maps/shipmaps/ship_pirate_small1.dmm
Labels: Map

Sec Uniform Crates now only loads on Nerva maps.
  code/modules/urist/datums/supplycrates.dm
  maps/nerva/datums/nerva_supplypacks.dm
Labels: Nerva

strongdmm select key (s) moment...
  maps/shipmaps/ship_pirate_small1.dmm
Labels: Map

...
  maps/shipmaps/ship_pirate_small1.dmm
Labels: Map

first pass
  code/modules/modular_computers/file_system/programs/generic/flashlight.dm
Labels: none

Separate Addition into Urist Module
  .gitignore
  code/modules/sprite_accessories/accessory_human.dm
  code/modules/urist/modules/sprite_accesories/accessory_human.txt
  icons/mob/human_races/species/human/bodymods.dmi
  icons/uristmob/species/human/bodymods.dmi
Labels: Repo, Icons

puts the wall timers back
  code/game/objects/structures/girders.dm
  code/game/turfs/simulated/wall_attacks.dm
Labels: none

S
  code/game/objects/structures/girders.dm
Labels: none

Streamlining: mostly engineering-facing (#1417)
  code/modules/materials/recipes_furniture.dm
  code/modules/mob/mob.dm
  code/modules/power/smes_construction.dm
  maps/nerva/obj/nerva_closets.dm
Labels: Nerva

tweak: Grants Coder roles FUN/POSESS/REJUV
  config/admin_ranks.txt
Labels: Config Update

chapel, eva maint, journalists, library, maint, deck 4, pods, etc.
  maps/nerva/nerva-2.dmm
  maps/nerva/nerva-3.dmm
  maps/nerva/nerva-4.dmm
Labels: Map, Nerva

Crowbar to hand instead of "in pocket"
  maps/nerva/datums/nerva_outfits.dm
Labels: Nerva

Appends to nerva map loadout a selection of clothes from uristclothes.dm
  maps/nerva/loadout/loadout_suit.dm
  maps/nerva/loadout/loadout_uniform.dm
Labels: Nerva

big map progress
  maps/nerva/nerva-1.dmm
  maps/nerva/nerva-2.dmm
  maps/nerva/nerva-3.dmm
  maps/nerva/nerva-4.dmm
Labels: Map, Nerva

updates escape pod 5 lvl, carp spawns.
  maps/nerva/nerva-4.dmm
  maps/nerva/nerva-5.dmm
Labels: Map, Nerva
