Repository UristMcStation/UristMcStation, changes with the labels that .github/labeler.yml gives for each.
All labels: Repo, Map, Icons, Sound, Config Update, Awaymaps, Nerva, Glloydstation, Wyrm

.github/labeler.yml:

Repo:
- changed-files:
  - any-glob-to-any-file:
    - .github/**/*
    - .vscode/**/*
    - docs/**/*
    - scripts/**/*
    - test/**/*
    - tools/**/*
    - .codebeatignore
    - .editorconfig
    - .git*
    - LICENSE
    - README.md
    - SpacemanDMM.toml

Map:
- changed-files:
  - any-glob-to-any-file:
    - '**/*.dmm'

Icons:
- changed-files:
  - any-glob-to-any-file:
    - '**/*.dmi'

Sound:
- changed-files:
  - any-glob-to-any-file:
    - '**/*.ogg'
    - '**/*.wav'
    - '**/*.mp3'

Config Update:
- changed-files:
  - any-glob-to-any-file:
    - config/**/*

Awaymaps:
- changed-files:
  - any-glob-to-any-file:
    - maps/away/**/*

Nerva:
- changed-files:
  - any-glob-to-any-file:
    - maps/nerva/**/*

Glloydstation:
- changed-files:
  - any-glob-to-any-file:
    - maps/glloydstation/**/*

Wyrm:
- changed-files:
  - any-glob-to-any-file:
    - maps/wyrm/**/*

Adjusts Toy Vendor
  code/game/machinery/vending/games.dm
Labels: none

now fits in holsters.
  code/modules/urist/items/guns.dm
Labels: none

Sprites
  icons/urist/structures&machinery/machinery.dmi
Labels: Icons

Changes.
  interface/skin.dmf
Labels: none

FaxFakeUI
  code/modules/paperwork/faxmachine.dm
Labels: none

port
  code/game/machinery/alarm.dm
  code/modules/recycling/disposal.dm
Labels: none

adjusts floating text size, width and characters
  code/modules/mob/floating_message.dm
Labels: none

sounds + holo + gloves
  code/game/turfs/flooring/flooring_premade.dm
  code/modules/holodeck/HolodeckObjects.dm
  maps/nerva/nerva_holodecks.dm
Labels: Nerva

fixes bolt for sniper.
  code/modules/projectiles/guns/projectile/sniper.dm
Labels: none

closets are no longer full
  maps/nerva/obj/nerva_closets.dm
Labels: Nerva

now it should work, whoops.
  maps/nerva/obj/nerva_closets.dm
Labels: Nerva

Fixes assistant access issues, hopefully for good.
  code/game/jobs/job/assistant.dm
  maps/nerva/datums/nerva_jobs.dm
  maps/nerva/datums/nerva_outfits.dm
  maps/nerva/obj/nerva_ids.dm
Labels: Nerva

Should fix test fails.
  code/game/jobs/job/assistant.dm
Labels: none

Forced tip.txt config file addition.
  config/tips.txt
Labels: Config Update

Restores space lube, honk
  code/modules/hydroponics/grown.dm
  code/modules/hydroponics/seed_datums.dm
  code/modules/mob/living/silicon/robot/modules/module_janitor.dm
  code/modules/organs/internal/species/vox.dm
  code/modules/urist/datums/uristchem.dm
Labels: none

Tweaks bluespace tomatos
  code/modules/hydroponics/seed_datums.dm
Labels: none

Loadout Tweaks
  maps/nerva/loadout/loadout_accessories.dm
Labels: Nerva

grab bag
  code/datums/uplink/stealth_and_camouflage_items.dm
  code/game/objects/items/devices/uplink_random_lists.dm
  code/game/objects/items/weapons/storage/uplink_kits.dm
  code/modules/urist/items/tgitems.dm
Labels: none

First Pass.
  code/modules/urist/items/storeitems.dm
  code/modules/urist/machinery/uristvending.dm
Labels: none

135+ tips, updates bool, test fixes.
  code/controllers/subsystems/ticker.dm
  config/tips.txt
  test/check-paths.sh
Labels: Repo, Config Update

typo fix
  code/datums/uplink/stealth_and_camouflage_items.dm
Labels: none

fixes characters, ?! included.
  code/modules/mob/floating_message.dm
Labels: none

Fixes a bunch of missing areas - Outerhull now matches for lower hull z-levels
  maps/nerva/nerva-1.dmm
  maps/nerva/nerva-2.dmm
  maps/nerva/nerva-3.dmm
  maps/nerva/nerva-4.dmm
Labels: Map, Nerva

Psych can be cultist, Rev can no longer be on submap.
  code/game/antagonist/station/cultist.dm
  code/game/antagonist/station/revolutionary.dm
Labels: none

lower pop changes.
  code/game/gamemodes/changeling/changeling.dm
  code/game/gamemodes/cult/cult.dm
  code/game/gamemodes/heist/heist.dm
  code/game/gamemodes/mixed/crossfire.dm
  code/game/gamemodes/mixed/pirates.dm
  code/game/gamemodes/mixed/spyvspy.dm
  code/game/gamemodes/mixed/traitorling.dm
  code/game/gamemodes/ninja/ninja.dm
  code/game/gamemodes/nuclear/nuclear.dm
Labels: none

reverts a few before desc + adjusts
  code/game/gamemodes/changeling/changeling.dm
  code/game/gamemodes/cult/cult.dm
  code/game/gamemodes/mixed/traitorling.dm
Labels: none

Updates based on feedback
  config/tips.txt
Labels: Config Update

fixes
  code/modules/mob/floating_message.dm
Labels: none

chapel, eva maint, journalists, library, maint, deck 4, pods, etc.
  maps/nerva/nerva-2.dmm
  maps/nerva/nerva-3.dmm
  maps/nerva/nerva-4.dmm
Labels: Map, Nerva

big map progress
  maps/nerva/nerva-1.dmm
  maps/nerva/nerva-2.dmm
  maps/nerva/nerva-3.dmm
  maps/nerva/nerva-4.dmm
Labels: Map, Nerva

please fix...
  maps/nerva/nerva-3.dmm
  maps/nerva/nerva-4.dmm
  maps/nerva/nerva-5.dmm
Labels: Map, Nerva

Fixes Docking Controller Issue (Finally)
  maps/nerva/nerva-3.dmm
  maps/nerva/nerva-4.dmm
Labels: Map, Nerva

Leaky Pipes + Bug Fixes.
  maps/nerva/nerva-1.dmm
  maps/nerva/nerva-2.dmm
  maps/nerva/nerva-3.dmm
  maps/nerva/nerva-4.dmm
Labels: Map, Nerva

Map Push.
  maps/nerva/nerva-1.dmm
  maps/nerva/nerva-2.dmm
  maps/nerva/nerva-3.dmm
  maps/nerva/nerva-4.dmm
  maps/nerva/nerva-5.dmm
Labels: Map, Nerva

Second Pass.
  maps/nerva/nerva-1.dmm
  maps/nerva/nerva-2.dmm
  maps/nerva/nerva-3.dmm
  maps/nerva/nerva-4.dmm
Labels: Map, Nerva

updates escape pod 5 lvl, carp spawns.
  maps/nerva/nerva-4.dmm
  maps/nerva/nerva-5.dmm
Labels: Map, Nerva

fixes disposals and power in chapel somewhat
  maps/nerva/nerva-3.dmm
Labels: Map, Nerva

Final-ish pass.
  maps/nerva/nerva-1.dmm
  maps/nerva/nerva-2.dmm
  maps/nerva/nerva-3.dmm
  maps/nerva/nerva-4.dmm
Labels: Map, Nerva

First Pass of fixing failed tests.
  maps/nerva/nerva-1.dmm
  maps/nerva/nerva-2.dmm
  maps/nerva/nerva-3.dmm
  maps/nerva/nerva-4.dmm
  maps/nerva/nerva_areas.dm
Labels: Map, Nerva

Fixes a bunch of missing areas - Outerhull now matches for lower hull z-levels
  maps/nerva/nerva-1.dmm
  maps/nerva/nerva-2.dmm
  maps/nerva/nerva-3.dmm
  maps/nerva/nerva-4.dmm
Labels: Map, Nerva
