Repository UristMcStation/UristMcStation, pull requests merged in 2018-10, with the labels that each got.

#611 Removes the last holdouts from the skill-effect purge.
  code/game/machinery/adv_med.dm
  code/game/objects/items.dm
  code/game/objects/items/devices/inducer.dm
  code/game/objects/structures/plasticflaps.dm
  code/modules/hydroponics/trays/tray.dm
  code/modules/integrated_electronics/core/assemblies.dm
  code/modules/reagents/reagent_containers/food/fish.dm
  code/modules/species/species.dm
Labels: Balance, Fucking Bay, Oversight

#612 Nerva Update
  baystation12.dme
  code/datums/supplypacks/atmospherics.dm
  code/datums/supplypacks/materials.dm
  code/modules/urist/gamemodes/infestation/aliens/lactera.dm
  code/modules/urist/modules/newtrading/NPC/NPC_types/simple_traders.dm
  code/modules/urist/modules/newtrading/NPC/npc_buysell.dm
  code/modules/urist/modules/newtrading/NPC/npc_setup_trade.dm
  code/modules/urist/modules/newtrading/trade/trade_category.dm
  code/modules/urist/modules/newtrading/trade/trade_item.dm
  code/modules/urist/modules/newtrading/trade/trade_items/atmos-nonbulky.dm
  code/modules/urist/modules/newtrading/trade/trade_items/bulky.dm
  code/modules/urist/modules/newtrading/trade/trade_items/ore.dm
  code/modules/urist/modules/newtrading/trade/trade_items/tools.dm
  code/modules/urist/modules/shipbattles/weapons.dm
  config/admins.txt
  icons/urist/96x96.dmi
  icons/urist/items/clothes/ties.dmi
  icons/urist/structures&machinery/64x64machinery.dmi
  icons/uristmob/ties.dmi
  maps/away/stations/nanotrasentrading.dmm
  maps/away/stations/nerva_stations.dm
  maps/nerva/datums/nerva_jobs.dm
  maps/nerva/fluff/_fluff.dm
  maps/nerva/fluff/culture.dm
  maps/nerva/fluff/factions.dm
  maps/nerva/fluff/locations_human.dm
  maps/nerva/nerva-1.dmm
  maps/nerva/nerva-2.dmm
  maps/nerva/nerva-3.dmm
  maps/nerva/nerva-4.dmm
  maps/nerva/nerva.dm
  maps/nerva/nerva_areas.dm
  maps/nerva/nerva_define.dm
  maps/nerva/nerva_overmap.dm
  maps/nerva/nerva_shuttles.dm
  maps/nerva/obj/nerva_closets.dm
  maps/nerva/obj/nerva_clothes.dm
  maps/random_ruins/exoplanet_ruins/lodge/lodge.dmm
Labels: Bugfix, Feature, Fluff, Map, Nerva

#613 Fixes the Icarus Away
  maps/away/icarus/icarus-1.dmm
  maps/away/icarus/icarus-2.dmm
Labels: Bugfix, Fucking Bay, Map

#614 Updates planets to the new lighting system
  code/modules/overmap/exoplanets/desert.dm
  code/modules/overmap/exoplanets/exoplanet.dm
  code/modules/overmap/exoplanets/garbage.dm
  code/modules/overmap/exoplanets/grass.dm
  code/modules/overmap/exoplanets/mountain.dm
  code/modules/overmap/exoplanets/snow.dm
Labels: Bugfix, Fucking Bay, Map

#615 Nerva stuff for this weekend's test
  baystation12.dme
  code/controllers/subsystems/supply.dm
  code/modules/mob/living/simple_animal/hostile/hostile2.dm
  code/modules/urist/gamemodes/scom/mobs.dm
  code/modules/urist/items/clothstuff.dm
  code/modules/urist/items/guns.dm
  code/modules/urist/items/tgbedsheets.dm
  code/modules/urist/items/tgitems.dm
  code/modules/urist/machinery/misc.dm
  code/modules/urist/modules/newtrading/NPC/NPC_types/contract_givers.dm
  code/modules/urist/modules/newtrading/NPC/NPC_types/simple_traders.dm
  code/modules/urist/modules/newtrading/NPC/npc.dm
  code/modules/urist/modules/newtrading/NPC/npc_buysell.dm
  code/modules/urist/modules/newtrading/NPC/npc_listen.dm
  code/modules/urist/modules/newtrading/NPC/npc_setup_trade.dm
  code/modules/urist/modules/newtrading/NPC/speech_response.dm
  code/modules/urist/modules/newtrading/contracts.dm
  code/modules/urist/modules/newtrading/trade/trade_category.dm
  code/modules/urist/modules/newtrading/trade/trade_items/contracts.dm
  code/modules/urist/modules/newtrading/trade/trade_items/food.dm
  code/modules/urist/modules/shipbattles/overmapships.dm
  code/modules/urist/modules/shipbattles/weapons.dm
  code/modules/xenoarcheaology/tools/artifact_analyser.dm
  config/config.txt
  icons/urist/items/improvised.dmi
  maps/GamemodeMaps/missions2.dmm
  maps/away/stations/nanotrasentrading.dmm
  maps/nerva/datums/nerva_jobs.dm
  maps/nerva/datums/nerva_outfits.dm
  maps/nerva/fluff/_fluff.dm
  maps/nerva/nerva-1.dmm
  maps/nerva/nerva-2.dmm
  maps/nerva/nerva-3.dmm
  maps/nerva/nerva-4.dmm
  maps/nerva/nerva.dm
  maps/nerva/nerva_shuttles.dm
  maps/nerva/obj/nerva_closets.dm
  maps/nerva/obj/nerva_items.dm
  maps/~mapsystem/maps.dm
Labels: Bugfix, Feature, Icons, Map, Nerva

#616 Fixes Nerva's issues with smelting.
  maps/nerva/nerva-1.dmm
Labels: Bugfix, Map, Nerva
