Repository UristMcStation/UristMcStation, pull requests merged in 2018-07, with the labels that each got.

#594 More Nerva Stuff
  maps/nerva/nerva-2.dmm
  maps/nerva/nerva-3.dmm
  maps/nerva/nerva_define.dm
  maps/nerva/nerva_lobby.dmi
Labels: Icons, Map, Nerva

#596 Several minor bug fixes and Wyrm updates.
  code/datums/outfits/jobs/science.dm
  code/game/objects/items/weapons/grenades/prank_grenades.dm
  code/modules/client/preference_setup/loadout/lists/earwear.dm
  code/modules/clothing/spacesuits/void/station.dm
  icons/mob/human_races/species/human/body.dmi
  maps/away/icarus/icarus-1.dmm
  maps/away/icarus/icarus-2.dmm
  maps/away/icarus/icarus.dm
  maps/wyrm/Loadout/loadout_uniform.dm
  maps/wyrm/wyrm-1.dmm
  maps/wyrm/wyrm-2.dmm
  maps/wyrm/wyrm_jobs.dm
  maps/wyrm/wyrm_overmap.dm
Labels: Bugfix, Icons, Map, Wyrm

#597 Critical Wyrm shuttle fixes.
  maps/away/contact_light/contact_light.dm
  maps/wyrm/wyrm_overmap.dm
Labels: Bugfix, Wyrm

#598 Too much Nerva stuff to list
  baystation12.dme
  code/modules/admin/verbs/debug.dm
  code/modules/economy/cash.dm
  code/modules/urist/decals/urist.dm
  code/modules/urist/modules/newtrading/NPC/npc.dm
  code/modules/urist/modules/newtrading/NPC/npc.dmi
  code/modules/urist/modules/newtrading/NPC/npc_buysell.dm
  code/modules/urist/modules/newtrading/NPC/npc_interact.dm
  code/modules/urist/modules/newtrading/NPC/npc_listen.dm
  code/modules/urist/modules/newtrading/NPC/npc_new.dm
  code/modules/urist/modules/newtrading/NPC/npc_setup_trade.dm
  code/modules/urist/modules/newtrading/NPC/npc_trade.dm
  code/modules/urist/modules/newtrading/NPC/speech_response.dm
  code/modules/urist/modules/newtrading/stations.dm
  code/modules/urist/modules/newtrading/trade/_trade_controller.dm
  code/modules/urist/modules/newtrading/trade/trade_category.dm
  code/modules/urist/modules/newtrading/trade/trade_item.dm
  code/modules/urist/modules/shipbattles/combatcomputer.dm
  code/modules/urist/modules/shipbattles/components.dm
  code/modules/urist/modules/shipbattles/overmapships.dm
  code/modules/urist/modules/shipbattles/shipdatums.dm
  code/modules/urist/modules/shipbattles/weapons.dm
  code/modules/urist/structures/closets.dm
  icons/urist/96x96.dmi
  icons/urist/decals/urist.dmi
  icons/urist/misc/overmap.dmi
  icons/urist/structures&machinery/64x64machinery.dmi
  interface/skin.dmf
  maps/away/stations/nanotrasentrading.dmm
  maps/away/stations/nerva_stations.dm
  maps/away/stations/station_areas.dm
  maps/nerva/nerva-1.dmm
  maps/nerva/nerva-2.dmm
  maps/nerva/nerva-3.dmm
  maps/nerva/nerva.dm
  maps/nerva/nerva_areas.dm
  maps/nerva/nerva_define.dm
  maps/nerva/nerva_jobs.dm
  maps/nerva/nerva_overmap.dm
  maps/nerva/nerva_presets.dm
Labels: Feature, Icons, Map, Nerva
