Repository UristMcStation/UristMcStation, pull requests merged in 2018-08, with the labels that each got.

#595 Language changes
  code/modules/mob/language/generic.dm
  code/modules/mob/language/monkey.dm
  code/modules/mob/language/station.dm
  code/modules/mob/living/carbon/human/species/station/human_subspecies.dm
Labels: Do Not Merge, Feature

#602 Fixes some bugs that appeared post-merge
  code/game/objects/items/weapons/candle.dm
  code/modules/reagents/Chemistry-Machinery.dm
  maps/glloydstation/Glloydstation2-1.dmm
  maps/glloydstation/Glloydstation2-2.dmm
Labels: Bugfix, Glloydstation, Map

#601 More Wyrm fixes, primarily fire alarms and the merchant station.
  code/modules/xenoarcheaology/finds/misc.dm
  maps/wyrm/wyrm-1.dmm
  maps/wyrm/wyrm-2.dmm
  maps/wyrm/wyrm-3.dmm
Labels: Bugfix, Map, Wyrm

#604 Fixes missing pipes
  maps/glloydstation/Glloydstation2-1.dmm
Labels: Glloydstation, Map
