Repository UristMcStation/UristMcStation, pull requests merged in 2019-03, with the labels that each got.

#621 Fixes+Tweaks
  baystation12.dme
  code/_macros.dm
  code/game/world.dm
  code/modules/urist/_maps/templates.dm
  code/modules/urist/modules/jungle/planet_areas.dm
  code/modules/urist/modules/shipbattles/components.dm
  code/modules/urist/modules/shipbattles/overmapships.dm
  code/modules/urist/modules/shipbattles/ship_contact.dm
  code/modules/urist/modules/shipbattles/ship_landmarks.dm
  code/modules/urist/modules/shipbattles/ship_overmaps.dm
  code/modules/urist/modules/shipbattles/weapons.dm
  config/config.txt
  maps/away/destroyed_colony/destroyed_colony.dm
  maps/away/destroyed_colony/destroyed_colony.dmm
  maps/away/glloyd_jungle/glloyd_jungle.dm
  maps/away/glloyd_jungle/glloyd_jungle.dmm
  maps/glloydstation/Glloydstation2-1.dmm
  maps/glloydstation/Glloydstation2-2.dmm
  maps/glloydstation/Glloydstation2-7.dmm
  maps/glloydstation/backup/Glloydstation2-7.dmm
  maps/glloydstation/glloydstation_shuttles.dm
  maps/glloydstation/glloydstation_unit_testing.dm
  maps/nerva/nerva-2.dmm
  maps/nerva/nerva-3.dmm
  maps/nerva/nerva_areas.dm
  maps/nerva/nerva_overmap.dm
  maps/shipmaps/ship_fastattackcraft_terran.dmm
  maps/shipmaps/ship_pirate_small1.dmm
  maps/shipmaps/ship_rebel_small1.dmm
  maps/templates/assault_planet_1.dmm
  maps/templates/assault_planet_2.dmm
  maps/templates/assault_planet_5.dmm
  maps/templates/planet_cave1.dmm
  maps/templates/planet_clearing1.dmm
  maps/templates/planet_crashed_pod.dmm
  maps/templates/planet_cultchapel1.dmm
  maps/templates/planet_j_pen_ruins.dmm
  maps/wyrm/wyrm_areas.dm
  maps/wyrm/wyrm_overmap.dm
  maps/wyrm/wyrm_unit_testing.dm
Labels: Glloydstation, Map, Nerva

#622 Assorted Teshari Updates
  baystation12.dme
  code/__defines/culture.dm
  code/modules/culture_descriptor/culture/cultures_teshari.dm
  code/modules/culture_descriptor/faction/factions_teshari.dm
  code/modules/species/station/teshari.dm
Labels: Bugfix, Fluff

#624 Virus Hotfixes
  code/modules/events/viral_outbreak.dm
  code/modules/virus2/disease2.dm
  code/modules/virus2/helpers.dm
Labels: Bugfix

#625 Fixes the light overflow bug causing blackness on the colony away map.
  code/modules/urist/modules/jungle/planet_turfs.dm
Labels: Bugfix, Planet

#623 Various Admin things + fixes
  .travis.yml
  code/controllers/evacuation/evacuation_pods.dm
  code/game/antagonist/outsider/raider.dm
  code/modules/client/preference_setup/general/02_body.dm
  code/modules/urist/_maps/templates.dm
  code/modules/urist/items/miscitems.dm
  code/modules/urist/modules/donate.dm
  code/modules/urist/modules/jungle/planet_turfs.dm
  code/modules/urist/modules/newtrading/stations.dm
  code/modules/urist/modules/shipbattles/combatcomputer.dm
  code/modules/urist/modules/shipbattles/overmapships.dm
  code/modules/urist/modules/shipbattles/ship_projectiles.dm
  code/modules/urist/modules/shipbattles/weapons.dm
  config/admin_ranks.txt
  config/admins.txt
  config/away_site_blacklist.txt
  config/config.txt
  config/exoplanet_ruin_blacklist.txt
  config/motd.txt
  config/rules.html
  config/shipTemplates.txt
  config/space_ruin_blacklist.txt
  interface/interface.dm
  interface/skin.dmf
  maps/away/stations/nanotrasentrading.dmm
  maps/glloydstation/glloydstation_unit_testing.dm
  maps/nerva/Loadout/loadout_uniform.dm
  maps/nerva/datums/nerva_outfits.dm
  maps/nerva/fluff/_fluff.dm
  maps/nerva/fluff/species_overrides.dm
  maps/nerva/nerva-1.dmm
  maps/nerva/nerva-2.dmm
  maps/nerva/nerva-3.dmm
  maps/nerva/nerva.dm
  maps/nerva/obj/nerva_closets.dm
Labels: Bugfix, Map, Nerva

#627 making a pointless change to see what the fuck is up with github
  maps/nerva/nerva-1.dmm
Labels: What the Fuck

#628 Tweaks organ decay treatment
  code/modules/reagents/Chemistry-Reagents/Chemistry-Reagents-Medicine.dm
  code/modules/surgery/organs_internal.dm
Labels: enhancement
