Repository UristMcStation/UristMcStation, pull requests merged in 2019-08, with the labels that each got.

#789 gives doctors maint access
  maps/nerva/datums/nerva_jobs.dm
Labels: Enhancement, Nerva

#790 NPC Overhaul
  code/modules/mob/hear_say.dm
  code/modules/mob/living/simple_animal/simple_animal.dm
  code/modules/urist/modules/newtrading/NPC/NPC_types/colonist.dm
  code/modules/urist/modules/newtrading/NPC/NPC_types/complex_traders.dm
  code/modules/urist/modules/newtrading/NPC/NPC_types/contract_givers.dm
  code/modules/urist/modules/newtrading/NPC/NPC_types/simple_traders.dm
  code/modules/urist/modules/newtrading/NPC/NPC_types/weapon_smuggler.dm
  code/modules/urist/modules/newtrading/NPC/npc.dm
  code/modules/urist/modules/newtrading/NPC/npc.dmi
  code/modules/urist/modules/newtrading/NPC/npc_interact.dm
  code/modules/urist/modules/newtrading/NPC/npc_listen.dm
  code/modules/urist/modules/newtrading/NPC/npc_new.dm
  code/modules/urist/modules/newtrading/NPC/speech_response.dm
  maps/away/stations/nanotrasentrading.dmm
  nano/templates/npc.tmpl
Labels: Awaymaps, Feature, Icons, Map, Nerva, Refactor

#725 Holobarrier port from TG.
  baystation12.dme
  code/modules/urist/items/hologram_creator.dm
  code/modules/urist/items/tgitems.dm
  icons/urist/items/hologram_creator.dmi
  icons/urist/items/tgitems.dmi
  test/check-paths.sh
Labels: Feature, Icons

#791 Pulse Rifle Fixes
  code/game/mecha/equipment/weapons/weapons.dm
Labels: Bugfix

#794 huge map update
  code/controllers/payment.dm
  code/modules/clothing/under/accessories/armband.dm
  maps/nerva/datums/nerva_jobs.dm
  maps/nerva/nerva-1.dmm
  maps/nerva/nerva-2.dmm
  maps/nerva/nerva-3.dmm
  maps/nerva/nerva-4.dmm
  maps/nerva/nerva_areas.dm
  maps/nerva/nerva_presets.dm
  maps/nerva/nerva_unit_testing.dm
Labels: Bugfix, Map, Nerva

#801 Map fixes on behalf of Glloyd
  maps/nerva/nerva-1.dmm
  maps/nerva/nerva-3.dmm
Labels: Bugfix, Map, Nerva
