Repository UristMcStation/UristMcStation, pull requests merged in 2019-04, with the labels that each got.

#629 Adds a Medical/Security suit cycler to EVA
  maps/nerva/nerva-2.dmm
Labels: Map, Nerva

#630 Map fixes/tweaks + config tweaks
  code/modules/surgery/robotics.dm
  code/modules/urist/_maps/templates.dm
  code/modules/urist/modules/shipbattles/overmapships.dm
  code/modules/urist/modules/shipbattles/ship_overmaps.dm
  code/modules/urist/modules/shipbattles/weapons.dm
  config/config.txt
  maps/nerva/datums/nerva_jobs.dm
  maps/nerva/fluff/factions.dm
  maps/nerva/fluff/locations_human.dm
  maps/nerva/nerva-1.dmm
  maps/nerva/nerva-2.dmm
  maps/nerva/nerva-3.dmm
  maps/nerva/nerva_define.dm
  maps/nerva/obj/nerva_clothes.dm
  maps/shipmaps/ship_pirate_small1.dmm
Labels: Bugfix, Map, Nerva

#631 quick little stowaway fixes
  maps/nerva/datums/nerva_outfits.dm
  maps/nerva/nerva-1.dmm
  maps/nerva/nerva-2.dmm
Labels: Bugfix, Map, Nerva

#632 Adds Subgrids.
  maps/nerva/nerva-1.dmm
  maps/nerva/nerva-2.dmm
  maps/nerva/nerva-3.dmm
  maps/nerva/nerva_areas.dm
  maps/nerva/nerva_unit_testing.dm
Labels: Map, Nerva

#634 Holodeck stuff + critical fixes
  code/game/area/areas.dm
  code/modules/mob/living/bot/cleanbot.dm
  code/modules/urist/area&turf/turfs.dm
  code/modules/urist/machinery/uristvending.dm
  code/modules/urist/modules/jungle/planet_turfs.dm
  code/modules/urist/modules/shipbattles/weapons.dm
  maps/nerva/nerva-1.dmm
  maps/nerva/nerva-2.dmm
  maps/nerva/nerva-3.dmm
  maps/nerva/nerva-4.dmm
  maps/nerva/nerva_areas.dm
  maps/nerva/nerva_holodecks.dm
Labels: CALL THE SHUTTLE, Map, Nerva, Planet

#635 fixes the holodeck
  maps/nerva/nerva-1.dmm
Labels: Bugfix, Map, Nerva

#636 fixes the autodrobe
  maps/nerva/nerva-1.dmm
Labels: Map, Nerva, Oversight

#637 Makes the Bearcat NOT slow.
  maps/away/bearcat/bearcat.dm
Labels: Awaymaps, Balance, Fucking Bay

#638 minor things
  code/modules/urist/modules/jungle/planet_trees.dm
  code/modules/urist/modules/shipbattles/ship_overmaps.dm
  maps/nerva/nerva-1.dmm
  maps/nerva/nerva_overmap.dm
Labels: Bugfix, Map, Nerva

#640 Exoplanets no longer have atmospheres of steam below the dewpoint of water.
  code/modules/overmap/exoplanets/exoplanet.dm
Labels: Awaymaps, Bugfix, Fucking Bay

#641 Generic bugfixes
  code/datums/uplink/services.dm
  code/game/antagonist/station/cult_god.dm
  code/game/objects/items/devices/spy_bug.dm
  code/modules/events/viral_outbreak.dm
  code/modules/hydroponics/trays/tray_soil.dm
  code/modules/mob/living/bot/ed209bot.dm
  code/modules/organs/external/head.dm
  code/modules/organs/external/wounds/wound_types.dm
  code/modules/organs/internal/stack.dm
  code/modules/persistence/filth.dm
  code/modules/virus2/antibodyanalyser.dm
  maps/away/blueriver/blueriver.dm
  maps/nerva/Loadout/loadout_suit.dm
  maps/nerva/nerva-1.dmm
  maps/nerva/nerva_define.dm
Labels: Bugfix, Formatting, Fucking Bay

#642 Medical balance and tweaks
  code/modules/organs/external/_external_damage.dm
  code/modules/organs/internal/lungs.dm
  code/modules/reagents/Chemistry-Reagents/Chemistry-Reagents-Medicine.dm
  code/modules/reagents/Chemistry-Recipes.dm
  code/modules/urist/items/uristmed.dm
  code/modules/urist/items/uristpills.dm
Labels: Balance

#647 Critical server crashing fix
  code/game/area/areas.dm
Labels: Bugfix, CALL THE SHUTTLE, Priority: CRITICAL

#644 Warns on damaged organ removal and makes choice not to remove matter.
  code/modules/surgery/implant.dm
  code/modules/surgery/organs_internal.dm
Labels: Balance, enhancement

#645 Medical bugfixes
  code/__defines/mobs.dm
  code/modules/mob/living/carbon/human/death.dm
  code/modules/organs/robolimbs.dm
  code/modules/surgery/organs_internal.dm
  code/modules/surgery/surgery.dm
  icons/mob/human_races/species/skrell/organs.dmi
  icons/mob/human_races/species/unathi/organs.dmi
Labels: Bugfix

#646 Deobfuscates medical scanners.
  code/game/machinery/adv_med.dm
  code/game/objects/items/devices/scanners.dm
Labels: Balance, Fucking Bay

#643 Bearcat Improvements
  maps/away/bearcat/bearcat-1.dmm
  maps/away/bearcat/bearcat.dm
  maps/away/bearcat/bearcat_shuttle.dm
Labels: Awaymaps, Feature, Map

#649 Adds almost all dual & triple antag gamemodes, reworks secret's probability, and hides add_antag's results.
  code/controllers/voting.dm
  code/game/gamemodes/changeling/changeling.dm
  code/game/gamemodes/game_mode.dm
  code/game/gamemodes/gameticker.dm
  code/game/gamemodes/malfunction/malfunction.dm
  code/game/gamemodes/meteor/meteor.dm
  code/game/gamemodes/mixed/conflux.dm
  code/game/gamemodes/mixed/crossfire.dm
  code/game/gamemodes/mixed/intrigue.dm
  code/game/gamemodes/mixed/uprising.dm
  code/game/gamemodes/mixed/visitors.dm
  code/game/gamemodes/ninja/ninja.dm
  code/game/gamemodes/nuclear/nuclear.dm
  code/game/gamemodes/wizard/wizard.dm
  code/modules/urist/gamemodes/scom/scom.dm
  code/modules/urist/gamemodes/vampire/vampire.dm
  config/config.txt
Labels: Balance, CALL THE SHUTTLE, Refactor

#652 Medical mapping change
  maps/nerva/nerva-2.dmm
Labels: Bugfix, Map, Nerva

#651 Additional medical balances and bugfixes
  code/game/machinery/adv_med.dm
  code/game/machinery/cloning.dm
  code/game/objects/items/devices/scanners.dm
  code/game/objects/items/weapons/storage/med_pouch.dm
  code/modules/organs/internal/_internal.dm
  code/modules/reagents/Chemistry-Reagents/Chemistry-Reagents-Medicine.dm
  code/modules/urist/items/uristpills.dm
Labels: Balance, Bugfix

#656 Various Glloydstation Fixes
  code/game/jobs/job/security.dm
  maps/glloydstation/Glloydstation2-1.dmm
Labels: Bugfix, Glloydstation, Map

#654 Make the ore processor more safe
  code/modules/mining/machinery/mineral_processor.dm
Labels: Bugfix, Refactor

#657 Big hefty Lactera and ANFOR update + misc fixes and tweaks
  baystation12.dme
  code/__defines/culture.dm
  code/modules/urist/datums/uristoutfits.dm
  code/modules/urist/gamemodes/assault/alien_equipment.dm
  code/modules/urist/gamemodes/assault/human_equipment.dm
  code/modules/urist/gamemodes/infestation/aliens/alien_fluff.dm
  code/modules/urist/gamemodes/infestation/aliens/lactera.dm
  code/modules/urist/gamemodes/infestation/machinery.dm
  code/modules/urist/gamemodes/infestation/weapons&armour.dm
  code/modules/urist/gamemodes/scom/mobs.dm
  code/modules/urist/gamemodes/scom/science.dm
  code/modules/urist/items/clothes/uristclothes.dm
  code/modules/urist/items/guns.dm
  code/modules/urist/modules/newtrading/contract_papers.dm
  code/modules/urist/modules/newtrading/contracts.dm
  code/modules/urist/modules/shipbattles/combatcomputer.dm
  code/modules/urist/modules/shipbattles/component_weapons.dm
  code/modules/urist/modules/shipbattles/overmapships.dm
  code/modules/urist/modules/shipbattles/ship_landmarks.dm
  code/modules/urist/modules/shipbattles/ship_projectiles.dm
  code/modules/urist/modules/shipbattles/weapons.dm
  code/modules/urist/structures/boardingstructures.dm
  code/modules/urist/structures/uriststructures.dm
  config/config.txt
  config/shipTemplates.txt
  icons/urist/items/clothes/clothes.dmi
  icons/urist/items/clothes/head.dmi
  icons/urist/items/clothes/lactera.dmi
  icons/urist/items/guns.dmi
  icons/urist/items/guns48x32.dmi
  icons/urist/items/ship_projectiles.dmi
  icons/urist/items/uristweapons.dmi
  icons/uristmob/back.dmi
  icons/uristmob/clothes.dmi
  icons/uristmob/head.dmi
  icons/uristmob/items_lefthand.dmi
  icons/uristmob/items_lefthand48x32.dmi
  icons/uristmob/items_righthand.dmi
  icons/uristmob/items_righthand48x32.dmi
  icons/uristmob/r_lactera.dmi
  icons/uristmob/scommobs.dmi
  interface/interface.dm
  maps/nerva/fluff/alien_fluff.dm
  maps/nerva/nerva.dm
  maps/shipmaps/ship_fastattackcraft_terran.dmm
  maps/shipmaps/ship_lactera_small.dmm
  maps/shipmaps/ship_light_freighter.dmm
  maps/shipmaps/ship_pirate_small1.dmm
  maps/shipmaps/ship_rebel_small1.dmm
Labels: Bugfix, Feature, Icons, Map, Nerva

#659 further lactera fixes, ship hunting contracts
  code/modules/urist/gamemodes/infestation/aliens/lactera.dm
  code/modules/urist/modules/newtrading/contracts.dm
  code/modules/urist/modules/newtrading/trade/trade_category.dm
  code/modules/urist/modules/newtrading/trade/trade_items/contracts.dm
  icons/urist/items/clothes/lactera.dmi
  icons/uristmob/r_lactera.dmi
  icons/uristmob/species/lactera/body.dmi
  icons/uristmob/species/lactera/deform.dmi
  icons/uristmob/species/lactera/eyes.dmi
  icons/uristmob/species/lactera/preview.dmi
Labels: Bugfix, Icons

#658 Autolathe Updates
  code/game/machinery/autolathe.dm
  code/game/machinery/autolathe_datums.dm
Labels: Feature, Refactor

#661 Floorpainter bugfix.
  code/game/objects/items/devices/floor_painter.dm
Labels: Bugfix

#662 Adds a big lactera frigate for admins/events + tweaks spacecombat
  code/modules/urist/gamemodes/scom/scom.dm
  code/modules/urist/modules/shipbattles/component_weapons.dm
  code/modules/urist/modules/shipbattles/overmapships.dm
  code/modules/urist/modules/shipbattles/ship_projectiles.dm
  code/modules/urist/structures/boardingstructures.dm
  config/shipTemplates.txt
  icons/urist/items/ship_projectiles48x48.dmi
  icons/urist/turf/scomturfs.dmi
  maps/shipmaps/ship_lactera_large.dmm
Labels: Balance, Feature, Icons, Map, Nerva

#665 fixes a lar maria path
  maps/away/lar_maria/lar_maria-1.dmm
Labels: Awaymaps, Bugfix, Map

#648 Nerfs gun command, buffs sec, and adds space disposal to xenobio.
  maps/nerva/nerva-1.dmm
  maps/nerva/nerva-2.dmm
  maps/nerva/obj/nerva_closets.dm
Labels: Balance, Map, Nerva

#666 Makes cryogenic storage rad shielded
  maps/nerva/nerva_areas.dm
Labels: Nerva

#660 Adds double-doors to the Nerva, firelocks to maint entrances, guardrails to the freight elevator, and a few more blob landmarks.
  maps/nerva/nerva-1.dmm
  maps/nerva/nerva-2.dmm
  maps/nerva/nerva-3.dmm
Labels: Map, Nerva

#667 Makes the Exosuit Fab more clear
  nano/templates/mechfab.tmpl
Labels: Formatting
