Repository UristMcStation/UristMcStation, pull requests merged in 2019-12, with the labels that each got.

#824 Adds bioluminescent orbs.
  code/game/objects/structures/flora.dm
  icons/urist/asteroidflora.dmi
Labels: Feature, Icons

#828 Changes Grass Turfs to be more natural and less eye-melting.
  code/game/turfs/flooring/flooring.dm
  code/game/turfs/flooring/flooring_premade.dm
  icons/urist/turf/uristturf.dmi
Labels: Enhancement, Icons

#830 Robots can now make cute chirping sounds. We are saved.
  code/modules/emotes/definitions/_mob.dm
  code/modules/emotes/definitions/synthetics.dm
  sound/urist/chirp.ogg
Labels: Feature, Sound
