Repository UristMcStation/UristMcStation, pull requests merged in 2019-07, with the labels that each got.

#771 Fixes installation of IPC optics
  code/modules/organs/internal/eyes.dm
Labels: Bugfix

#772 Buffs medical pouches
  code/game/objects/items/weapons/storage/med_pouch.dm
Labels: Enhancement

#775 Moves clothing cutting to a right-click verb.
  code/modules/urist/items/clothstuff.dm
Labels: Refactor

#777 Makes cut clothes drop stuff
  code/modules/urist/items/clothstuff.dm
Labels: Bugfix

#780 Minor Bugfixes: Need an IV here
  code/game/objects/items/weapons/defib.dm
  code/modules/clothing/under/jobs/civilian.dm
  code/modules/hydroponics/seed.dm
  code/modules/mob/living/carbon/resist.dm
  code/modules/overmap/exoplanets/exoplanet.dm
  code/modules/research/protolathe.dm
  code/modules/research/rdconsole.dm
  code/modules/urist/modules/shipbattles/torpedo_warhead.dm
  maps/nerva/Loadout/loadout_accessories.dm
  maps/nerva/datums/nerva_outfits.dm
  maps/nerva/obj/nerva_closets.dm
  maps/nerva/obj/nerva_clothes.dm
Labels: Bugfix, Enhancement, Nerva

#778 Gives janiborgs and drones a plunger
  code/modules/mob/living/silicon/robot/robot_modules.dm
Labels: Enhancement

#779 Removes the total blackout effect from unconsciousness
  code/modules/mob/living/life.dm
  code/modules/species/species.dm
Labels: Enhancement, Fucking Bay

#769 Introducing the Bluespace RPED
  code/game/machinery/machinery.dm
  code/modules/research/stock_parts.dm
  code/modules/urist/datums/uristdesigns.dm
  icons/urist/items/tgitems.dmi
Labels: Feature

#766 Allows warheads to be removed from torpedoes
  code/modules/urist/modules/shipbattles/weapons.dm
Labels: Feature, Nerva

#758 Rubbers and Flashrounds: Coming to a Nerva Near You
  baystation12.dme
  code/game/machinery/autolathe_datums.dm
  code/modules/urist/items/ammo.dm
  code/modules/urist/items/guns.dm
Labels: Feature

#726 Allows recoloring lightbulbs with a multitool.
  code/modules/power/lighting.dm
Labels: Feature

#781 Adds/Adjusts loadout computers
  code/modules/client/preference_setup/loadout/lists/utility.dm
Labels: Enhancement

#762 Huge Messy PR + Contracts Expansion Part 1
  baystation12.dme
  code/controllers/master_controller.dm
  code/controllers/payment.dm
  code/controllers/subsystems/supply.dm
  code/game/gamemodes/gameticker.dm
  code/modules/mob/living/silicon/robot/drone/drone_manufacturer.dm
  code/modules/urist/modules/newtrading/NPC/NPC_types/contract_givers.dm
  code/modules/urist/modules/newtrading/NPC/npc.dm
  code/modules/urist/modules/newtrading/NPC/npc_buysell.dm
  code/modules/urist/modules/newtrading/NPC/npc_trade.dm
  code/modules/urist/modules/newtrading/contracts/cargo_contracts.dm
  code/modules/urist/modules/newtrading/contracts/cargo_papers.dm
  code/modules/urist/modules/newtrading/contracts/contract_computer.dm
  code/modules/urist/modules/newtrading/contracts/contract_papers.dm
  code/modules/urist/modules/newtrading/contracts/contracts.dm
  code/modules/urist/modules/newtrading/ship_account.dm
  code/modules/urist/modules/newtrading/stations.dm
  code/modules/urist/modules/newtrading/trade/trade_category.dm
  code/modules/urist/modules/newtrading/trade/trade_item.dm
  code/modules/urist/modules/newtrading/trade/trade_items/atmos-nonbulky.dm
  code/modules/urist/modules/newtrading/trade/trade_items/contracts.dm
  code/modules/urist/modules/shipbattles/overmapships/component_weapons.dm
  code/modules/urist/modules/shipbattles/overmapships/components.dm
  code/modules/urist/modules/shipbattles/overmapships/overmapships.dm
  code/modules/urist/modules/shipbattles/overmapships/ship_types.dm
  code/modules/urist/modules/shipbattles/shipdatums.dm
  code/modules/urist/modules/shipbattles/shipweapons/beam_weapons.dm
  code/modules/urist/modules/shipbattles/shipweapons/missile_weapons.dm
  code/modules/urist/modules/shipbattles/shipweapons/ship_projectiles.dm
  code/modules/urist/modules/shipbattles/shipweapons/shipweapons.dm
  code/modules/urist/modules/shipbattles/shipweapons/torpedo_warhead.dm
  code/modules/urist/modules/shipbattles/shipweapons/weapon_construction.dm
  icons/urist/structures&machinery/64x64machinery.dmi
  maps/away/glloyd_jungle/glloyd_jungle.dm
  maps/away/stations/nanotrasentrading.dmm
  maps/away/stations/nerva_stations.dm
  maps/nerva/datums/nerva_jobs.dm
  maps/nerva/datums/nerva_supplypacks.dm
  maps/nerva/nerva-1.dmm
  maps/nerva/nerva-2.dmm
  maps/nerva/nerva-3.dmm
  maps/nerva/nerva-4.dmm
  maps/nerva/nerva.dm
  maps/nerva/nerva_define.dm
  maps/nerva/obj/nerva_computers.dm
  maps/nerva/obj/nerva_items.dm
  maps/~mapsystem/maps.dm
  nano/templates/contract_database.tmpl
Labels: Awaymaps, Balance, Bugfix, Feature, Icons, Interface, Map, Nerva, Refactor

#782 Cherry picks the synth rebalance out of the merge
  code/modules/mob/living/carbon/human/human_movement.dm
  code/modules/organs/external/_external.dm
  code/modules/organs/external/_external_damage.dm
  code/modules/organs/internal/species/fbp.dm
  code/modules/organs/organ.dm
Labels: Balance, Bugfix

#740 Increases Teshari survivability
  code/modules/species/station/teshari.dm
Labels: Balance

#722 Fixes issue with MMI holder objects
  code/modules/organs/external/_external.dm
  code/modules/urist/modules/organs/disintegratable.dm
Labels: Bugfix
