Repository UristMcStation/UristMcStation, pull requests merged in 2019-05, with the labels that each got.

#670 Allows people to be converted in revolution, regardless of job.
  code/game/antagonist/antagonist_factions.dm
Labels: Balance

#672 General Bugfixes Volume 2
  code/game/machinery/atmoalter/portable_atmospherics.dm
  code/game/machinery/atmoalter/pump.dm
  code/game/machinery/atmoalter/scrubber.dm
  code/game/objects/effects/decals/Cleanable/fuel.dm
  code/game/objects/effects/decals/Cleanable/humans.dm
  code/game/objects/random/random.dm
  code/modules/client/preference_setup/general/02_body.dm
  code/modules/clothing/spacesuits/breaches.dm
  code/modules/hydroponics/spreading/spreading.dm
  code/modules/hydroponics/spreading/spreading_growth.dm
  code/modules/hydroponics/spreading/spreading_response.dm
  code/modules/organs/external/species/prometheans.dm
  code/modules/organs/external/species/xenophage.dm
  code/modules/research/circuitprinter.dm
  code/modules/species/station/adherent.dm
  code/modules/species/station/nabber.dm
  code/modules/urist/kingrescues/guns.dm
  code/modules/urist/structures/uriststructures.dm
  code/modules/xgm/xgm_gas_data.dm
  icons/obj/playing_cards.dmi
  maps/away/bearcat/bearcat-1.dmm
  maps/away/bearcat/bearcat-2.dmm
  maps/away/unishi/unishi-1.dmm
  maps/away/unishi/unishi-2.dmm
  maps/away/unishi/unishi-3.dmm
Labels: Bugfix

#669 Improvised Rifle Fixes & Changes
  code/modules/urist/items/guns.dm
Labels: Balance, Bugfix

#674 Fixes Travis issues related to glloydstation
  ingame_manuals/corporate_regulations.html
  maps/templates/underground_blacksite.dmm
Labels: Glloydstation

#675 Makes powered atmospherics equipment use power
  code/game/machinery/atmoalter/portable_atmospherics.dm
Labels: Bugfix, CALL THE SHUTTLE

#679 Deep Human Lore
  maps/nerva/fluff/_fluff.dm
  maps/nerva/fluff/culture.dm
  maps/nerva/fluff/factions.dm
  maps/nerva/fluff/locations_human.dm
Labels: Fluff, Nerva

#678 Protolathe / Circuit imprinter UI Overhaul
  code/modules/research/designs.dm
  code/modules/research/rdconsole.dm
Labels: Interface, Refactor

#677 Pipelayer changes
  code/game/machinery/pipe/pipelayer.dm
  code/game/objects/items/weapons/circuitboards/machinery/pipelayer.dm
Labels: Feature

#680 Circulator Griefproofing
  code/modules/atmospherics/components/binary_devices/circulator.dm
Labels: Balance, Refactor

#663 [WIP] Torpedo IEDS
  code/modules/urist/modules/shipbattles/weapons.dm
  icons/urist/items/ship_projectiles.dmi
Labels: Balance, Do Not Merge, Feature

#671 Move engraving to right-click
  code/game/turfs/simulated.dm
  code/game/turfs/simulated/floor_attackby.dm
  code/game/turfs/simulated/wall_attacks.dm
  code/game/turfs/turf.dm
Labels: Refactor

#687 Autolathe queues no longer refresh when an item is added.
  code/game/machinery/autolathe.dm
Labels: Interface

#690 corrects literally one pixel
  icons/urist/items/uristweapons.dmi
Labels: Icons

#689 Autolathe Queue Fix
  code/game/machinery/autolathe.dm
Labels: Bugfix

#686 Adds circuitry tools to roboticist belt storage
  code/modules/urist/items/clothes/belt.dm
Labels: enhancement

#688 Protolathes/imprinters no longer back out to main menus
  code/modules/research/rdconsole.dm
Labels: Interface

#684 Stupid Huge Map Update
  code/game/machinery/telecomms/presets.dm
  code/game/objects/effects/misc.dm
  code/modules/urist/area&turf/turfs.dm
  code/modules/urist/items/guns.dm
  code/modules/urist/structures/closets.dm
  icons/urist/items/guns.dmi
  icons/uristmob/items_lefthand.dmi
  icons/uristmob/items_righthand.dmi
  maps/nerva/datums/nerva_jobs.dm
  maps/nerva/nerva-1.dmm
  maps/nerva/nerva-2.dmm
  maps/nerva/nerva-3.dmm
  maps/nerva/nerva-4.dmm
  maps/nerva/nerva-5.dmm
  maps/nerva/nerva-6.dmm
  maps/nerva/nerva.dm
  maps/nerva/nerva_areas.dm
  maps/nerva/nerva_define.dm
  maps/nerva/nerva_elevators.dm
  maps/nerva/nerva_overmap.dm
  maps/nerva/nerva_presets.dm
  maps/nerva/nerva_shuttles.dm
  maps/nerva/nerva_unit_testing.dm
  maps/nerva/obj/nerva_closets.dm
  maps/nerva/obj/nerva_items.dm
  nano/images/nerva/nerva-1.png
  nano/images/nerva/nerva-2.png
  nano/images/nerva/nerva-3.png
  nano/images/nerva/nerva-4.png
Labels: Bugfix, Feature, Icons, Kill Me, Map, Nerva

#696 quick fix for chaplain
  maps/nerva/datums/nerva_jobs.dm
Labels: Bugfix, CALL THE SHUTTLE, Nerva

#697 fixes access for the chaplain
  maps/nerva/datums/nerva_access_datums.dm
  maps/nerva/datums/nerva_jobs.dm
Labels: Bugfix, CALL THE SHUTTLE, Nerva

#698 Map hotfixes + tweaks
  maps/nerva/datums/nerva_jobs.dm
  maps/nerva/nerva-1.dmm
  maps/nerva/nerva-2.dmm
  maps/nerva/nerva-3.dmm
  maps/nerva/nerva_shuttles.dm
Labels: Bugfix, Map, Nerva

#699 Fixes and Tweaks addressing issues brought up since last night
  code/datums/outfits/jobs/medical.dm
  maps/nerva/datums/nerva_jobs.dm
  maps/nerva/datums/nerva_outfits.dm
  maps/nerva/nerva-1.dmm
  maps/nerva/nerva-2.dmm
  maps/nerva/nerva-3.dmm
  maps/nerva/nerva-4.dmm
  maps/nerva/obj/nerva_ids.dm
Labels: Bugfix, Map, Nerva

#466 Color matrix backbone and Noir mutation port from /vg/
  baystation12.dme
  code/__defines/urist/_colormatrix_defines.dm
  code/_onclick/hud/screen_objects.dm
  code/_uristdefines.dm
  code/game/gamemodes/setupgame.dm
  code/game/objects/effects/decals/Cleanable/humans.dm
  code/modules/admin/admin_verbs.dm
  code/modules/admin/verbs/visuals.dm
  code/modules/mob/living/login.dm
  code/modules/mob/living/simple_animal/simple_animal.dm
  code/modules/mob/login.dm
  code/modules/urist/datums/array/array.dm
  code/modules/urist/datums/array/presets.dm
  code/modules/urist/datums/array/tests/arraytests.dm
  code/modules/urist/datums/observations/color.dm
  code/modules/urist/mob/uristliving.dm
  code/modules/urist/modules/genetics/_genetics.dm
  code/modules/urist/modules/genetics/vgpowers.dm
Labels: Feature, What the Fuck

#702 Fixes for the color matrix PR
  code/modules/mob/living/simple_animal/simple_animal.dm
Labels: Bugfix, CALL THE SHUTTLE

#694 Spare lace & silicon brains from limb ashing/disintegration
  baystation12.dme
  code/modules/organs/external/_external.dm
  code/modules/urist/modules/organs/disintegratable.dm
Labels: Balance, Feature

#692 Adds pipenet collectors
  code/modules/power/singularity/collector.dm
Labels: Feature

#704 Map fixes
  code/modules/urist/items/clothstuff.dm
  maps/nerva/nerva-1.dmm
  maps/nerva/nerva-2.dmm
  maps/nerva/nerva-3.dmm
  maps/nerva/nerva-4.dmm
Labels: Bugfix, Map, Nerva
