Repository UristMcStation/UristMcStation, pull requests merged in 2019-06, with the labels that each got.

#705 PR Fixes 2: The Important Things
  code/__defines/urist/_colormatrix_defines.dm
  code/datums/mind.dm
  code/game/gamemodes/game_mode.dm
  code/game/gamemodes/malfunction/malfunction.dm
  code/game/gamemodes/ninja/ninja.dm
  code/game/gamemodes/wizard/wizard.dm
  code/modules/admin/verbs/visuals.dm
  code/modules/urist/gamemodes/vampire/vampire.dm
  code/modules/urist/mob/uristliving.dm
Labels: Bugfix, CALL THE SHUTTLE

#693 Adds Telepads
  baystation12.dme
  code/modules/research/designs.dm
  code/modules/telesci/quantumpad.dm
  icons/obj/telescience.dmi
Labels: Feature

#701 Constructables: The Constructed Begining
  baystation12.dme
  code/modules/urist/modules/constructable/constructable_circuits.dm
  code/modules/urist/modules/constructable/constructable_designs.dm
Labels: Feature

#681 HE pipes now check space area/turf instead of just turf
  code/modules/atmospherics/he_pipes.dm
Labels: Refactor

#709 Improves QoL when fixing internal organs.
  code/game/objects/items/stacks/medical.dm
  code/modules/surgery/organs_internal.dm
Labels: Enhancement

#711 Adds a new submap for people to die on.
  code/game/objects/effects/spawners/bombspawner.dm
  code/game/objects/structures/railing.dm
  code/modules/integrated_electronics/core/saved_circuits.dm
  code/modules/integrated_electronics/subtypes/converters.dm
  code/modules/mob/living/carbon/human/spawners.dm
  maps/away/noctis/noctis-1.dmm
  maps/away/noctis/noctis-2.dmm
  maps/away/noctis/noctis.dm
  maps/away/noctis/noctis_areas.dm
  maps/away/noctis/noctis_jobs.dm
  maps/away/noctis/noctis_shuttle.dm
  maps/nerva/nerva.dm
  maps/nerva/nerva_unit_testing.dm
  maps/random_ruins/exoplanet_ruins/marooned/marooned.dm
Labels: Awaymaps, Feature, Map

#700 Fusion updates
  code/modules/power/fusion/fusion_circuits.dm
Labels: Feature, Refactor

#691 Adds Rapid Pipe Dispenser
  baystation12.dme
  code/game/objects/items/weapons/RPD.dm
Labels: Feature

#685 TEG Refactor
  code/modules/power/generator.dm
Labels: Feature, Refactor

#715 Urgent fusion bugfix.
  code/modules/power/fusion/fusion_circuits.dm
Labels: Bugfix, CALL THE SHUTTLE

#714 Actually implements #710
  code/modules/admin/admin_verbs.dm
  code/modules/urist/admin/verbs.dm
  maps/nerva/nerva-2.dmm
Labels: Feature, Map, Nerva

#716 Unathi will no longer explode their groin for unimportant reasons
  code/game/objects/auras/regenerating_aura.dm
Labels: Bugfix

#719 Noctis fixes
  maps/away/noctis/noctis-1.dmm
  maps/away/noctis/noctis-2.dmm
  maps/away/noctis/noctis.dm
  maps/away/noctis/noctis_shuttle.dm
  maps/random_ruins/exoplanet_ruins/marooned/marooned.dm
Labels: Awaymaps, Bugfix, Map

#717 Railgun bugfixes.
  code/modules/projectiles/guns/magnetic/magnetic.dm
Labels: Bugfix

#720 AIs can no longer open canisters.
  code/game/machinery/atmoalter/canister.dm
Labels: Balance, Fucking Bay

#721 Rebalances lungs, again
  code/modules/organs/internal/lungs.dm
Labels: Balance, Bugfix

#723 Fixes the likely cause of the crashes in initialization
  code/game/turfs/simulated/wall_icon.dm
  code/game/turfs/simulated/walls.dm
Labels: Kill Me, What the Fuck

#724 Changes Noctis' standard job
  maps/away/noctis/noctis-1.dmm
  maps/away/noctis/noctis-2.dmm
  maps/away/noctis/noctis.dm
  maps/away/noctis/noctis_jobs.dm
Labels: Awaymaps, Balance, Map

#736 512 compatibility
  .travis.yml
  code/__defines/_planes+layers.dm
  code/controllers/communications.dm
  code/datums/sound_player.dm
  code/game/machinery/atmo_control.dm
  code/game/machinery/buttons.dm
  code/game/machinery/doors/airlock_control.dm
  code/game/machinery/embedded_controller/embedded_controller_base.dm
  code/game/machinery/magnet.dm
  code/game/objects/items.dm
  code/game/objects/structures.dm
  code/modules/admin/verbs/diagnostics.dm
  code/modules/atmospherics/components/binary_devices/dp_vent_pump.dm
  code/modules/atmospherics/components/binary_devices/passive_gate.dm
  code/modules/atmospherics/components/binary_devices/pump.dm
  code/modules/atmospherics/components/omni_devices/filter.dm
  code/modules/error_handler/error_handler.dm
  code/modules/multiz/structures.dm
  code/modules/species/species_helpers.dm
  code/modules/species/station/adherent.dm
  code/modules/species/station/monkey.dm
  code/modules/species/station/nabber.dm
Labels: Bugfix, Merging

#731 Minor changes, the PR: Version 3
  code/game/machinery/OpTable.dm
  code/modules/integrated_electronics/core/printer.dm
  code/modules/item_worth/reagents.dm
  code/modules/mob/living/carbon/human/human_attackhand.dm
  code/modules/mob/living/carbon/human/spawners.dm
  code/modules/organs/external/wounds/wound_types.dm
  code/modules/organs/organ.dm
  code/modules/research/designs.dm
  maps/away/noctis/noctis_jobs.dm
Labels: Balance, Bugfix, Refactor

#718 Torpedo Warhead IED rework
  baystation12.dme
  code/modules/urist/modules/shipbattles/torpedo_warhead.dm
  code/modules/urist/modules/shipbattles/weapons.dm
Labels: Balance, Refactor

#743 adds a light to engineering.
  maps/nerva/nerva-2.dmm
Labels: Map, Nerva

#747 buff sneakies.
  code/modules/clothing/shoes/miscellaneous.dm
Labels: Balance

#748 Lemon Juice added to Soda Fountains
  code/modules/reagents/dispenser/cartridge_presets.dm
  code/modules/reagents/dispenser/dispenser_presets.dm
Labels: Enhancement

#759 Makes BoH max_w_class the same as normal bags again
  code/game/objects/items/weapons/storage/backpack.dm
Labels: Balance, Enhancement

#760 Allows the protolathe to be filled easily
  code/modules/research/protolathe.dm
Labels: Enhancement

#761 Fixes the Modular Computer Parts Fabrication Placement
  code/modules/research/designs.dm
  code/modules/research/rdconsole.dm
Labels: Enhancement

#729 Supermatter can now breed phoron, and phoron increases Radiation.
  code/modules/modular_computers/file_system/programs/engineering/supermatter_monitor.dm
  code/modules/supermatter/supermatter.dm
  nano/templates/supermatter_monitor.tmpl
Labels: Feature

#713 Big Huge Zombie Update + simplemob attack fix
  code/game/gamemodes/godmode/god_structures.dm
  code/game/machinery/deployable.dm
  code/game/objects/structures.dm
  code/game/objects/structures/alien/alien.dm
  code/game/objects/structures/crates_lockers/closets.dm
  code/game/objects/structures/displaycase.dm
  code/game/objects/structures/girders.dm
  code/game/objects/structures/grille.dm
  code/game/objects/structures/inflatable.dm
  code/game/objects/structures/railing.dm
  code/game/objects/structures/rubble.dm
  code/game/objects/structures/showcase.dm
  code/game/objects/structures/stool_bed_chair_nest/alien_nests.dm
  code/game/objects/structures/wall_frame.dm
  code/game/objects/structures/window.dm
  code/modules/mob/living/simple_animal/hostile/bat.dm
  code/modules/mob/living/simple_animal/hostile/carp.dm
  code/modules/mob/living/simple_animal/hostile/faithless.dm
  code/modules/mob/living/simple_animal/hostile/giant_spider.dm
  code/modules/mob/living/simple_animal/hostile/hostile2.dm
  code/modules/mob/living/simple_animal/hostile/mimic.dm
  code/modules/mob/living/simple_animal/hostile/tree.dm
  code/modules/mob/living/simple_animal/hostile/vagrant.dm
  code/modules/mob/living/simple_animal/hostile/voxslug.dm
  code/modules/recycling/disposal.dm
  code/modules/species/species.dm
  code/modules/tables/tables.dm
  code/modules/urist/gamemodes/assault/human_equipment.dm
  code/modules/urist/mob/humanhostiles.dm
  code/modules/urist/mob/spoopymobs.dm
  code/modules/urist/modules/jungle/jungle_animals.dm
  code/modules/urist/structures/emplacements.dm
  maps/away/errant_pisces/errant_pisces.dm
  test/check-paths.sh
Labels: Bugfix, Feature, Refactor
