Repository UristMcStation/UristMcStation, pull requests merged in 2019-09, with the labels that each got.

#802 Fashionista! - Add more items to loadout
  baystation12.dme
  code/modules/client/preference_setup/loadout/lists/eyegear.dm
  code/modules/clothing/clothing.dm
  code/modules/urist/modules/client/preference_setup/loadout/lists/loadout_feet.dm
  code/modules/urist/modules/client/preference_setup/loadout/lists/loadout_hands.dm
  maps/glloydstation/Loadout/loadout_suit.dm
  maps/nerva/Loadout/loadout_hands.dm
  maps/nerva/Loadout/loadout_suit.dm
  maps/nerva/Loadout/loadout_uniform.dm
  maps/nerva/nerva.dm
  maps/wyrm/Loadout/loadout_suit.dm
Labels: Feature, Glloydstation, Nerva, Wyrm

#796 Canister wrenching now shows in admin logs
  code/game/machinery/atmoalter/portable_atmospherics.dm
Labels: Enhancement

#809 Bug fix: Corrected Cryopod logging
  code/game/machinery/cryopod.dm
Labels: Formatting

#795 Restores forehead graffiti removal
  code/_helpers/washing.dm
  code/game/objects/structures/watercloset.dm
Labels: Enhancement, Fucking Bay

#810 Re-allows the Teshari body shape for Prometheans
  code/modules/species/station/prometheans.dm
Labels: Enhancement

#811 fixes ID issues and botany windoor
  maps/nerva/nerva-2.dmm
  maps/nerva/obj/nerva_ids.dm
Labels: Bugfix, Map, Nerva

#807 Makes the exosuit tracking beacons actually buildable
  code/modules/research/mechfab_designs.dm
Labels: Bugfix

#799 Ghosts can directly join pAIs by clicking on them.
  code/game/objects/items/devices/paicard.dm
Labels: Feature

#812 Combat computer UI + other little shipcombat odds and ends
  baystation12.dme
  code/_global_vars/mapping.dm
  code/_global_vars/urist.dm
  code/modules/urist/modules/shipbattles/combatcomputer.dm
  code/modules/urist/modules/shipbattles/overmapships/components.dm
  code/modules/urist/modules/shipbattles/overmapships/ship_types.dm
  code/modules/urist/modules/shipbattles/ship_overmaps.dm
  code/modules/urist/modules/shipbattles/shipweapons/shipweapons.dm
  maps/nerva/nerva-1.dmm
  maps/nerva/nerva-2.dmm
  nano/templates/combat_computer.tmpl
  nano/templates/contract_database.tmpl
Labels: Feature, Interface, Nerva
