Repository UristMcStation/UristMcStation, pull requests merged in 2020-12, with the labels that each got.

#914 Fixes Anomaly Scanner & Computer Loc
  maps/nerva/nerva-1.dmm
Labels: Bugfix, Map, Nerva

#891 Fixes Cargo R&D Access
  maps/nerva/nerva-1.dmm
Labels: Bugfix, Map, Nerva

#916 Revert "Updates Urist to Byond 513 - 1536"
  .travis.yml
  code/_helpers/text.dm
  code/_helpers/unsorted.dm
  code/controllers/subsystems/garbage.dm
  code/game/machinery/doors/brigdoors.dm
  code/game/machinery/supply_display.dm
  code/game/objects/items/weapons/paint.dm
  code/modules/admin/DB ban/functions.dm
  code/modules/emotes/emote_mob.dm
  code/modules/flufftext/TextFilters.dm
  code/modules/mob/hear_say.dm
  code/modules/mob/living/carbon/human/examine.dm
  code/modules/mob/living/say.dm
  code/modules/mob/living/silicon/pai/examine.dm
  code/modules/mob/living/silicon/robot/examine.dm
  code/modules/mob/mob.dm
  code/modules/mob/mob_helpers.dm
  code/modules/modular_computers/file_system/programs/security/digitalwarrant.dm
  code/modules/organs/blood.dm
  code/modules/organs/external/_external.dm
  code/modules/surgery/generic.dm
  code/modules/urist/items/guitar.dm
  code/modules/xenoarcheaology/artifacts/replicator.dm
  code/modules/xenoarcheaology/finds/talking.dm
Labels: CALL THE SHUTTLE, FUCK BYOND

#923 Fixes the A7 sprite, fixes some text issues, nerfs pirate teleporters
  code/modules/projectiles/guns/projectile/pistol.dm
  code/modules/urist/modules/shipbattles/overmapships/components/advanced_components.dm
  maps/nerva/fluff/factions.dm
  maps/nerva/fluff/locations_human.dm
Labels: Balance, Bugfix, Formatting

#924 fixes glloydstation
  code/modules/urist/items/clothes/uristclothes.dm
  code/modules/urist/structures/uriststructures.dm
  icons/urist/decals/urist.dmi
  maps/glloydstation/Glloydstation2-1.dmm
  maps/glloydstation/Glloydstation2-2.dmm
  maps/glloydstation/Glloydstation2-4.dmm
  maps/glloydstation/Glloydstation2-5.dmm
  maps/glloydstation/Glloydstation2-7.dmm
  maps/glloydstation/backup/Glloydstation2-1.dmm
  maps/glloydstation/backup/Glloydstation2-2.dmm
  maps/glloydstation/backup/Glloydstation2-3.dmm
  maps/glloydstation/backup/Glloydstation2-4.dmm
  maps/glloydstation/backup/Glloydstation2-5.dmm
  maps/glloydstation/backup/Glloydstation2-7.dmm
  maps/glloydstation/glloydstation_areas.dm
  maps/glloydstation/glloydstation_jobs.dm
  maps/glloydstation/glloydstation_presets.dm
  maps/glloydstation/glloydstation_shuttles.dm
  maps/glloydstation/simple_shuttles.dm
  maps/nerva/obj/nerva_clothes.dm
Labels: Bugfix, CALL THE SHUTTLE, Fucking Bay, Glloydstation, Icons, Kill Me, Map, Merge Issue, What the Fuck

#925 Fixes windows blocking air always
  code/game/objects/structures/window.dm
Labels: Bugfix

#926 fixes the Graveworlder cultural background
  maps/nerva/fluff/culture.dm
  maps/nerva/fluff/species_overrides.dm
Labels: Fluff, Oversight

#927 more glloydstation fixes, adds in glloydstation fluff
  code/modules/urist/mob/uristanimals.dm
  code/modules/urist/modules/jungle/planet_turfs.dm
  maps/glloydstation/Glloydstation2-1.dmm
  maps/glloydstation/fluff/_fluff.dm
  maps/glloydstation/fluff/culture.dm
  maps/glloydstation/fluff/factions.dm
  maps/glloydstation/fluff/locations_human.dm
  maps/glloydstation/fluff/species_overrides.dm
  maps/glloydstation/glloydstation.dm
  maps/glloydstation/glloydstation_areas.dm
Labels: Bugfix, Fluff, Glloydstation, Map

#928 micro fix
  maps/glloydstation/glloydstation_define.dm
Labels: Bugfix

#929 Rebalances oxyloss from lung damage
  code/modules/organs/internal/lungs.dm
Labels: Balance, Enhancement

#930 Say bugfixes
  code/modules/mob/living/carbon/human/say.dm
  code/modules/mob/living/say.dm
Labels: Bugfix, Enhancement
