Repository UristMcStation/UristMcStation, pull requests merged in 2020-07, with the labels that each got.

#888 Fixes Aft Solar Wiring + Buttons, Fixes Colony Locker.
  maps/nerva/nerva-4.dmm
  maps/random_ruins/exoplanet_ruins/playablecolony/colony.dmm
Labels: Awaymaps, Bugfix, Map, Nerva

#889 Fixes Deck 1 Medbay Storage APC.
  maps/nerva/nerva-1.dmm
Labels: Bugfix, Map, Nerva

#892 Minor things and various fixes for the event
  code/controllers/subsystems/trade_controller.dm
  code/modules/overmap/_defines.dm
  code/modules/overmap/events/event.dm
  code/modules/overmap/ships/computers/helm.dm
  code/modules/urist/mob/humanhostiles.dm
  code/modules/urist/modules/newtrading/contracts/contract_papers.dm
  code/modules/urist/modules/newtrading/contracts/contracts.dm
  code/modules/urist/modules/newtrading/stations.dm
  code/modules/urist/modules/newtrading/trade/trade_items/contracts.dm
  code/modules/urist/modules/shipbattles/ship_landmarks.dm
  code/modules/urist/structures/boardingstructures.dm
  icons/urist/misc/overmap.dmi
  icons/uristmob/simpleanimals.dmi
  maps/away/destroyed_colony/destroyed_colony.dm
  maps/away/stations/pirate/pirate_station-1.dmm
  maps/away/stations/pirate/pirate_station-2.dmm
  maps/away/stations/pirate/pirate_station.dm
  maps/nerva/nerva-3.dmm
  maps/nerva/nerva.dm
  maps/nerva/nerva_define.dm
  maps/shipmaps/ship_pirate_small1.dmm
Labels: Awaymaps, Bugfix, Icons, Map, Nerva

#893 Quick little hotfixes
  code/modules/urist/modules/newtrading/stations.dm
  code/modules/urist/modules/shipbattles/overmapships/station_holders.dm
  maps/nerva/nerva-4.dmm
Labels: Bugfix, Map, Nerva

#894 4am can't sleep, gotta hotfix
  code/modules/urist/modules/newtrading/stations.dm
Labels: Bugfix, CALL THE SHUTTLE, Kill Me, Nerva, Priority: CRITICAL

#895 More minor fixes
  code/modules/urist/_helpers.dm
  code/modules/urist/modules/shipbattles/overmapships/overmapships.dm
Labels: Bugfix, Formatting, Nerva

#896 forgot to commit this file
  code/modules/urist/modules/newtrading/stations.dm
Labels: Bugfix

#906 Adds new pirates + grab bag of fixes
  code/datums/helper_datums/teleport.dm
  code/modules/urist/datums/uristoutfits.dm
  code/modules/urist/items/clothes/uristclothes.dm
  code/modules/urist/mob/humanhostiles.dm
  code/modules/urist/modules/newtrading/NPC/NPC_types/contract_givers.dm
  code/modules/urist/modules/resourcetech/planer.dm
  code/modules/urist/modules/shipbattles/combatcomputer.dm
  code/modules/urist/modules/shipbattles/overmapships/components/component_weapons.dm
  code/modules/urist/modules/shipbattles/overmapships/station_holders.dm
  code/modules/urist/modules/shipbattles/ship_landmarks.dm
  code/modules/urist/modules/shipbattles/shipweapons/shipweapons.dm
  code/modules/urist/modules/shipbattles/shipweapons/weapon_construction.dm
  maps/away/noctis/noctis_jobs.dm
  maps/nerva/datums/nerva_supplypacks.dm
  maps/nerva/nerva-1.dmm
  maps/nerva/nerva-2.dmm
  maps/nerva/nerva-4.dmm
  maps/nerva/nerva_presets.dm
Labels: Bugfix, Feature, Fucking Bay, Map, Nerva
