Repository UristMcStation/UristMcStation, pull requests merged in 2020-02, with the labels that each got.

#848 Adds in a handful of conversions to Teshari
  code/modules/clothing/spacesuits/rig/suits/station.dm
  code/modules/urist/items/clothes/uristclothes.dm
  icons/mob/onmob/uniform.dmi
  icons/mob/species/resomi/back.dmi
  icons/mob/species/resomi/gloves.dmi
  icons/mob/species/resomi/helmet.dmi
  icons/mob/species/resomi/shoes.dmi
  icons/mob/species/resomi/suit.dmi
  icons/mob/species/resomi/uniform.dmi
  icons/mob/species/resomi/uristSuit.dmi
Labels: Enhancement, Icons

#840 Fixes a small mapping error with the engine chamber.
  maps/nerva/nerva-2.dmm
Labels: Map, Nerva

#826 Adds new biohazard equipment and respirators.
  code/modules/clothing/gloves/miscellaneous.dm
  code/modules/urist/items/clothes/gloves.dm
  code/modules/urist/items/clothes/mask.dm
  code/modules/urist/items/clothes/uristclothes.dm
  icons/urist/items/clothes/clothes.dmi
  icons/urist/items/clothes/gloves.dmi
  icons/urist/items/clothes/head.dmi
  icons/urist/items/clothes/masks.dmi
  icons/uristmob/clothes.dmi
  icons/uristmob/gloves.dmi
  icons/uristmob/head.dmi
  icons/uristmob/mask.dmi
  maps/nerva/obj/nerva_clothes.dm
Labels: Feature, Icons

#845 Fixes Weather Opacity + Wooden Grille Exploit
  code/modules/urist/modules/weather/weather_objects.dm
  code/modules/urist/structures/uriststructures.dm
  icons/urist/structures&machinery/structures.dmi
Labels: Bugfix, FUCK BYOND, Planet

#839 Adds new IPC Monitors, fixes broken IPC Monitors.
  code/modules/clothing/masks/monitor.dm
  icons/mob/monitor_icons.dmi
Labels: Fucking Bay, Icons, Merge Issue

#851 UristKitchen - Adds Supporting Kitchen Equipment Sprites
  icons/urist/uristkitchen.dmi
Labels: Icons

#835 Adds new expedition survival boxes and equipment, overhauls drinking sounds + minor loadout tweaks.
  code/modules/reagents/reagent_containers/food/drinks.dm
  code/modules/urist/items/miscitems.dm
  code/modules/urist/modules/resourcetech/tools.dm
  icons/urist/items/misc.dmi
  icons/urist/items/uristweapons.dmi
  maps/nerva/Loadout/loadout_accessories.dm
  sound/urist/drink1.ogg
  sound/urist/drink2.ogg
  sound/urist/drink3.ogg
  sound/urist/drink4.ogg
Labels: Feature, Icons, Sound

#842 Adds Command + Sec Variants of Clothing for Teshari
  icons/mob/species/resomi/uristSuit.dmi
  icons/mob/species/resomi/uristUniform.dmi
Labels: Enhancement, Icons
