Repository UristMcStation/UristMcStation, pull requests merged in 2020-01, with the labels that each got.

#825 ICS Nerva - OSHA Complient Sign Edition
  code/game/objects/structures/signs.dm
  icons/urist/decals/urist.dmi
Labels: Enhancement, Icons

#829 Adds ICS Nerva Security Team Guideline/Space Law Books.
  code/modules/urist/items/tgitems.dm
  icons/urist/items/library.dmi
  ingame_manuals/icsnervalaw.html
Labels: Feature, Fluff

#831 Fixes a bunch of Science Issues and QoL features.
  maps/nerva/datums/nerva_jobs.dm
Labels: Do Not Merge, Feature, Map
