Repository UristMcStation/UristMcStation, pull requests merged in 2020-05, with the labels that each got.

#833 Tweaks Janitor Job Access, Sec Access, Adds more Job Blurbs + more QoL features.
  code/modules/mob/living/silicon/robot/robot_modules.dm
  maps/nerva/Loadout/loadout_uniform.dm
  maps/nerva/datums/nerva_jobs.dm
  maps/nerva/nerva_elevators.dm
Labels: Enhancement, Feature, Fluff

#867 (Baymerge) Science Department Overhaul, Adds Senior Scientist Role + Quarters and revamps Science Layout.
  icons/urist/items/clothes/clothes.dmi
  icons/uristmob/clothes.dmi
  maps/nerva/datums/nerva_access_datums.dm
  maps/nerva/datums/nerva_jobs.dm
  maps/nerva/datums/nerva_outfits.dm
  maps/nerva/nerva-1.dmm
  maps/nerva/nerva-2.dmm
  maps/nerva/nerva-3.dmm
  maps/nerva/nerva_areas.dm
  maps/nerva/obj/nerva_closets.dm
  maps/nerva/obj/nerva_clothes.dm
  maps/nerva/obj/nerva_ids.dm
  maps/nerva/obj/nerva_items.dm
Labels: Feature, Map, Nerva

#870 couple quick hotfixes and tweaks
  code/modules/atmospherics/components/unary/vent_pump.dm
  code/modules/modular_computers/hardware/network_card.dm
  maps/away/stations/nanotrasentrading.dmm
  maps/nerva/nerva-1.dmm
  maps/nerva/obj/nerva_computers.dm
Labels: Bugfix, Map, Nerva

#871 fixes the sensors
  maps/nerva/nerva-1.dmm
Labels: Bugfix, CALL THE SHUTTLE, Map, Nerva

#872 fixes npcs and a whole lot more possibly?
  code/_helpers/global_access.dm
Labels: Bugfix, Kill Me

#875 Skills begone!
  code/game/mecha/mecha.dm
  code/game/objects/items/devices/auto_cpr.dm
  code/modules/organs/internal/stack.dm
Labels: Fucking Bay, Merge Issue

#876 Fixes some map issues in merge.
  maps/nerva/nerva-1.dmm
  maps/nerva/nerva-3.dmm
Labels: Bugfix, Map, Nerva

#873 nervafixes
  maps/nerva/nerva-1.dmm
  maps/nerva/nerva-2.dmm
Labels: Bugfix, Map, Nerva

#877 Away mission fixes
  code/__defines/mobs.dm
  maps/away/noctis/noctis-1.dmm
  maps/away/noctis/noctis-2.dmm
  maps/away/unishi/unishi.dm
Labels: Awaymaps, Bugfix, Map
