Repository UristMcStation/UristMcStation, pull requests merged in 2020-06, with the labels that each got.

#878 Makes the rainbow skybox 10x more likely during Pride Month
  code/controllers/subsystems/skybox.dm
Labels: Enhancement, Priority: CRITICAL

#879 Fixes Colony and Crashed Pods, Adds Previous PR Content in Map.
  maps/nerva/nerva-1.dmm
  maps/nerva/nerva-2.dmm
  maps/nerva/nerva-3.dmm
  maps/random_ruins/exoplanet_ruins/crashed_pod/crashed_pod.dmm
  maps/random_ruins/exoplanet_ruins/playablecolony/colony.dmm
Labels: Awaymaps, Map, Merge Issue, Nerva

#880 Minor Fix for Chat Issues
  code/modules/mob/typing_indicator.dm
Labels: Bugfix, Exploit, Fucking Bay

#881 A handful of merge fixes/tweaks, and some new stuff
  baystation12.dme
  code/controllers/subsystems/payment.dm
  code/modules/mob/living/say.dm
  code/modules/mob/living/simple_animal/simple_animal.dm
  code/modules/urist/area&turf/turfs.dm
  code/modules/urist/modules/newtrading/NPC/NPC_types/simple_traders.dm
  code/modules/urist/modules/newtrading/NPC/npc.dm
  code/modules/urist/modules/newtrading/NPC/npc_damage.dm
  code/modules/urist/modules/newtrading/NPC/npc_trade.dm
  code/modules/urist/modules/newtrading/trade/trade_category.dm
  code/modules/urist/modules/newtrading/trade/trade_items/organs.dm
  icons/urist/structures&machinery/structures.dmi
  maps/away/stations/nanotrasentrading.dmm
  maps/away/stations/station_areas.dm
  maps/nerva/datums/nerva_jobs.dm
  maps/nerva/datums/nerva_outfits.dm
  maps/nerva/nerva-1.dmm
  maps/nerva/nerva-2.dmm
  maps/nerva/nerva-4.dmm
  maps/nerva/nerva_elevators.dm
  maps/nerva/obj/nerva_closets.dm
  maps/shipmaps/ship_fastattackcraft_terran.dmm
Labels: Awaymaps, Bugfix, Enhancement, Exploit, Icons, Map, Nerva

#882 Teshari NPCs
  baystation12.dme
  code/modules/urist/modules/newtrading/NPC/NPC_types/teshari.dm
  maps/away/stations/nanotrasentrading.dmm
Labels: Feature, Nerva

#883 Fixes human variants only getting two types of prosthetic
  code/modules/organs/robolimbs.dm
Labels: Bugfix

#884 restores a small bit of urist content lost in the merge.
  code/controllers/subsystems/payment.dm
  code/controllers/subsystems/ticker.dm
  code/modules/urist/_helpers.dm
  code/modules/urist/modules/newtrading/NPC/NPC_types/teshari.dm
  code/modules/urist/modules/shipbattles/overmapships/overmapships.dm
  code/modules/urist/structures/uriststructures.dm
  maps/away/stations/nerva_stations.dm
  maps/away/stations/station_areas.dm
  maps/nerva/datums/nerva_jobs.dm
  maps/nerva/nerva-1.dmm
  maps/nerva/nerva-2.dmm
  maps/~mapsystem/maps.dm
Labels: Formatting, Merge Issue, Nerva
