Repository UristMcStation/UristMcStation, pull requests merged in 2020-04, with the labels that each got.

#865 Stops Bay from forcing Skills on Mechs
  code/game/mecha/mecha.dm
Labels: Enhancement, Fucking Bay

#866 Baymerge things
  .travis.yml
  code/_global_vars/configuration.dm
  code/global.dm
  code/modules/urist/datums/uristaccess.dm
  maps/nerva/nerva-1.dmm
  maps/nerva/nerva-2.dmm
  maps/nerva/nerva-3.dmm
  maps/nerva/nerva-4.dmm
  maps/nerva/nerva-5.dmm
  maps/~mapsystem/maps.dm
Labels: Kill Me, Merging

#864 (Baymerge) - Mapping Changes to Virology, Medbay Storage, Upper Med Maint, Sec Lobby.
  maps/nerva/nerva-1.dmm
  maps/nerva/nerva-2.dmm
Labels: Map, Nerva

#861 Comments out binary key from R&D console.
  code/modules/research/designs.dm
Labels: Balance

#862 Teshari prosthetics
  code/game/objects/items/weapons/cane.dm
  code/modules/client/preference_setup/loadout/lists/misc.dm
  code/modules/organs/robolimbs.dm
  code/modules/species/station/teshari.dm
  code/modules/sprite_accessories/accessory_teshari.dm
  code/modules/urist/items/uristweapons.dm
  icons/mob/human_races/r_resomi.dmi
  icons/mob/human_races/species/teshari/hair.dmi
  icons/urist/items/uristweapons.dmi
  icons/uristmob/items_lefthand.dmi
  icons/uristmob/items_righthand.dmi
  icons/uristmob/species/teshari/cenilimicybernetics/cenilimicybernetics.dmi
  icons/uristmob/species/teshari/unbranded/unbranded.dmi
Labels: Feature, Icons

#783 Boost starting account funds
  code/game/jobs/job/job.dm
Labels: Balance, Nerva

#853 Adds several new drinks
  code/game/machinery/vending.dm
  code/modules/urist/items/food.dm
  icons/urist/items/uristfood.dmi
  icons/urist/items/uristtrash.dmi
Labels: Icons
