Repository UristMcStation/UristMcStation, pull requests merged in 2021-08, with the labels that each got.

#1029 Fixed Torpedo Construction
  code/modules/urist/modules/shipbattles/shipweapons/ammo_types.dm
Labels: Bugfix

#1028 Fixed floating text issues
  code/modules/mob/floating_message.dm
  code/modules/mob/living/say.dm
Labels: Bugfix

#1027 Bugfixing again
  code/game/objects/structures/door_assembly.dm
  code/modules/modular_computers/file_system/programs/command/comm.dm
  code/modules/power/power_usage.dm
Labels: Bugfix, Fucking Bay

#1010 Reloadable Energy Weapons - Mostly Done Project
  code/modules/projectiles/guns/energy.dm
  sound/weapons/guns/interaction/energy_magin.ogg
Labels: Balance

#1032 Reloadable Energy/Smart Gun Fixes
  code/modules/projectiles/guns/energy.dm
Labels: Bugfix

#1033 Adds Cards Against the Galaxy to the games vending machine
  code/game/machinery/vending.dm
Labels: Enhancement

#1036 Fixes shield bypass bug
  code/modules/urist/modules/shipbattles/shipweapons/shipweapons.dm
Labels: CALL THE SHUTTLE, Kill Me, Bugfix

#1034 Captain's smartgun is now compact smartgun
  maps/nerva/obj/nerva_closets.dm
Labels: Balance, Nerva

#1035 Adds a faction tab to the contract database
  code/modules/urist/modules/newtrading/contracts/contract_computer.dm
  nano/templates/contract_database.tmpl
Labels: Enhancement, Nerva, Interface

#1030 [Feature] Adds character slots as an option for AI holograms
  code/_helpers/icons.dm
  code/modules/mob/living/silicon/ai/ai.dm
Labels: Feature

#1026 [Feature] Alert Controlled Gun Safes + Map Tweaks
  code/_global_vars/urist.dm
  code/datums/security_state.dm
  code/game/objects/items/weapons/storage/secure.dm
  code/modules/modular_computers/file_system/programs/security/forceauthorization.dm
  code/modules/paperwork/stamps.dm
  code/modules/urist/modules/shipbattles/ship_overmaps.dm
  code/modules/urist/structures/closets.dm
  icons/obj/storage.dmi
  maps/nerva/nerva-2.dmm
  maps/nerva/nerva-3.dmm
  maps/nerva/obj/nerva_closets.dm
  maps/nerva/obj/nerva_items.dm
  nano/templates/alarm_safe.tmpl
  nano/templates/forceauthorization.tmpl
  sound/urist/Credits.txt
  sound/urist/buzzclick.ogg
Labels: Map, Icons, Feature, Balance, Nerva, Sound

#1037 Space Combat Expansion Part 2: Part 2 - Actually adding the guns lmao
  baystation12.dme
  code/controllers/subsystems/supply.dm
  code/modules/recycling/disposal.dm
  code/modules/recycling/sortingmachinery.dm
  code/modules/research/designs/designs_urist.dm
  code/modules/urist/datums/autolathe_datums.dm
  code/modules/urist/gamemodes/scom/science.dm
  code/modules/urist/modules/newtrading/factions/factions.dm
  code/modules/urist/modules/shipbattles/combatcomputer.dm
  code/modules/urist/modules/shipbattles/shipweapons/ammo_types.dm
  code/modules/urist/modules/shipbattles/shipweapons/ammo_weapons.dm
  code/modules/urist/modules/shipbattles/shipweapons/beam_weapons.dm
  code/modules/urist/modules/shipbattles/shipweapons/shipweapons.dm
  code/modules/urist/modules/shipbattles/shipweapons/torpedo_warhead.dm
  code/modules/urist/modules/shipbattles/shipweapons/weapon_construction.dm
  icons/urist/128x128.dmi
  icons/urist/items/ship_projectiles.dmi
  icons/urist/structures&machinery/64x32machinery.dmi
  maps/away/glloyd_jungle/glloyd_jungle.dmm
  maps/nerva/datums/nerva_access_datums.dm
  maps/nerva/datums/nerva_jobs.dm
  maps/nerva/datums/nerva_supplypacks.dm
  maps/nerva/nerva-1.dmm
  maps/nerva/nerva-2.dmm
  maps/nerva/nerva-3.dmm
  maps/nerva/nerva-4.dmm
  maps/nerva/nerva-5.dmm
  maps/nerva/nerva_areas.dm
Labels: Map, Kill Me, Icons, Feature, Bugfix, Nerva
