Repository UristMcStation/UristMcStation, pull requests merged in 2021-01, with the labels that each got.

#932 Readds boron and fixes the RUST
  baystation12.dme
  code/modules/power/fusion/consoles/core_control.dm
  code/modules/power/fusion/core/core_field.dm
  code/modules/power/fusion/fusion_reactions.dm
  code/modules/xgm/boron.dm
Labels: Bugfix

#936 fixes a couple runtimes + a powersink issue
  code/game/objects/effects/decals/contraband.dm
  code/game/objects/items/devices/powersink.dm
  code/modules/synthesized_instruments/song_editor.dm
Labels: Bugfix, Runtime

#937 adds 39 more hairstyles from bay/aurora
  code/modules/urist/mob/hair.dm
  icons/uristmob/hair.dmi
Labels: Icons

#938 throwing + attack animations
  code/_helpers/animations.dm
  code/modules/mob/animations.dm
  code/modules/mob/living/carbon/carbon.dm
  sound/effects/throw.ogg
Labels: Enhancement, Sound

#940 Space Combat Expansion Part 1: The Fuckening
  code/modules/urist/modules/shipbattles/overmapships/components/component_weapons.dm
  code/modules/urist/modules/shipbattles/shipweapons/beam_weapons.dm
  code/modules/urist/modules/shipbattles/shipweapons/missile_weapons.dm
  code/modules/urist/modules/shipbattles/shipweapons/ship_projectiles.dm
  code/modules/urist/modules/shipbattles/shipweapons/shipweapons.dm
Labels: Balance, Enhancement, Feature, Nerva, Refactor
