Repository UristMcStation/UristMcStation, pull requests merged in 2021-07, with the labels that each got.

#1000 Bugfix - Fixes ions stacking negative shield damage
  code/modules/urist/modules/shipbattles/shipweapons/shipweapons.dm
Labels: Bugfix, Nerva

#999 Smart Gun Sprite Change
  code/modules/projectiles/guns/energy/secure.dm
  icons/urist/items/guns.dmi
Labels: Icons

#887 Traitor Equipment - Price Balance Pass
  code/datums/uplink/devices and tools.dm
  code/datums/uplink/highly_visible_and_dangerous_weapons.dm
  code/datums/uplink/services.dm
  code/datums/uplink/stealth_and_camouflage_items.dm
  code/datums/uplink/stealthy_and_inconspicuous_weapons.dm
Labels: Balance

#1001 Boarding fixes and changes
  code/modules/urist/gamemodes/scom/scom.dm
  code/modules/urist/modules/newtrading/factions/factions.dm
  code/modules/urist/modules/newtrading/stations.dm
  code/modules/urist/modules/shipbattles/overmapships/components/components.dm
  code/modules/urist/modules/shipbattles/overmapships/hostile_ships.dm
  code/modules/urist/modules/shipbattles/overmapships/overmapships.dm
  code/modules/urist/modules/shipbattles/overmapships/station_holders.dm
  code/modules/urist/modules/shipbattles/ship_landmarks.dm
  code/modules/urist/modules/shipbattles/shipweapons/shipweapons.dm
  code/modules/urist/random.dm
  maps/away/stations/pirate/pirate_station.dm
  maps/nerva/fluff/alien_fluff.dm
Labels: Bugfix, Nerva, Refactor

#1002 buffs contract values across the board
  code/modules/urist/modules/newtrading/NPC/NPC_types/contract_givers.dm
  code/modules/urist/modules/newtrading/contracts/cargo_contracts.dm
  code/modules/urist/modules/newtrading/contracts/contracts.dm
  code/modules/urist/modules/newtrading/trade/trade_items/contracts.dm
Labels: Balance, Bugfix, Nerva

#1003 fixes brig access + flash issues, fixes an airless tile in the AI core
  maps/nerva/nerva-2.dmm
  maps/nerva/nerva-4.dmm
Labels: Bugfix, Map, Nerva

#1004 fixes boarding maps not properly despawning
  code/modules/urist/modules/shipbattles/overmapships/overmapships.dm
Labels: Bugfix, Nerva

#1005 Bugfix - Fixed mined rocks not generating resources on new turf
  code/modules/mining/mine_turfs.dm
  code/modules/random_map/noise/ore.dm
Labels: Bugfix

#1009 Nerfs flash rounds to be blocked by sunglasses
  code/modules/projectiles/projectile/energy.dm
Labels: Balance

#1007 Gun in hand fixes and additions
  code/modules/projectiles/guns/magnetic/magnetic_railgun.dm
  code/modules/projectiles/guns/projectile/automatic.dm
  code/modules/projectiles/guns/projectile/pistol.dm
  code/modules/projectiles/guns/projectile/revolver.dm
  code/modules/projectiles/guns/projectile/shotgun.dm
  code/modules/projectiles/guns/projectile/sniper.dm
  code/modules/urist/items/guns.dm
  icons/urist/items/pistols.dmi
  icons/uristmob/items_lefthand.dmi
  icons/uristmob/items_righthand.dmi
Labels: Bugfix, Icons

#1008 Tacticool Gun Reloading
  code/modules/projectiles/guns/projectile.dm
Labels: Enhancement, Priority: CRITICAL

#733 Makes the plasma cutter useful, and actually perform like it seems to suggest it would.
  code/modules/projectiles/projectile/beams.dm
Labels: Balance

#739 Dylovene counters sleeping chems.
  code/modules/reagents/Chemistry-Reagents/Chemistry-Reagents-Medicine.dm
Labels: Balance

#991 Reverts baymerge atmos nerf
  code/modules/atmospherics/components/unary/vent_pump.dm
Labels: Balance

#1006 Various NPC trader tweaks/bugfixes
  code/modules/urist/modules/newtrading/NPC/NPC_types/complex_traders.dm
  code/modules/urist/modules/newtrading/NPC/NPC_types/simple_traders.dm
  code/modules/urist/modules/newtrading/NPC/npc.dm
  code/modules/urist/modules/newtrading/NPC/npc_buysell.dm
  code/modules/urist/modules/newtrading/NPC/npc_interact.dm
  code/modules/urist/modules/newtrading/NPC/npc_trade.dm
Labels: Bugfix

#1013 HI-2521 SMG magsize halved, mags added to autolathe
  code/modules/urist/datums/autolathe_datums.dm
  code/modules/urist/items/guns.dm
Labels: Balance

#1012 Allows magazines to reload other magazines of the same calibre
  code/modules/projectiles/ammunition.dm
Labels: Balance, Enhancement

#1014 Second Officer given civdept accesses - QM loses civdept accesses - blurb fixes
  maps/nerva/datums/nerva_jobs.dm
Labels: Balance, Bugfix, Nerva

#1011 A Fistful of Shotgun Shells - Nerva Edition
  code/modules/projectiles/ammunition.dm
  code/modules/projectiles/ammunition/boxes.dm
  code/modules/projectiles/ammunition/bullets.dm
  code/modules/projectiles/guns/projectile/shotgun.dm
  icons/obj/ammo.dmi
  icons/urist/items/shotbundle.dmi
Labels: Feature, Icons

#1016 adds drop pouches and holobadges to loadouts
  maps/nerva/Loadout/loadout_accessories.dm
Labels: Enhancement

#1015 Removes Unathi regen
  code/modules/species/station/lizard.dm
Labels: Balance

#1021 Minor stuff - fax locations, megaphones on belts, aviators, rad crates
  code/game/objects/items/devices/megaphone.dm
  code/game/objects/structures/crates_lockers/crates.dm
  code/modules/urist/items/clothes/glasses.dm
  icons/urist/items/clothes/glasses.dmi
  icons/uristmob/glasses.dmi
  maps/nerva/Loadout/loadout_eyes.dm
  maps/nerva/nerva_define.dm
Labels: Enhancement, Fluff, Icons

#1017 Bugfix - Fixes areas draining power, even when their power is disabled
  code/game/area/area_power.dm
Labels: Bugfix

#1020 Space Combat Expansion Part 2: Part 1 - The Ammo Reckoning
  baystation12.dme
  code/_global_vars/urist.dm
  code/controllers/subsystems/factions.dm
  code/controllers/subsystems/trade_controller.dm
  code/game/turfs/simulated/walls.dm
  code/modules/mob/living/simple_animal/simple_animal.dm
  code/modules/overmap/exoplanets/exoplanet.dm
  code/modules/urist/datums/autolathe_datums.dm
  code/modules/urist/datums/uristdesigns.dm
  code/modules/urist/datums/uristoutfits.dm
  code/modules/urist/gamemodes/scom/scom.dm
  code/modules/urist/gamemodes/scom/shuttles.dm
  code/modules/urist/items/clothes/head.dm
  code/modules/urist/items/clothes/uristclothes.dm
  code/modules/urist/items/guns.dm
  code/modules/urist/items/terran_confederacy_items.dm
  code/modules/urist/mob/humanhostiles.dm
  code/modules/urist/modules/newtrading/contracts/contracts.dm
  code/modules/urist/modules/newtrading/factions/factions.dm
  code/modules/urist/modules/shipbattles/combatcomputer.dm
  code/modules/urist/modules/shipbattles/overmapships/components/advanced_components.dm
  code/modules/urist/modules/shipbattles/overmapships/components/component_weapons.dm
  code/modules/urist/modules/shipbattles/overmapships/components/components.dm
  code/modules/urist/modules/shipbattles/overmapships/hostile_ships.dm
  code/modules/urist/modules/shipbattles/overmapships/ship_types.dm
  code/modules/urist/modules/shipbattles/ship_landmarks.dm
  code/modules/urist/modules/shipbattles/ship_overmaps.dm
  code/modules/urist/modules/shipbattles/shipweapons/ammo_types.dm
  code/modules/urist/modules/shipbattles/shipweapons/ammo_weapons.dm
  code/modules/urist/modules/shipbattles/shipweapons/beam_weapons.dm
  code/modules/urist/modules/shipbattles/shipweapons/missile_weapons.dm
  code/modules/urist/modules/shipbattles/shipweapons/ship_projectiles.dm
  code/modules/urist/modules/shipbattles/shipweapons/shipweapons.dm
  code/modules/urist/modules/shipbattles/shipweapons/torpedo_warhead.dm
  code/modules/urist/modules/shipbattles/shipweapons/weapon_construction.dm
  icons/urist/items/guns.dmi
  icons/urist/items/ship_projectiles.dmi
  icons/urist/items/ship_projectiles48x48.dmi
  icons/urist/structures&machinery/64x64machinery.dmi
  icons/uristmob/items_lefthand.dmi
  icons/uristmob/items_righthand.dmi
  maps/nerva/fluff/alien_fluff.dm
  maps/nerva/nerva-1.dmm
  maps/shipmaps/ship_pirate_small1.dmm
  maps/shipmaps/ship_rebel_small1.dmm
  sound/urist/shipweapons/shipweapons_cannon.ogg
  sound/urist/shipweapons/shipweapons_mac_load.ogg
  sound/urist/shipweapons/shipweapons_railgun_fire.ogg
Labels: Balance, Bugfix, Feature, Icons, Kill Me, Map, Nerva, Refactor, Sound

#1022 fixes aviator onmob sprite
  icons/uristmob/glasses.dmi
Labels: Bugfix, Icons

#1023 adds in a few things for future events + adds some more Terran things for events/Meun
  baystation12.dme
  code/modules/urist/datums/uristoutfits.dm
  code/modules/urist/gamemodes/assault/assault.dm
  code/modules/urist/gamemodes/infestation/machinery.dm
  code/modules/urist/gamemodes/infestation/weapons&armour.dm
  code/modules/urist/items/corpse_landmarks.dm
  code/modules/urist/items/terran_confederacy_items.dm
  code/modules/urist/items/used_bullets.dm
  code/modules/urist/mob/humanhostiles.dm
  code/modules/urist/modules/jungle/planet_turfs.dm
  code/modules/urist/modules/shipbattles/ship_landmarks.dm
  icons/urist/items/clothes/head.dmi
  icons/urist/weather.dmi
  icons/uristmob/clothes.dmi
  icons/uristmob/head.dmi
  icons/uristmob/simpleanimals.dmi
  maps/away/casino/casino.dm
Labels: Bugfix, Enhancement, Fluff, Icons
