Repository UristMcStation/UristMcStation, pull requests merged in 2021-06, with the labels that each got.

#971 Fixed Coolant
  code/modules/reagents/Chemistry-Reagents/Chemistry-Reagents-Other.dm
Labels: Balance, Bugfix

#968 Ports pixelshifting!
  code/modules/mob/living/living.dm
  code/modules/mob/mob.dm
  code/modules/mob/mob_defines.dm
  interface/skin.dmf
Labels: Feature

#976 Surgery & Cloning bugfixes
  code/game/machinery/cloning.dm
  code/game/machinery/computer/cloning.dm
  code/modules/surgery/other.dm
  code/modules/surgery/robotics.dm
Labels: Bugfix, Enhancement

#975 AI construction fixes
  code/datums/mind.dm
  code/game/machinery/computer/ai_core.dm
Labels: Bugfix

#981 Bug Fixes
  code/modules/mob/living/carbon/human/descriptors/_descriptors.dm
  code/modules/modular_computers/computers/modular_computer/interaction.dm
Labels: Bugfix

#979 Forensic Kit tweak
  code/modules/detectivework/tools/crimekit.dm
Labels: Enhancement

#982 Fixed ship weapons dupe glitch
  code/modules/urist/modules/shipbattles/shipweapons/shipweapons.dm
Labels: Bugfix

#980 Update Chef & Barkeep guides to our bay version
  code/modules/library/manuals/manuals.dm
Labels: Enhancement, Fluff

#978 RnD Additions
  code/modules/research/designs/designs_circuits.dm
  code/modules/research/designs/designs_mechfab.dm
  code/modules/research/designs/designs_weapon.dm
  code/modules/vehicles/bike.dm
Labels: Bugfix, Enhancement

#983 Fixed Selling Containers to NPC Traders
  code/modules/urist/modules/newtrading/NPC/npc_buysell.dm
Labels: Bugfix, Kill Me

#985 Fixed dufflebag item icons
  code/game/objects/items/weapons/storage/backpack.dm
Labels: Bugfix

#986 Discord Bug Fixes
  code/game/machinery/newscaster.dm
  code/game/objects/items/stacks/tiles/tile_types.dm
  code/game/objects/items/weapons/lighter.dm
Labels: Bugfix

#987 Requested Feature: Examine shows wet floors
  code/game/turfs/simulated.dm
Labels: Feature

#988 Small fixes + feature requests
  code/modules/modular_computers/computers/subtypes/preset_console.dm
  code/modules/urist/gamemodes/vampire/vampire_powers.dm
  maps/nerva/datums/nerva_jobs.dm
  maps/nerva/nerva-1.dmm
  maps/nerva/nerva-2.dmm
  maps/nerva/nerva-3.dmm
  maps/nerva/nerva-4.dmm
Labels: Bugfix, Enhancement, Map, Nerva

#984 Multi Z-level repair additions
  code/game/objects/items/devices/t_scanner.dm
  code/game/objects/items/stacks/rods.dm
  code/game/objects/items/stacks/tiles/tile_types.dm
Labels: Enhancement, Feature

#989 Adds an airlock sensor to the Raptor and fixes an open ended pipe on the Noctis.
  maps/away/noctis/noctis-1.dmm
Labels: Awaymaps, Map

#992 Updates QM & RD departments
  maps/nerva/datums/nerva_jobs.dm
Labels: Fluff, Nerva

#993 Backports newscaster pencode support
  code/game/machinery/newscaster.dm
Labels: Enhancement

#994 Fixes ghost ship defender spawns
  code/modules/urist/modules/shipbattles/ship_landmarks.dm
Labels: Bugfix

#998 pride month lobby screen for the nerva, better almost late than never
  maps/nerva/nerva_define.dm
  maps/nerva/nerva_rainbow_lobby.dmi
Labels: Icons, Nerva, Priority: CRITICAL

#995 Feature - PvP Ship Combat + Combat Bugfixes
  code/datums/security_state.dm
  code/modules/overmap/ships/ship.dm
  code/modules/urist/modules/shipbattles/combatcomputer.dm
  code/modules/urist/modules/shipbattles/overmapships/components/advanced_components.dm
  code/modules/urist/modules/shipbattles/overmapships/components/component_weapons.dm
  code/modules/urist/modules/shipbattles/overmapships/components/components.dm
  code/modules/urist/modules/shipbattles/overmapships/overmapships.dm
  code/modules/urist/modules/shipbattles/projectile_landmarks.dm
  code/modules/urist/modules/shipbattles/ship_overmaps.dm
  code/modules/urist/modules/shipbattles/shipweapons/missile_weapons.dm
  code/modules/urist/modules/shipbattles/shipweapons/shipweapons.dm
  maps/away/bearcat/bearcat.dm
  maps/away/casino/casino.dm
  maps/away/noctis/noctis.dm
  maps/away/unishi/unishi.dm
  maps/away/yacht/yacht.dm
  maps/nerva/nerva-1.dmm
  maps/nerva/nerva-2.dmm
  maps/nerva/nerva-3.dmm
  maps/nerva/nerva-4.dmm
  maps/nerva/nerva_overmap.dm
  nano/templates/combat_computer.tmpl
Labels: Awaymaps, Bugfix, Feature, Interface, Map, Nerva
