Repository UristMcStation/UristMcStation, pull requests merged in 2021-05, with the labels that each got.

#964 Map fixes to Nerva and the abandoned colony
  code/modules/clothing/spacesuits/rig/suits/combat.dm
  code/modules/reagents/Chemistry-Reagents/Chemistry-Reagents-Food-Drinks.dm
  code/modules/urist/items/clothes/uristclothes.dm
  maps/away/abandoned_colony/abandoned_colony.dmm
  maps/nerva/nerva-1.dmm
  maps/nerva/nerva-2.dmm
  maps/nerva/nerva-4.dmm
Labels: Awaymaps, Bugfix, Map, Nerva

#965 grab bag of fixes, feature requests, and QoL changes
  code/controllers/subsystems/ticker.dm
  code/modules/urist/gamemodes/infestation/weapons&armour.dm
  code/modules/urist/gamemodes/scom/scom.dm
  code/modules/urist/gamemodes/scom/weapons&armour.dm
  code/modules/urist/mob/humanhostiles.dm
  code/modules/urist/modules/newtrading/trade/trade_items/organs.dm
  code/modules/urist/modules/resourcetech/tools.dm
  code/modules/urist/modules/shipbattles/ship_landmarks.dm
  code/modules/urist/modules/shipbattles/shipweapons/shipweapons.dm
  code/modules/urist/structures/boardingstructures.dm
  maps/away/abandoned_colony/abandoned_colony.dm
  maps/away/abandoned_colony/abandoned_colony.dmm
  maps/away/abandoned_colony/abandoned_colony_shuttle.dm
  maps/away/lar_maria/lar_maria-2.dmm
  maps/away/mining/mining-asteroid.dmm
  maps/away/noctis/noctis.dm
  maps/away/stations/nanotrasentrading.dmm
  maps/away/stations/pirate/pirate_station-1.dmm
  maps/away/stations/pirate/pirate_station-2.dmm
  maps/nerva/datums/nerva_jobs.dm
  maps/nerva/nerva-1.dmm
  maps/nerva/nerva-2.dmm
  maps/nerva/nerva-3.dmm
  maps/nerva/nerva-4.dmm
  maps/nerva/nerva_define.dm
  maps/nerva/nerva_overmap.dm
  maps/shipmaps/ship_lactera_large.dmm
  maps/shipmaps/ship_lactera_small.dmm
  maps/shipmaps/ship_pirate_small1.dmm
Labels: Awaymaps, Balance, Bugfix, Feature, Fucking Bay, Map, Nerva, Request

#966 Space Combat Expansion Part 1: The Fuckening Part 2 - Revengeance
  code/modules/urist/modules/newtrading/trade/trade_items/organs.dm
  code/modules/urist/modules/shipbattles/overmapships/components/advanced_components.dm
  code/modules/urist/modules/shipbattles/overmapships/components/component_weapons.dm
  code/modules/urist/modules/shipbattles/overmapships/components/components.dm
  code/modules/urist/modules/shipbattles/overmapships/hostile_ships.dm
  code/modules/urist/modules/shipbattles/overmapships/overmapships.dm
  code/modules/urist/modules/shipbattles/shipweapons/ship_projectiles.dm
  code/modules/urist/random.dm
  code/modules/urist/structures/boardingstructures.dm
  maps/away/stations/nanotrasentrading.dmm
Labels: Balance, Bugfix, Nerva, Request

#967 minor fixes and tweaks from last night
  code/modules/urist/modules/shipbattles/overmapships/components/advanced_components.dm
  code/modules/urist/modules/shipbattles/shipweapons/shipweapons.dm
  maps/nerva/nerva-1.dmm
  maps/nerva/nerva-2.dmm
Labels: Bugfix, Map, Nerva

#969 tachyonic overload fixes
  code/modules/urist/modules/shipbattles/overmapships/components/advanced_components.dm
Labels: Bugfix, Nerva

#973 Adds more stuff to R'nD than I originally planned to
  code/modules/research/designs/designs_singletons.dm
  code/modules/research/designs/designs_tool.dm
  code/modules/urist/datums/uristdesigns.dm
Labels: Enhancement

#972 Shuttles Redux
  maps/away/abandoned_colony/abandoned_colony.dmm
  maps/away/bearcat/bearcat-1.dmm
  maps/away/bearcat/bearcat-2.dmm
  maps/away/bearcat/bearcat.dm
  maps/away/bearcat/bearcat_shuttle.dm
  maps/away/casino/casino.dm
  maps/away/casino/casino.dmm
  maps/away/noctis/noctis-1.dmm
  maps/away/noctis/noctis-2.dmm
  maps/away/noctis/noctis.dm
  maps/away/voxship/voxship-1.dmm
  maps/away/voxship/voxship.dm
  maps/nerva/nerva-1.dmm
  maps/nerva/nerva-4.dmm
  maps/nerva/nerva-5.dmm
  maps/nerva/nerva_overmap.dm
  maps/nerva/nerva_shuttles.dm
Labels: Awaymaps, Bugfix, CALL THE SHUTTLE, Map, Nerva

#970 Fixes improvised gun plus clean up
  code/modules/urist/items/guns.dm
Labels: Bugfix, Refactor

#974 Fixes problems with ship projectiles.
  code/modules/urist/modules/shipbattles/projectile_landmarks.dm
Labels: Bugfix, CALL THE SHUTTLE, Nerva
