Repository UristMcStation/UristMcStation, pull requests merged in 2021-10, with the labels that each got.

#1041 Many map bugfixes
  code/game/machinery/turret_control.dm
  maps/nerva/nerva-1.dmm
  maps/nerva/nerva-2.dmm
  maps/nerva/nerva-3.dmm
  maps/nerva/nerva-4.dmm
  maps/nerva/nerva_define.dm
Labels: Map, Kill Me, Bugfix, Nerva

#1039 Holster-free secbelts added to sec/CoS locker
  maps/nerva/obj/nerva_closets.dm
Labels: Enhancement, Priority: CRITICAL, Balance

#1025 [Feature] Bureaucracy comes to the Nerva
  baystation12.dme
  code/__defines/misc.dm
  code/_helpers/text.dm
  code/controllers/subsystems/payment.dm
  code/datums/mind.dm
  code/game/machinery/computer/account_manager.dm
  code/game/objects/items/weapons/circuitboards/computer/computer.dm
  code/modules/client/client_procs.dm
  code/modules/economy/Accounts.dm
  code/modules/modular_computers/NTNet/emails/email_account.dm
  code/modules/modular_computers/computers/subtypes/preset_console.dm
  code/modules/modular_computers/file_system/programs/generic/email_client.dm
  code/modules/modular_computers/file_system/programs/security/finesmanager.dm
  code/modules/paperwork/paper.dm
  html/images/nervalogo.png
  maps/nerva/datums/nerva_jobs.dm
  maps/nerva/nerva-2.dmm
  maps/nerva/nerva-3.dmm
  nano/templates/account_management.tmpl
  nano/templates/fines_terminal.tmpl
Labels: Enhancement, Icons, Feature, Bugfix, Nerva

#1038 Pirates Balance Changes
  code/game/objects/items/weapons/circuitboards/computer/computer.dm
  code/modules/urist/modules/shipbattles/combatcomputer.dm
  code/modules/urist/modules/shipbattles/overmapships/components/advanced_components.dm
  code/modules/urist/structures/boardingstructures.dm
  maps/nerva/nerva-3.dmm
Labels: Balance, Nerva

#1042 [Urgent] Fixes Compilation Error
  code/modules/modular_computers/file_system/programs/security/finesmanager.dm
Labels: CALL THE SHUTTLE, Priority: CRITICAL, Bugfix
