Repository UristMcStation/UristMcStation, pull requests merged in 2021-04, with the labels that each got.

#943 Makes Three Eye Creatable
  code/modules/reagents/Chemistry-Recipes.dm
Labels: Bugfix

#944 Resolve add_antag issues
  code/datums/vote/add_antag.dm
  code/game/antagonist/antagonist_add.dm
Labels: Bugfix

#945 Various fixes
  baystation12.dme
  code/modules/materials/material_recipes.dm
  code/modules/urist/area&turf/turfs.dm
  code/modules/urist/items/terran_defence_force_items.dm
  code/modules/urist/modules/jungle/planet_turfs.dm
  code/modules/urist/modules/materials/recipes_iron.dm
  code/modules/urist/random.dm
  code/modules/urist/vehicles/motorcycle.dm
  maps/GamemodeMaps/missions2.dmm
  maps/away/destroyed_colony/destroyed_colony.dm
  maps/away/destroyed_colony/destroyed_colony.dmm
  maps/away/glloyd_jungle/glloyd_jungle.dmm
  maps/nerva/nerva-4.dmm
Labels: Awaymaps, Bugfix, Map, Nerva, Planet, S-COM

#946 Tweaked Verbage
  code/game/machinery/atmoalter/portable_atmospherics.dm
Labels: Formatting

#948 merges master into baymerge-testing
  code/game/machinery/atmoalter/portable_atmospherics.dm
Labels: Merging

#949 Bug Fixes
  code/game/machinery/computer/guestpass.dm
  code/game/mecha/equipment/tools/medical_tools.dm
  code/game/mecha/mecha.dm
  code/game/objects/items/stacks/stack.dm
  code/modules/reagents/Chemistry-Holder.dm
Labels: Bugfix

#947 Adds additional toolbelt acceptable items.
  code/game/objects/items/weapons/storage/belt.dm
  code/modules/urist/items/clothes/belt.dm
Labels: Enhancement

#935 Science General Fixes (#933)
  code/modules/client/preference_setup/loadout/lists/eyegear.dm
  code/modules/client/preference_setup/loadout/lists/gloves.dm
  html/changelogs/Laniakeaaaa - scienceteam .yml
  icons/urist/items/clothes/clothes.dmi
  icons/uristmob/clothes.dmi
  maps/nerva/Loadout/loadout_suit.dm
  maps/nerva/Loadout/loadout_uniform.dm
  maps/nerva/datums/nerva_outfits.dm
  maps/nerva/nerva-2.dmm
  maps/nerva/obj/nerva_clothes.dm
  maps/nerva/obj/nerva_ids.dm
Labels: Bugfix, Icons, Map, Nerva

#950 Every time I touch SCOM code it takes a year off my life
  code/modules/urist/gamemodes/scom/mobs.dm
Labels: Bugfix, S-COM

#951 quick fix for issues introduced in #935
  maps/nerva/Loadout/loadout_suit.dm
  maps/nerva/datums/nerva_outfits.dm
  maps/nerva/obj/nerva_clothes.dm
Labels: Bugfix, CALL THE SHUTTLE

#952 Fixed hand teleporter
  code/modules/integrated_electronics/subtypes/manipulation.dm
Labels: Bugfix

#953 A few minor fixes and tweaks
  code/game/objects/effects/misc.dm
  code/modules/urist/area&turf/turfs.dm
  code/modules/urist/items/clothes/glasses.dm
  code/modules/urist/items/clothes/mask.dm
  code/modules/urist/machinery/power.dm
  code/modules/urist/modules/materials/recipes_leather.dm
  maps/away/bearcat/bearcat.dm
  maps/nerva/nerva-1.dmm
  maps/nerva/nerva-5.dmm
Labels: Bugfix, Map, Nerva

#955 Brand new awaymap!
  baystation12.dme
  code/modules/atmospherics/pipes.dm
  code/modules/hydroponics/spreading/spreading_response.dm
  code/modules/urist/gamemodes/scom/science.dm
  code/modules/urist/items/clothes/uristclothes.dm
  code/modules/urist/modules/jungle/planet_areas.dm
  code/modules/urist/modules/jungle/planet_turfs.dm
  code/modules/urist/modules/newtrading/stations.dm
  code/modules/urist/modules/shipbattles/overmapships/overmapships.dm
  code/modules/urist/random.dm
  config/admins.txt
  maps/away/abandoned_colony/abandoned_colony.dm
  maps/away/abandoned_colony/abandoned_colony.dmm
  maps/away/abandoned_colony/abandoned_colony_jobs.dm
  maps/away/abandoned_colony/abandoned_colony_shuttle.dm
  maps/away/geminus_city/citymap_icons/pavement.dmi
  maps/away/geminus_city/citymap_icons/street.dmi
  maps/away/geminus_city/road_and_pavements.dm
  maps/away/geminus_city/streetobjects.dm
  maps/nerva/nerva.dm
Labels: Awaymaps, Bugfix, Icons, Map, Nerva, Planet

#954 Couple of medical scan bugfixes
  code/modules/admin/verbs/debug.dm
  code/modules/paperwork/bodyscan_paper.dm
Labels: Bugfix

#956 Various abandoned colony hotfixes
  code/modules/urist/gamemodes/scom/science.dm
  code/modules/urist/machinery/UMcSTelecomms.dm
  icons/urist/structures&machinery/radio_tower.dmi
  maps/away/abandoned_colony/abandoned_colony.dmm
  maps/away/geminus_city/citymap_icons/coloredlights.dmi
Labels: Awaymaps, Bugfix, CALL THE SHUTTLE, Icons, Map

#957 Even more abandoned colony hotfixes
  code/modules/urist/gamemodes/scom/science.dm
  maps/away/abandoned_colony/abandoned_colony.dm
  maps/away/abandoned_colony/abandoned_colony.dmm
Labels: Awaymaps, Bugfix, Map

#958 a few minor bugfixes + some additions to the Abandoned Colony away
  code/modules/urist/modules/jungle/scrap.dm
  code/modules/urist/modules/newtrading/stations.dm
  code/modules/urist/modules/shipbattles/ship_overmaps.dm
  maps/away/abandoned_colony/abandoned_colony.dmm
Labels: Awaymaps, Bugfix, Map

#959 Make Mentors Useful Again
  code/__defines/admin.dm
  code/_helpers/type2type.dm
  code/modules/admin/admin.dm
  code/modules/admin/admin_ranks.dm
  code/modules/admin/admin_verbs.dm
  code/modules/admin/topic.dm
  code/modules/admin/verbs/adminhelp.dm
  code/modules/admin/verbs/adminjump.dm
  code/modules/admin/verbs/adminpm.dm
  code/modules/admin/verbs/adminsay.dm
Labels: Bugfix, Fucking Bay

#962 The retirement home has called v2.0
  config/admin_ranks.txt
  config/admins.txt
Labels: Oversight

#961 Bringing social media back to the station (for real this time)
  code/modules/modular_computers/computers/subtypes/preset_pda.dm
  code/modules/modular_computers/file_system/programs/generic/email_client.dm
  nano/templates/email_client.tmpl
Labels: Enhancement, Feature, Fucking Bay, Priority: CRITICAL

#963 A few minor fixes and tweaks.
  code/modules/urist/modules/jungle/scrap.dm
  maps/away/abandoned_colony/abandoned_colony.dmm
  maps/nerva/obj/nerva_items.dm
Labels: Awaymaps, Bugfix, Formatting, Map
