Repository UristMcStation/UristMcStation, pull requests merged in 2022-05, with the labels that each got.

#1075 adds qm headset to qm locker
  maps/nerva/nerva-2.dmm
  maps/nerva/obj/nerva_closets.dm
Labels: Map, Nerva

#1076 Allows grabbed mob movement on ladders
  code/modules/mob/grab/grab_object.dm
Labels: Enhancement

#1065 Multi-z path-finding support + Bot path-finding tweaks/fixes
  code/modules/mob/living/bot/bot.dm
  code/modules/mob/living/bot/cleanbot.dm
  code/modules/mob/living/bot/secbot.dm
Labels: Enhancement, Bugfix

#1074 Surgical & medical borg merge + surgery fixes/tweaks
  code/_global_vars/lists/flavor.dm
  code/global.dm
  code/modules/library/manuals/engineering.dm
  code/modules/mob/living/silicon/robot/robot_modules.dm
  code/modules/organs/external/_external.dm
  code/modules/organs/external/wounds/wound.dm
  code/modules/reagents/reagent_containers/borghydro.dm
  code/modules/surgery/generic.dm
  code/modules/surgery/surgery.dm
Labels: Formatting, Bugfix, Runtime

#1077 fixes wood holochairs
  code/modules/holodeck/HolodeckObjects.dm
Labels: Bugfix
