Repository UristMcStation/UristMcStation, pull requests merged in 2022-02, with the labels that each got.

#1045 Adds pilk
  baystation12.dme
  code/controllers/subsystems/ticker.dm
  code/modules/urist/_helpers.dm
  code/modules/urist/datums/uristchem.dm
  code/modules/urist/modules/newtrading/contracts/contracts.dm
  maps/nerva/nerva_define.dm
  maps/~mapsystem/maps.dm
Labels: Enhancement, Kill Me, Feature, Refactor

#1046 Latejoins announced on common by default
  code/procs/announce.dm
Labels: Enhancement, Fucking Bay

#1047 Bugfixes and steal objective modernization
  code/datums/outfits/wizardry.dm
  code/game/gamemodes/objective.dm
  code/game/objects/items/weapons/storage/lockbox.dm
  code/modules/projectiles/guns/energy.dm
  icons/obj/weapons.dmi
  icons/uristmob/clothes.dmi
  maps/glloydstation/glloydstation_define.dm
  maps/nerva/datums/nerva_jobs.dm
  maps/nerva/datums/nerva_outfits.dm
  maps/nerva/nerva_define.dm
  maps/nerva/obj/nerva_closets.dm
  maps/nerva/obj/nerva_clothes.dm
  maps/nerva/obj/nerva_items.dm
  maps/~mapsystem/maps.dm
Labels: Enhancement, Formatting, Icons, Bugfix, Refactor

#1048 fixes heavy autocannon ammo protolathe designs
  code/modules/research/designs/designs_urist.dm
Labels: Bugfix

#1049 [Bugfix] Fixes missing lock check
  code/game/objects/items/weapons/storage/secure.dm
Labels: Bugfix

#1050 slight nerfs to the small pirate ship
  code/modules/urist/modules/shipbattles/overmapships/components/advanced_components.dm
  code/modules/urist/modules/shipbattles/overmapships/components/components.dm
Labels: Balance, Nerva

#1051 fixes a bug with boarding, and some other minor fixes
  code/modules/urist/_maps/templates.dm
  code/modules/urist/modules/shipbattles/overmapships/overmapships.dm
  code/modules/urist/modules/shipbattles/ship_landmarks.dm
  code/modules/urist/structures/boardingstructures.dm
  maps/away/voxship/voxship.dm
Labels: Bugfix, Nerva
