Repository UristMcStation/UristMcStation, pull requests merged in 2022-06, with the labels that each got.

#1079 Bugfixing again
  code/controllers/configuration.dm
  code/controllers/hooks-defs.dm
  code/controllers/subsystems/supply.dm
  code/controllers/subsystems/ticker.dm
  code/game/antagonist/antagonist_add.dm
  code/game/antagonist/antagonist_create.dm
  code/game/antagonist/antagonist_objectives.dm
  code/game/antagonist/outsider/raider.dm
  code/game/gamemodes/game_mode.dm
  code/game/gamemodes/nuclear/nuclear.dm
  code/game/machinery/hologram.dm
  code/modules/mob/living/bot/bot.dm
  code/modules/mob/living/silicon/ai/ai.dm
  code/modules/mob/living/silicon/ai/latejoin.dm
  code/modules/mob/living/silicon/robot/robot_modules.dm
  code/modules/mob/transform_procs.dm
  code/modules/projectiles/guns/launcher/money_cannon.dm
  code/modules/urist/modules/shipbattles/shipweapons/shipweapons.dm
  config/config.txt
  config/game_options.txt
  maps/nerva/nerva_overmap.dm
Labels: Bugfix, Nerva, Config Update Required

#1080 Fixes ship computer fixing
  code/modules/overmap/ships/computers/helm.dm
Labels: Bugfix

#1082 Borg holopad fix
  code/game/machinery/hologram.dm
Labels: Bugfix

#1081 Noctis mapping fixes
  maps/away/noctis/noctis-1.dmm
  maps/away/noctis/noctis-2.dmm
Labels: Enhancement, Map, Awaymaps

#1066 The Great Gunfuckening
  code/modules/clothing/chameleon.dm
  code/modules/power/cell.dm
  code/modules/projectiles/guns/energy/laser.dm
  code/modules/projectiles/guns/energy/special.dm
  code/modules/projectiles/guns/energy/stun.dm
  code/modules/projectiles/guns/energy/temperature.dm
  code/modules/research/designs/designs_powercell.dm
  code/modules/urist/items/guns.dm
Labels: Enhancement, Balance

#1083 A Whole Batch of QoL changes
  code/_macros.dm
  code/game/machinery/Sleeper.dm
  code/game/machinery/bodyscanner.dm
  code/game/machinery/cryo.dm
  code/game/objects/items/weapons/storage/secure.dm
  code/game/objects/items/weapons/storage/storage.dm
  code/modules/mob/living/silicon/robot/inventory.dm
  code/modules/reagents/Chemistry-Machinery.dm
  code/modules/reagents/dispenser/dispenser2.dm
  code/modules/reagents/heat_sources/_heat_source.dm
  test/check-paths.sh
Labels: Enhancement

#1084 New Whip
  code/game/objects/items/weapons/melee/misc.dm
  code/modules/mob/living/simple_animal/hostile/retaliate/king_of_goats.dm
  icons/urist/items/uristweapons.dmi
  icons/uristmob/items_lefthand.dmi
  icons/uristmob/items_righthand.dmi
  maps/nerva/nerva-3.dmm
Labels: Map, Icons, Nerva

#1086 Angry cubes go rogue & a couple of bug fixes
  code/game/antagonist/antagonist.dm
  code/game/antagonist/station/traitor.dm
  code/game/gamemodes/malfunction/newmalf_ability_trees/tree_networking.dm
Labels: Bugfix

#1087 Splits Chaplain from Counselor/Psychiatrist and integrates/fixes #1019 and #997
  baystation12.dme
  code/modules/mob/living/silicon/robot/inventory.dm
  code/modules/overmap/overmap_shuttle.dm
  code/modules/urist/items/miscitems.dm
  code/modules/urist/items/vgitems.dm
  icons/obj/bureaucracy.dmi
  icons/urist/items/tgitems.dmi
  maps/nerva/datums/nerva_jobs.dm
  maps/nerva/nerva-1.dmm
  maps/nerva/nerva-3.dmm
  maps/nerva/nerva_areas.dm
Labels: Map, Icons, Feature, Bugfix, Nerva
