Repository UristMcStation/UristMcStation, pull requests merged in 2022-03, with the labels that each got.

#1055 Changes spare PDAs to spawn off
  code/modules/modular_computers/computers/subtypes/dev_pda.dm
Labels: Enhancement, Fucking Bay

#1054 Fixes issues with stacking stacks
  code/game/objects/items/stacks/stack.dm
  code/modules/materials/recipes_stacks.dm
Labels: Bugfix

#1056 fixes compile issues on non-nerva maps
  maps/nerva/datums/nerva_objectives.dm
  maps/nerva/nerva.dm
  maps/nerva/nerva_define.dm
Labels: Bugfix

#1052 Auto-Wrapping Disposals Chutes + Map Tweaks
  code/modules/recycling/disposal.dm
  code/modules/recycling/sortingmachinery.dm
  maps/nerva/nerva-1.dmm
  maps/nerva/nerva-2.dmm
Labels: Map, Feature, Nerva

#1057 Nerva-specific sechud icons
  maps/nerva/datums/nerva_jobs.dm
  maps/nerva/icons/assignment_hud.dmi
  maps/nerva/nerva_define.dm
Labels: Enhancement, Icons, Nerva

#1044 Holopads 'R' Us
  code/game/machinery/hologram.dm
Labels: Enhancement, Feature, Refactor

#1058 Bug Fixes
  code/game/machinery/autolathe.dm
  code/game/machinery/doors/windowdoor.dm
  code/modules/augment/active/polytool.dm
  code/modules/urist/random.dm
Labels: Bugfix

#1018 Akimbo Guns on the Nerva: John Woo Edition
  code/modules/projectiles/gun.dm
  code/modules/projectiles/guns/projectile.dm
Labels: Feature, Balance

#820 Solid Materials: Cooler Edition
  code/modules/materials/definitions/materials_organic.dm
  code/modules/reagents/Chemistry-Recipes.dm
Labels: Feature

#1024 Energy Sword Improvements and Fixes
  code/game/objects/items/weapons/material/twohanded.dm
  code/game/objects/items/weapons/melee/energy.dm
  code/modules/urist/items/uristweapons.dm
  icons/mob/onmob/items/lefthand.dmi
  icons/mob/onmob/items/righthand.dmi
  icons/obj/weapons.dmi
  icons/uristmob/items_lefthand.dmi
  icons/uristmob/items_righthand.dmi
  sound/weapons/saberhit.ogg
  sound/weapons/saberon.ogg
Labels: Enhancement, Icons, Bugfix, Sound

#1053 Bugfixes + Pirate balance changes
  code/modules/shieldgen/shieldwallgen.dm
  code/modules/urist/modules/shipbattles/overmapships/components/component_weapons.dm
  code/modules/urist/modules/shipbattles/overmapships/components/components.dm
  code/modules/urist/modules/shipbattles/overmapships/overmapships.dm
  code/modules/urist/modules/shipbattles/ship_overmaps.dm
  code/modules/urist/modules/shipbattles/shipweapons/beam_weapons.dm
  code/modules/urist/modules/shipbattles/shipweapons/shipweapons.dm
  maps/nerva/nerva-2.dmm
Labels: Bugfix, Balance, Nerva

#919 Bug Fixing - #907, #909, #908
  code/modules/mob/living/simple_animal/hostile/mimic.dm
  code/modules/projectiles/guns/projectile/pistol.dm
  code/modules/urist/machinery/uristvending.dm
  icons/urist/items/pistols.dmi
  icons/urist/structures&machinery/machinery.dmi
  icons/urist/structures&machinery/uristvendors.dmi
  icons/uristmob/simpleanimals.dmi
Labels: Icons, Bugfix

#742 adds a better sprite for, and maps the Reagent Sublimator into secure tech.
  code/modules/reagents/Chemistry-Sublimator.dm
  icons/urist/structures&machinery/reagent_sublimator.dmi
  maps/nerva/nerva-3.dmm
Labels: Map, Icons, Nerva

#1061 Bugfixing
  code/game/machinery/hologram.dm
  code/modules/power/apc.dm
Labels: Bugfix, Fucking Bay

#1062 ICS Nerva: The Remappening (And bugfixing)
  code/_helpers/unsorted.dm
  code/game/machinery/telecomms/presets.dm
  code/game/objects/effects/landmarks.dm
  code/modules/holodeck/HolodeckObjects.dm
  maps/nerva/nerva-1.dmm
  maps/nerva/nerva-2.dmm
  maps/nerva/nerva-3.dmm
  maps/nerva/nerva-4.dmm
  maps/nerva/nerva-5.dmm
  maps/nerva/nerva_areas.dm
  maps/nerva/nerva_holodecks.dm
Labels: Enhancement, Map, Bugfix, Nerva

#1064 More Bugfixing/Tweaks
  code/game/machinery/vending.dm
  code/game/objects/items/devices/radio/radio.dm
  code/modules/mob/living/simple_animal/hostile/hostile2.dm
  code/modules/urist/gamemodes/scom/civilian_mobs.dm
  code/modules/urist/modules/newtrading/NPC/NPC_types/colonist.dm
  code/modules/urist/modules/shipbattles/ship_overmaps.dm
  code/modules/urist/modules/shipbattles/shipweapons/shipweapons.dm
  maps/nerva/nerva_holodecks.dm
Labels: Enhancement, Bugfix

#1067 Fixes comb & urist pistol icons
  code/modules/projectiles/guns/projectile/pistol.dm
  code/modules/urist/items/uristvanity.dm
Labels: Bugfix

#1069 fixes some minor map issues that crept in
  maps/nerva/nerva-2.dmm
Labels: Map, Bugfix, Nerva

#1070 Typo Fix
  code/modules/reagents/Chemistry-Reagents/Chemistry-Reagents-Food-Drinks.dm
Labels: Formatting

#1071 timer/ticker optimizations/fixes from Bay & /tg/
  code/__defines/MC.dm
  code/__defines/lists.dm
  code/__defines/subsystem-priority.dm
  code/_helpers/time.dm
  code/_macros.dm
  code/controllers/configuration.dm
  code/controllers/subsystem.dm
  code/controllers/subsystems/timer.dm
  code/modules/urist/modules/shipbattles/shipweapons/ammo_weapons.dm
  code/modules/urist/modules/shipbattles/shipweapons/shipweapons.dm
  config/config.txt
Labels: Bugfix, Refactor, Config Update Required
