Repository UristMcStation/UristMcStation, pull requests merged in 2023-02, with the labels that each got.

#1099 Fix Advanced ProcCall
  code/modules/admin/callproc/callproc.dm
Labels: Bugfix

#1098 Geese + Possums
  code/modules/events/infestation.dm
  code/modules/mob/holder.dm
  code/modules/urist/mob/uristanimals.dm
  icons/mob/onmob/items/lefthand_holder.dmi
  icons/mob/onmob/items/righthand_holder.dmi
  icons/mob/onmob/onmob_head.dmi
  icons/uristmob/goose.dmi
  icons/uristmob/possum.dmi
  maps/nerva/nerva-1.dmm
  maps/nerva/nerva-3.dmm
Labels: Icons, Feature

#1097 feature: New Spoops
  baystation12.dme
  code/modules/urist/mob/spoophaunters.dm
  code/modules/urist/mob/spoopymobs.dm
  code/modules/urist/mob/uristhallucinations.dm
  icons/uristmob/monsters.dmi
Labels: Icons, Feature

#1101 fixes psychiatrist access
  maps/nerva/nerva-3.dmm
  maps/nerva/obj/nerva_ids.dm
Labels: Map, Bugfix, Nerva

#1102 ship combat rebalancing
  code/modules/research/designs/designs_urist.dm
  code/modules/urist/modules/shipbattles/overmapships/components/components.dm
  code/modules/urist/modules/shipbattles/overmapships/hostile_ships.dm
  code/modules/urist/modules/shipbattles/overmapships/ship_types.dm
  code/modules/urist/modules/shipbattles/shipweapons/ammo_types.dm
  code/modules/urist/modules/shipbattles/shipweapons/ammo_weapons.dm
  code/modules/urist/modules/shipbattles/shipweapons/beam_weapons.dm
  code/modules/urist/modules/shipbattles/shipweapons/shipweapons.dm
  code/modules/urist/modules/shipbattles/shipweapons/torpedo_warhead.dm
  icons/urist/items/ship_projectiles.dmi
Labels: Enhancement, Icons, Balance, Nerva

#1103 fixes leather and cloth crafting
  code/modules/materials/definitions/materials_organic.dm
  code/modules/materials/material_sheets.dm
  code/modules/urist/modules/materials/recipes_cloth.dm
  code/modules/urist/modules/materials/recipes_leather.dm
Labels: Bugfix

#1104 Rebalances traitor costs+ammo+adding antag items
  code/datums/uplink/ammunition.dm
  code/datums/uplink/devices and tools.dm
  code/datums/uplink/grenades.dm
  code/datums/uplink/highly_visible_and_dangerous_weapons.dm
  code/datums/uplink/implants.dm
  code/game/machinery/supplybeacon.dm
  code/game/objects/items/weapons/storage/boxes.dm
  code/game/objects/items/weapons/storage/toolbox.dm
  code/game/objects/items/weapons/storage/uplink_kits.dm
  code/modules/projectiles/ammunition/boxes.dm
  code/modules/projectiles/guns/projectile/revolver.dm
Labels: Bugfix, Balance

#1105 fixes some glloyd map issues before tonight
  maps/glloydstation/Glloydstation2-1.dmm
Labels: Map, Glloydstation

#1106 raises the first name limit to 36 characters
  code/__defines/misc.dm
Labels: Enhancement

#1111 bodyguard modernization, visible giving and bugfix
  code/datums/uplink/services.dm
  code/game/jobs/job/security.dm
  code/modules/mob/living/carbon/give.dm
  code/modules/projectiles/guns/projectile/revolver.dm
  code/modules/urist/gamemodes/scom/operative.dm
  code/modules/urist/gamemodes/scom/scomoutfits.dm
  code/modules/urist/items/clothes/uristclothes.dm
  code/modules/urist/structures/closets.dm
  code/procs/announce.dm
  icons/urist/items/ammo.dmi
  maps/glloydstation/icons/assignment_hud.dmi
  maps/nerva/datums/nerva_outfits.dm
  maps/wyrm/wyrm_jobs.dm
Labels: Enhancement, Icons, Bugfix

#1113 shiptoship crate labels and gun sprite fixes
  code/modules/projectiles/guns/energy.dm
  code/modules/urist/gamemodes/infestation/weapons&armour.dm
  code/modules/urist/items/guns.dm
  icons/urist/items/guns.dmi
  icons/uristmob/items_lefthand.dmi
  icons/uristmob/items_lefthand48x32.dmi
  icons/uristmob/items_righthand.dmi
  icons/uristmob/items_righthand48x32.dmi
  maps/nerva/datums/nerva_supplypacks.dm
Labels: Icons, Bugfix

#1109 Adds three additional bar signs.
  icons/obj/barsigns.dmi
Labels: Enhancement, Icons
