Repository UristMcStation/UristMcStation, pull requests merged in 2023-01, with the labels that each got.

#1092 Couple little fixes
  code/modules/urist/modules/shipbattles/overmapships/hostile_ships.dm
  maps/away/abandoned_colony/abandoned_colony.dmm
  maps/away/glloyd_jungle/glloyd_jungle.dmm
Labels: Map, Bugfix, Awaymaps

#1094 fixes terran marine sprite
  code/modules/urist/mob/humanhostiles.dm
Labels: Icons, Bugfix

#1095 Added new AI status displays
  code/game/machinery/status_display_ai.dm
  icons/obj/status_display.dmi
Labels: Enhancement, Icons
