Repository UristMcStation/UristMcStation, pull requests merged in 2023-12, with the labels that each got.

#1382 Fixes label action
  .github/labeler.yml
Labels: Oversight, Bugfix, Repo

#1386 Re-airs the slaver base tiles + typos on a paper
  maps/away/slavers_base/slavers_base.dmm
Labels: Balance, Awaymaps

#1385 Lets ion storm be a non-overmap event
  code/modules/events/event_container.dm
Labels: Balance

#1387 Adds Mutant Rats + Corpse Rats to Vermin Spawner.
  code/modules/events/infestation.dm
Labels: Enhancement

#1393 Bugfixing: earth origins, derelict away, spell range, explosive implant warnings, bears
  code/game/objects/items/weapons/implants/implants/explosive.dm
  code/modules/mob/living/simple_animal/hostile/retaliate/parrot.dm
  code/modules/organs/external/_external.dm
  code/modules/species/station/machine.dm
  code/modules/spells/racial_wizard.dm
  code/modules/spells/targeted/equip/burning_touch.dm
  code/modules/urist/modules/genetics/powers.dm
  code/modules/urist/modules/genetics/vgpowers.dm
  code/modules/urist/modules/jungle/jungle_animals.dm
  maps/away/russianderelict/russianderelict.dm
  maps/glloydstation/fluff/species_overrides.dm
  maps/nerva/fluff/species_overrides.dm
  maps/wyrm/wyrm_define.dm
Labels: Formatting, Bugfix, Wyrm, Nerva, Glloydstation, Awaymaps

#1394 fixes the easiest xenophage bugs
  code/modules/mechs/mech_interaction.dm
  code/modules/mob/living/carbon/alien/larva/progression.dm
  code/modules/power/lighting.dm
  code/modules/species/xenomorphs/alien_species.dm
  code/modules/tables/tables.dm
Labels: Muh Aliums, Bugfix
