Repository UristMcStation/UristMcStation, pull requests merged in 2023-08, with the labels that each got.

#1148 properly migrates legacy saves
  code/modules/client/preferences.dm
Labels: Priority: CRITICAL, Bugfix, Fucking Bay, fuuuuuuuuuuuuck

#1149 Bay stole my hotkeys
  interface/skin.dmf
Labels: Interface

#1150 Raises TEG max output to 1500kW
  code/modules/power/generator.dm
Labels: Balance

#1152 fixes access/windoors/contract/cycler/tug
  code/datums/item_modifiers/space_suits.dm
  code/game/machinery/doors/windowdoor.dm
  code/game/objects/items/weapons/implants/implantpad.dm
  code/modules/mob/living/simple_animal/hostile/retaliate/goose.dm
  code/modules/urist/modules/newtrading/contracts/cargo_contracts.dm
  code/modules/urist/modules/newtrading/contracts/cargo_papers.dm
  code/modules/urist/modules/newtrading/trade/trade_items/contracts.dm
  code/modules/xenoarcheaology/tools/equipment.dm
  maps/nerva/nerva-1.dmm
  maps/nerva/nerva-2.dmm
  maps/nerva/obj/nerva_machinery.dm
Labels: Bugfix

#1154 config + interface fixes
  config/config.txt
  config/hub.txt
  interface/skin.dmf
Labels: Interface, Config Update Required

#1155 RETURN THE BWOINK
  code/game/world.dm
  code/modules/admin/verbs/adminhelp.dm
  code/modules/admin/verbs/adminpm.dm
Labels: Priority: CRITICAL, Fucking Bay

#1147 feature: A pack of AI improvements.
  code/modules/urist/mob/humanhostiles.dm
  code/modules/urist/mob/stalkers.dm
  icons/uristmob/simpleanimals.dmi
  maps/templates/underground_blacksite.dmm
Labels: Feature

#1156 Adds client scanner result output preference + Tweaks
  code/game/objects/items/devices/scanners/gas.dm
  code/game/objects/items/devices/scanners/health.dm
  code/modules/client/preference_setup/global/preferences.dm
  code/modules/modular_computers/file_system/programs/generic/scanner.dm
  code/modules/modular_computers/hardware/scanners/scanner.dm
  code/modules/modular_computers/hardware/scanners/scanner_atmos.dm
  code/modules/modular_computers/hardware/scanners/scanner_medical.dm
  nano/templates/scanner.tmpl
Labels: Enhancement, Interface

#1158 ship shield rebalance
  code/__defines/shields.dm
Labels: Balance

#1159 fixes a few major access issues
  code/datums/outfits/jobs/engineering.dm
  maps/nerva/datums/nerva_jobs.dm
  maps/nerva/nerva_areas.dm
  maps/nerva/nerva_shuttles.dm
Labels: Bugfix, Nerva

#1144 feature: Girlcats
  code/modules/urist/mob/uristanimals.dm
Labels: Can't Reproduce, CALL THE SHUTTLE, Kill Me, Icons, Feature, What the Fuck

#1160 allows players to vote to add antags on extended again
  code/game/gamemodes/extended/extended.dm
Labels: Enhancement, Fucking Bay

#1161 actually fixes the Ant's access
  maps/nerva/nerva-1.dmm
Labels: Map, Bugfix, Nerva

#1146 Brevenants rebased
  baystation12.dme
  code/__defines/gamemode.dm
  code/_helpers/medical_scans.dm
  code/_uristdefines.dm
  code/controllers/configuration.dm
  code/modules/mob/living/carbon/human/examine.dm
  code/modules/mob/living/carbon/human/human.dm
  code/modules/mob/living/carbon/human/human_attackhand.dm
  code/modules/mob/living/carbon/human/human_organs.dm
  code/modules/organs/blood.dm
  code/modules/organs/internal/brain.dm
  code/modules/organs/internal/heart.dm
  code/modules/urist/antagonist/revenant/__revenant_debug.dm
  code/modules/urist/antagonist/revenant/_defines.dm
  code/modules/urist/antagonist/revenant/_helpers.dm
  code/modules/urist/antagonist/revenant/archetypes/bluespace.dm
  code/modules/urist/antagonist/revenant/archetypes/chaotic.dm
  code/modules/urist/antagonist/revenant/archetypes/chimera.dm
  code/modules/urist/antagonist/revenant/archetypes/generic.dm
  code/modules/urist/antagonist/revenant/archetypes/occult.dm
  code/modules/urist/antagonist/revenant/archetypes/vampiric.dm
  code/modules/urist/antagonist/revenant/distortion.dm
  code/modules/urist/antagonist/revenant/distortion_effects.dm
  code/modules/urist/antagonist/revenant/revenant_add_remove.dm
  code/modules/urist/antagonist/revenant/revenant_attributes.dm
  code/modules/urist/antagonist/revenant/revenant_core.dm
  code/modules/urist/antagonist/revenant/revenant_datum.dm
  code/modules/urist/antagonist/revenant/revenant_hungers.dm
  code/modules/urist/antagonist/revenant/revenant_powers.dm
  code/modules/urist/antagonist/revenant/revenant_slaps.dm
  code/modules/urist/antagonist/revenant/revenant_ticker.dm
  code/modules/urist/gamemodes/bluespace_revenant/bluespace_revenant.dm
  code/modules/urist/mob/mob_defines.dm
  config/game_options.txt
  test/check-paths.sh
Labels: Feature

#1162 fixes unwrapping disposal outlets
  code/modules/recycling/disposal.dm
  test/check-paths.sh
Labels: Bugfix

#1164 Tesh language fix
  code/modules/culture_descriptor/culture/cultures_teshari.dm
Labels: Merge Issue, Bugfix

#1166 [Bugfix] Air Control Consoles
  code/game/machinery/air_sensor.dm
  code/game/machinery/atmo_control.dm
  maps/nerva/nerva-1.dmm
  maps/nerva/nerva-2.dmm
  maps/nerva/nerva-3.dmm
  maps/nerva/nerva_unit_testing.dm
Labels: Map, Bugfix, Fucking Bay, Nerva

#1167 restores rollerbed surgery
  code/_helpers/unsorted.dm
  code/modules/surgery/surgery.dm
Labels: Enhancement, Fucking Bay
