Repository UristMcStation/UristMcStation, pull requests merged in 2023-09, with the labels that each got.

#1172 graveworld tweaks
  maps/away/abandoned_colony/abandoned_colony.dmm
Labels: Map, Awaymaps

#1171 fixes antag languages, mining masks, safeties mention, icons + rename one door
  code/game/antagonist/outsider/deathsquad.dm
  code/game/antagonist/outsider/ert.dm
  code/game/antagonist/outsider/foundation.dm
  code/game/antagonist/outsider/mercenary.dm
  code/game/antagonist/outsider/ninja.dm
  code/game/antagonist/outsider/paramount.dm
  code/game/antagonist/outsider/raider.dm
  code/game/antagonist/outsider/vox.dm
  code/game/antagonist/outsider/wizard.dm
  code/modules/codex/entries/guns.dm
  code/modules/projectiles/guns/projectile/revolver.dm
  code/modules/reagents/Chemistry-Sublimator.dm
  code/modules/reagents/reagent_containers/food/snacks.dm
  code/modules/urist/datums/fabricator_datums.dm
  code/modules/urist/items/clothes/uristclothes.dm
  code/modules/urist/items/uristwar2.dm
  code/modules/urist/modules/resourcetech/tools.dm
  maps/away/stations/pirate/pirate_station.dm
  maps/nerva/nerva-2.dmm
Labels: Map, Bugfix, Nerva

#1173 disables bay antag map spawning
  code/game/antagonist/outsider/ert.dm
  code/game/antagonist/outsider/mercenary.dm
  code/game/antagonist/outsider/ninja.dm
  code/game/antagonist/outsider/raider.dm
  code/game/antagonist/outsider/vox.dm
  code/game/antagonist/outsider/wizard.dm
Labels: Enhancement, Bugfix, Fucking Bay

#1169 The Testing-ing
  code/game/machinery/alarm.dm
  code/unit_tests/map_tests.dm
  code/unit_tests/virtual_mob_tests.dm
  code/unit_tests/~unit_test_subsystems.dm
  maps/mapsystem/maps_unit_testing.dm
  maps/nerva/nerva-1.dmm
  maps/nerva/nerva-2.dmm
  maps/nerva/nerva-3.dmm
  maps/nerva/nerva-4.dmm
  maps/nerva/nerva_unit_testing.dm
Labels: Enhancement, Map, Nerva

#1175 Adds prep blast door button to bridge and removes storage/cycler access in prep
  maps/nerva/nerva-2.dmm
  maps/nerva/obj/nerva_machinery.dm
Labels: Enhancement, Map, Nerva

#1165 forest away update
  code/modules/item_worth/worths_list.dm
  code/modules/urist/items/clothes/head.dm
  code/modules/urist/items/clothes/uristclothes.dm
  code/modules/urist/items/guns.dm
  code/modules/urist/items/miscitems.dm
  code/modules/urist/machinery/misc.dm
  code/modules/urist/mob/humanhostiles.dm
  code/modules/urist/mob/spoopymobs.dm
  code/modules/urist/modules/jungle/jungle_animals.dm
  code/modules/urist/modules/jungle/planet_trees.dm
  code/modules/urist/modules/jungle/planet_turfs.dm
  code/modules/urist/modules/materials/recipes_leather.dm
  code/modules/urist/structures/closets.dm
  code/modules/urist/structures/uriststructures.dm
  icons/urist/flora.dmi
  icons/urist/items/clothes/clothes.dmi
  icons/urist/items/clothes/head.dmi
  icons/urist/items/clothes/shoes.dmi
  icons/urist/items/effects.dmi
  icons/urist/items/guns.dmi
  icons/urist/items/magic.dmi
  icons/urist/items/misc.dmi
  icons/urist/jungle/mobs.dmi
  icons/urist/jungle/turfs.dmi
  icons/urist/obj/pinetrees.dmi
  icons/urist/obj/projectiles.dmi
  icons/urist/obj/sarcophagus.dmi
  icons/urist/obj/stonecoffin.dmi
  icons/urist/structures&machinery/civStairs.dmi
  icons/urist/structures&machinery/machinery.dmi
  icons/urist/structures&machinery/structures.dmi
  icons/urist/turf/floors_borders.dmi
  icons/urist/turf/roads.dmi
  icons/urist/turf/snow.dmi
  icons/uristmob/64x64_mobs.dmi
  icons/uristmob/clothes.dmi
  icons/uristmob/head.dmi
  icons/uristmob/items_lefthand.dmi
  icons/uristmob/items_righthand.dmi
  icons/uristmob/shoes.dmi
  icons/uristmob/simpleanimals.dmi
  maps/away/forest/forest.dm
  maps/away/forest/forest.dmi
  maps/away/forest/forest1.dmm
  maps/away/forest/forest2.dmm
  maps/away/forest/forest3.dmm
  maps/away/forest/forest_jobs.dm
  maps/away_sites_testing/away_sites_testing.dm
  maps/nerva/nerva.dm
  sound/effects/angel-reveal.ogg
Labels: Map, Icons, Feature, Awaymaps, Sound

#1176 Nerva Bar/Library Revamp
  maps/nerva/nerva-1.dmm
  maps/nerva/nerva-2.dmm
  maps/nerva/nerva-3.dmm
  maps/nerva/nerva-4.dmm
  maps/nerva/nerva_areas.dm
Labels: Enhancement, Map, Nerva

#1177 more nerva beautification
  maps/nerva/nerva-1.dmm
  maps/nerva/nerva-2.dmm
  maps/nerva/nerva-3.dmm
  maps/nerva/nerva-4.dmm
Labels: Enhancement, Map, Nerva

#1178 deletes an errant flag
  maps/away/abandoned_colony/abandoned_colony.dmm
Labels: Map, Bugfix, Awaymaps

#1180 Various overmap and pirate awaymap fixes
  code/modules/urist/modules/newtrading/stations.dm
  code/modules/urist/modules/shipbattles/overmapships/overmapships.dm
  code/modules/urist/modules/shipbattles/ship_landmarks.dm
  code/modules/urist/structures/boardingstructures.dm
  maps/away/abandoned_colony/backup/abandoned_colony.dmm
  maps/away/destroyed_colony/backup/destroyed_colony.dmm
  maps/away/forest/forest.dm
  maps/away/glloyd_jungle/backup/glloyd_jungle.dmm
  maps/away/icarus/backup/icarus-1.dmm
  maps/away/icarus/backup/icarus-2.dmm
  maps/away/lar_maria/backup/lar_maria-1.dmm
  maps/away/stations/nanotrasentrading.dmm
  maps/away/stations/nerva_stations.dm
  maps/away/stations/pirate/backup/pirate_station-1.dmm
  maps/away/stations/pirate/backup/pirate_station-2.dmm
  maps/away/stations/pirate/pirate_station-1.dmm
  maps/away/stations/pirate/pirate_station-2.dmm
  maps/away/stations/pirate/pirate_station.dm
  maps/away/voxship/voxship.dm
  maps/nerva/nerva_define.dm
  maps/nerva/nerva_setup.dm
Labels: Map, Bugfix, Fucking Bay, Awaymaps

#1181 Truss deconstruction, Teshari sprite fixes, removes extra 'the'
  code/modules/butchery/butchery.dm
  code/modules/clothing/spacesuits/rig/suits/station.dm
  code/modules/mob/living/simple_animal/hostile/bat.dm
  code/modules/mob/living/simple_animal/hostile/space_carp.dm
  code/modules/mob/living/simple_animal/hostile/vagrant.dm
  code/modules/urist/items/clothes/head.dm
  code/modules/urist/items/clothes/uristclothes.dm
  code/modules/urist/modules/jungle/jungle_animals.dm
  icons/mob/species/resomi/head.dmi
  icons/mob/species/resomi/helmet.dmi
  icons/mob/species/resomi/suit.dmi
  icons/mob/species/resomi/uniform.dmi
  icons/mob/species/resomi/uristHead.dmi
  icons/mob/species/resomi/uristSuit.dmi
  icons/mob/species/resomi/uristUniform.dmi
  maps/nerva/loadout/loadout_xeno.dm
Labels: Icons, Bugfix

#1182 Ports Bluespace Drive instability, Nerva now jumps during jump
  baystation12.dme
  code/_helpers/bubble_effect.dm
  code/_helpers/turfs.dm
  code/core/math/math.dm
  code/datums/helper_datums/teleport.dm
  code/game/gamemodes/endgame/bluespace_jump/bluespace_jump.dm
  code/game/machinery/bluespace_drive.dm
  code/game/machinery/teleporter/pad.dm
  code/game/turfs/flooring/flooring.dm
  code/game/turfs/flooring/flooring_premade.dm
  code/modules/events/bsd_instability.dm
  code/modules/events/event_container.dm
  code/modules/goals/definitions/personal.dm
  code/modules/mob/living/simple_animal/hostile/bluespace.dm
  code/modules/multiz/structures.dm
  maps/mapsystem/maps.dm
  maps/nerva/nerva.dm
  maps/nerva/nerva_procs.dm
  maps/torch/torch_procs.dm
  sound/ambience/bsd_alarm.ogg
Labels: Feature, Nerva, Sound

#1185 away adjustments
  code/modules/urist/mob/spoopymobs.dm
  maps/away/forest/forest1.dmm
  maps/away/forest/forest2.dmm
  maps/away/forest/forest3.dmm
Labels: Map, Bugfix, Awaymaps

#1184 fixes the double forest away name generation
  maps/away/forest/forest.dm
Labels: Bugfix, Awaymaps

#1183 Crucial Bay Change (omg...)
  code/game/machinery/vending/tool.dm
Labels: Enhancement, Balance

#1191 adds new nerva computer presets
  maps/nerva/nerva-1.dmm
  maps/nerva/nerva-2.dmm
  maps/nerva/nerva-4.dmm
  maps/nerva/obj/nerva_computers.dm
Labels: Map, Bugfix, Nerva

#1187 Mining: Nanotrasen Edition
  code/datums/supplypacks/materials.dm
  code/modules/urist/modules/newtrading/contracts/cargo_contracts.dm
  code/modules/urist/modules/newtrading/contracts/cargo_papers.dm
  code/modules/urist/modules/newtrading/trade/trade_items/contracts.dm
  maps/away/mining/mining-asteroid.dmm
  maps/away/mining/mining.dm
  maps/away/stations/nanotrasentrading.dmm
  maps/away_sites_testing/away_sites_testing_unit_testing.dm
  maps/mapsystem/map_preferences.dm
  maps/nerva/nerva_shuttles.dm
Labels: Map, Feature, Balance, Awaymaps

#1186 more away tweaks
  icons/urist/items/clothes/clothes.dmi
  maps/away/forest/forest1.dmm
  maps/away/forest/forest2.dmm
  maps/away/forest/forest_jobs.dm
Labels: Map, Icons, Awaymaps

#1192 adds new billboard icons
  baystation12.dme
  code/modules/urist/area&turf/road_and_pavements.dm
  code/modules/urist/machinery/streetobjects.dm
  code/modules/urist/structures/citysigns.dm
  icons/urist/citymap_icons/billboards.dmi
  icons/urist/citymap_icons/city_shutters.dmi
  icons/urist/citymap_icons/coloredlights.dmi
  icons/urist/citymap_icons/decals.dmi
  icons/urist/citymap_icons/floorlights.dmi
  icons/urist/citymap_icons/floors.dmi
  icons/urist/citymap_icons/items.dmi
  icons/urist/citymap_icons/objects.dmi
  icons/urist/citymap_icons/pavement.dmi
  icons/urist/citymap_icons/ramps.dmi
  icons/urist/citymap_icons/roads.dmi
  icons/urist/citymap_icons/signs.dmi
  icons/urist/citymap_icons/street.dmi
  icons/urist/citymap_icons/structures.dmi
  icons/urist/citymap_icons/tech.dmi
  icons/urist/citymap_icons/walls.dmi
  maps/away/geminus_city/citymap_icons/billboards.dmi
  maps/away/geminus_city/citymap_icons/signs.dmi
  maps/nerva/nerva_holodecks.dm
  sound/urist/citymap_sounds/deskbell.ogg
  sound/urist/citymap_sounds/deskbell_rude.ogg
  sound/urist/citymap_sounds/gavel.ogg
Labels: Enhancement, Icons

#1194 Doubles pull speed; pre-merge gun accuracy; remove added burst fire penalty
  code/modules/mob/mob.dm
  code/modules/projectiles/gun.dm
Labels: Bugfix, Balance

#1193 butchering butchery
  baystation12.dme
  code/__defines/materials.dm
  code/game/machinery/kitchen/smartfridge.dm
  code/game/machinery/washing_machine.dm
  code/game/objects/items/weapons/material/knives.dm
  code/game/objects/items/weapons/trays.dm
  code/modules/awaymissions/bluespaceartillery.dm
  code/modules/materials/definitions/materials_organic.dm
  code/modules/materials/material_recipes.dm
  code/modules/materials/material_sheets.dm
  code/modules/materials/recipes_items.dm
  code/modules/mob/living/simple_animal/defense.dm
  code/modules/mob/living/simple_animal/simple_animal.dm
  code/modules/research/designs/designs_urist.dm
  code/modules/urist/items/circuitboards.dm
  code/modules/urist/modules/jungle/jungle.dm
  code/modules/urist/modules/jungle/jungle_animals.dm
  code/modules/urist/modules/jungle/planet_turfs.dm
  code/modules/urist/modules/jungle/planetloader.dm
  code/modules/urist/modules/materials/recipes_leather.dm
  code/modules/urist/modules/materials/recipes_skin.dm
  code/modules/urist/structures/uriststructures.dm
  icons/urist/structures&machinery/artillery.dmi
  maps/glloydstation/Glloydstation2-7.dmm
  maps/nerva/nerva-1.dmm
  test/check-paths.sh
Labels: Kill Me, Feature, Bugfix, Fucking Bay

#1195 Re-re-works lung damage
  code/game/machinery/vitals_monitor.dm
  code/modules/mob/living/carbon/human/say.dm
  code/modules/organs/internal/lungs.dm
Labels: Balance

#1196 Restores body scanner limb damage detail
  code/_helpers/medical_scans.dm
Labels: Enhancement

#1198 fixes some map issues
  maps/nerva/nerva-1.dmm
  maps/nerva/nerva-2.dmm
  maps/nerva/nerva_areas.dm
Labels: Map, Bugfix, Nerva

#1199 Bugfixes: cult armor, sunglasses, SMG jamming, and bonus cash bag add
  code/game/gamemodes/cult/runes.dm
  code/game/objects/items/weapons/storage/bags.dm
  code/modules/clothing/glasses/sunglasses.dm
  code/modules/urist/items/guns.dm
Labels: Bugfix

#1190 feature: Config-ifies a bunch of Hunger-related values. Balance tweaks.
  code/controllers/configuration.dm
  code/modules/urist/antagonist/revenant/_defines.dm
  code/modules/urist/antagonist/revenant/archetypes/bluespace.dm
  code/modules/urist/antagonist/revenant/archetypes/chimera.dm
  code/modules/urist/antagonist/revenant/archetypes/generic.dm
  code/modules/urist/antagonist/revenant/archetypes/occult.dm
  code/modules/urist/antagonist/revenant/archetypes/vampiric.dm
Labels: Enhancement, Balance

#1202 last forest away adjustments
  code/modules/urist/mob/spoopymobs.dm
  maps/away/forest/forest.dm
  maps/away/forest/forest1.dmm
  maps/away/forest/forest2.dmm
  maps/away/forest/forest3.dmm
  sound/urist/gotabone.ogg
Labels: Map, Awaymaps

#1201 restores urist wood recipes and undie wardrobe deconstruction
  code/game/objects/structures/under_wardrobe.dm
  code/modules/materials/material_recipes.dm
Labels: Enhancement, Bugfix, Fucking Bay

#1200 Wizard: Summon Random Stuff spell
  baystation12.dme
  code/modules/spells/spellbook/spatial.dm
  code/modules/spells/spellbook/standard.dm
  code/modules/urist/items/miscitems.dm
  code/modules/urist/spells.dm
Labels: Feature

#1204 Holomaps + Nerva tweaks
  maps/nerva/nerva-1.dmm
  maps/nerva/nerva-2.dmm
  maps/nerva/nerva-3.dmm
  maps/nerva/nerva-4.dmm
  maps/nerva/nerva_areas.dm
  maps/nerva/nerva_overmap.dm
  maps/nerva/nerva_shuttles.dm
Labels: Enhancement, Map, Nerva

#1203 Unathi FBP, fix loadout item restrictions, fix nerva stamps
  code/modules/species/station/lizard.dm
  maps/nerva/loadout/_defines.dm
  maps/nerva/loadout/loadout_head.dm
  maps/nerva/loadout/loadout_uniform.dm
  maps/nerva/obj/nerva_items.dm
Labels: Bugfix

#1197 Expands away map testing & enables template unit tests
  .github/workflows/test.yml
  code/modules/urist/modules/jungle/planet_areas.dm
  code/unit_tests/map_tests.dm
  maps/away/contact_light/contact_light.dm
  maps/away/contact_light/contact_light.dmm
  maps/away/glloyd_jungle/glloyd_jungle.dm
  maps/away/icarus/icarus-1.dmm
  maps/away/icarus/icarus-2.dmm
  maps/away/icarus/icarus.dm
  maps/away/icarus/icarus_areas.dm
  maps/away/noctis/noctis-1.dmm
  maps/away/noctis/noctis-2.dmm
  maps/away/noctis/noctis.dm
  maps/away/noctis/noctis_shuttle.dm
  maps/away/scavver_gantry/scavver_gantry-1.dmm
  maps/away/scavver_gantry/scavver_gantry-2.dmm
  maps/away/scavver_gantry/scavver_gantry.dm
  maps/away/scavver_gantry/scavver_gantry_jobs.dm
  maps/away/scavver_gantry/scavver_gantry_radio.dm
  maps/away/scavver_gantry/scavver_gantry_shuttles.dm
  maps/away/scavver_gantry/scavver_gantry_sprites.dmi
  maps/away/slavers_base/slavers_base.dm
  maps/away/slavers_base/slavers_base.dmm
  maps/away/slavers_base/slavers_base_areas.dm
  maps/away/slavers_base/slavers_base_sprites.dmi
  maps/away/smugglers/smugglers.dm
  maps/away/smugglers/smugglers_items.dm
  maps/away_sites_testing/away_sites_testing.dm
  maps/away_sites_testing/template_testing_unit_testing.dm
  maps/nerva/nerva.dm
  maps/torch/torch.dm
  maps/wyrm/wyrm.dm
  scripts/dm.sh
  test/check-away-testing.sh
  test/run-test.sh
Labels: Enhancement, Map, Bugfix, Fucking Bay, Wyrm, Nerva, Awaymaps

#1205 refactors how component_weapons work
  baystation12.dme
  code/game/gamemodes/meteor/meteors.dm
  code/modules/urist/_helpers.dm
  code/modules/urist/modules/shipbattles/overmapships/components/component_weapons.dm
  code/modules/urist/modules/shipbattles/overmapships/ship_types.dm
  code/modules/urist/modules/shipbattles/projectile_landmarks.dm
  code/modules/urist/modules/shipbattles/ship_landmarks.dm
  code/modules/urist/modules/shipbattles/ship_overmaps.dm
  code/modules/urist/modules/shipbattles/shipweapons/ammo_weapons.dm
  code/modules/urist/modules/shipbattles/shipweapons/ship_projectiles.dm
  code/modules/urist/modules/shipbattles/shipweapons/shipweapons.dm
  icons/urist/items/ship_projectiles.dmi
  maps/nerva/nerva-1.dmm
  maps/nerva/nerva-2.dmm
  maps/nerva/nerva-3.dmm
  maps/nerva/nerva-4.dmm
  maps/nerva/nerva-6.dmm
  maps/nerva/nerva_overmap.dm
  test/check-paths.sh
Labels: Map, Icons, Refactor, Nerva

#1208 Noctis burn chamber OSHA compliance
  maps/away/noctis/noctis-1.dmm
  maps/away/noctis/noctis-2.dmm
Labels: Map, Balance, Awaymaps

#1216 Fixes Noctis Thrusters
  maps/away/noctis/noctis.dm
Labels: Bugfix, Fucking Bay, Awaymaps

#1215 The Little Things - September Edition
  code/modules/clothing/suits/jobs.dm
  code/modules/integrated_electronics/subtypes/reagents.dm
  code/modules/projectiles/gun.dm
  code/modules/projectiles/guns/projectile/automatic.dm
  code/modules/projectiles/guns/projectile/revolver.dm
  code/modules/reagents/Chemistry-Machinery.dm
  code/modules/urist/items/clothes/ntclothes.dm
  code/modules/urist/items/clothstuff.dm
  code/modules/urist/items/tgitems.dm
  code/modules/urist/machinery/UMcSTelecomms.dm
  icons/urist/items/improvised.dmi
  icons/uristmob/mask.dmi
  maps/glloydstation/Loadout/loadout_uniform.dm
  maps/nerva/loadout/loadout_uniform.dm
Labels: Enhancement, Bugfix

#1213 Allows MMIs to accept brains that have died
  code/modules/mob/living/carbon/brain/MMI.dm
Labels: Balance

#1210 Adds radio beacon to forest away
  maps/away/forest/forest2.dmm
Labels: Map, Awaymaps

#1209 Organizes steel sheet recipes
  code/modules/materials/material_recipes.dm
Labels: Formatting

#1179 Ports bullet holes. adds some new shirts
  baystation12.dme
  code/game/atoms.dm
  code/game/objects/effects/decals/bullet_holes.dm
  code/game/turfs/simulated/walls.dm
  code/modules/urist/items/clothes/accessory.dm
  icons/urist/items/clothes/ties.dmi
  icons/uristmob/ties.dmi
  maps/nerva/loadout/loadout_clothing.dm
  maps/nerva/nerva.dm
Labels: Icons, Feature, Fucking Bay

#1217 Allows Teshari to play submap roles
  code/__defines/mobs.dm
Labels: Bugfix

#1214 Senior Scientist gets a Nanotrasen account card
  code/game/objects/items/weapons/storage/lockbox.dm
  code/modules/economy/_economy_misc.dm
  maps/nerva/datums/nerva_objectives.dm
  maps/nerva/nerva-1.dmm
  maps/nerva/nerva_procs.dm
  maps/nerva/obj/nerva_closets.dm
  maps/nerva/obj/nerva_items.dm
Labels: Bugfix, Balance

#1218 Fixes possible NT card bugs
  maps/nerva/nerva_procs.dm
  maps/nerva/obj/nerva_items.dm
Labels: Bugfix

#1219 ports fix for ghosts not recognizing people
  code/modules/mob/mob.dm
Labels: Bugfix

#1220 restores relays to get long distance relays working again
  code/game/machinery/telecomms/machine_interactions.dm
  code/game/machinery/telecomms/telecomunications.dm
Labels: Enhancement, Bugfix, Fucking Bay

#1222 clarifies a number of Nerva job descriptions
  maps/nerva/datums/nerva_jobs.dm
Labels: Formatting, Nerva

#1221 fixes shuttles going random places, fixes cargo tug not taking damage, gives forensic borg a camera
  code/modules/mob/living/silicon/robot/drone/drone_items.dm
  code/modules/mob/living/silicon/robot/flying/module_flying_forensics.dm
  code/modules/overmap/overmap_shuttle.dm
  code/modules/vehicles/vehicle.dm
Labels: Bugfix

#1225 FBP buffs: Eject MMI verb, eating food for charge
  code/modules/mob/living/carbon/human/human_attackhand.dm
  code/modules/mob/living/carbon/human/human_powers.dm
  code/modules/organs/internal/species/fbp.dm
  code/modules/reagents/reagent_containers/food/snacks.dm
Labels: Enhancement, Formatting, Balance

#1207 Leathercrafting and cloth weaving
  code/modules/hydroponics/seed_storage.dm
  code/modules/materials/material_recipes.dm
  code/modules/urist/items/clothes/head.dm
  code/modules/urist/items/clothes/uristclothes.dm
  code/modules/urist/items/clothstuff.dm
  code/modules/urist/modules/jungle/jungle_animals.dm
  code/modules/urist/modules/materials/recipes_cloth.dm
  code/modules/urist/modules/materials/recipes_leather.dm
  code/modules/urist/modules/materials/recipes_skin.dm
  code/modules/urist/modules/materials/recipes_wood.dm
  icons/obj/hydroponics_products.dmi
  icons/obj/seeds.dmi
  icons/urist/items/clothes/clothes.dmi
  icons/urist/items/clothes/head.dmi
  icons/urist/items/wood.dmi
  icons/uristmob/head.dmi
  maps/away/forest/forest2.dmm
  maps/away/forest/forest_jobs.dm
Labels: Feature, Awaymaps

#1234 buffs overmap acceleration
  code/modules/overmap/ships/computers/helm.dm
  code/modules/overmap/ships/ship.dm
  maps/away/abandoned_colony/abandoned_colony_shuttle.dm
  maps/nerva/nerva_overmap.dm
Labels: Balance, Nerva, Awaymaps

#1235 Map-based Contracts
  code/controllers/subsystems/factions.dm
  code/modules/overmap/sectors.dm
  code/modules/urist/modules/newtrading/NPC/NPC_types/contract_givers.dm
  code/modules/urist/modules/newtrading/contracts/contract_papers.dm
  code/modules/urist/modules/newtrading/contracts/contracts.dm
  code/modules/urist/modules/newtrading/trade/trade_items/contracts.dm
  maps/away/abandoned_colony/abandoned_colony.dm
  maps/away/stations/pirate/pirate_station.dm
  maps/nerva/nerva_setup.dm
  nano/templates/contract_database.tmpl
Labels: Enhancement, Balance, Refactor, Nerva, Awaymaps, Interface

#1232 Adds alternate bowman headsets and an actual headset for the Bodyguard as well as the Hailing frequency to Nerva
  code/game/objects/structures/crates_lockers/closets/secure/cargo.dm
  code/game/objects/structures/crates_lockers/closets/secure/engineering.dm
  code/game/objects/structures/crates_lockers/closets/secure/medical.dm
  code/game/objects/structures/crates_lockers/closets/secure/security.dm
  code/modules/mining/mine_items.dm
  maps/nerva/datums/nerva_outfits.dm
  maps/nerva/nerva-2.dmm
  maps/nerva/obj/nerva_closets.dm
  maps/nerva/obj/nerva_items.dm
Labels: Enhancement, Map, Nerva

#1236 abandoned_colony balancing + icon fix
  code/modules/urist/gamemodes/scom/mobs.dm
  icons/urist/citymap_icons/pavement.dmi
  maps/away/abandoned_colony/abandoned_colony.dmm
Labels: Icons, Bugfix, Balance, Awaymaps

#1238 adjusts label actions for Urist
  .github/labeler.yml
  .github/workflows/labeler.yml
Labels: Repo

#1239 Steel tile making fix
  code/modules/materials/material_recipes.dm
Labels: Bugfix

#1241 Makes the top loaded smg not jam when loaded with real ammo
  code/modules/projectiles/guns/projectile/automatic.dm
Labels: Bugfix, Fucking Bay

#1240 Adds 'Generate Worths' workflow dispatch & Fixes caching
  .github/workflows/generate_documentation.yml
  .github/workflows/generate_worths.yml
  .github/workflows/test.yml
  baystation12.dme
  code/controllers/master.dm
  code/controllers/subsystems/ai.dm
  code/controllers/subsystems/aifast.dm
  code/controllers/subsystems/mapping.dm
  code/controllers/subsystems/presence.dm
  code/controllers/subsystems/shuttle.dm
  code/controllers/subsystems/ticker.dm
  code/game/world.dm
  code/worths_test/_includes.dm
  code/worths_test/logging.dm
  code/worths_test/~helpers.dm
  code/worths_test/~worths_test_subsystems.dm
  install-byond.sh
  maps/_maps.dm
  maps/away_sites_testing/away_sites_testing.dm
  maps/example/example.dm
  maps/mapsystem/maps.dm
  maps/nerva/nerva.dm
  maps/template_testing/blank.dmm
  maps/template_testing/template_testing.dm
  maps/template_testing/template_testing_define.dm
  maps/template_testing/template_testing_lobby.dm
  maps/template_testing/template_testing_unit_testing.dm
  scripts/dm.sh
  scripts/install-spaceman-dmm.sh
  test/check-paths.sh
  test/generate-worths.sh
  test/run-test.sh
Labels: Map, Nerva, Repo
