Repository UristMcStation/UristMcStation, pull requests merged in 2023-10, with the labels that each got.

#1242 Removes superfluous mining sites, upgrades drill battery.
  code/game/objects/items/weapons/circuitboards/machinery/mining_drill.dm
  maps/nerva/nerva.dm
Labels: Balance, Nerva, Awaymaps

#1243 Adjusts Forensic Kit Items
  code/modules/detectivework/tools/crimekit.dm
Labels: Enhancement

#1246 Configures Stale-bot
  .github/workflows/close_stale.yml
Labels: Repo

#1244 Significantly shifts spillover damage chances
  code/modules/organs/external/_external_damage.dm
Labels: Kill Me, Balance

#1247 Lowers overmap shuttle travel time
  maps/nerva/nerva_shuttles.dm
Labels: Balance, Nerva

#1245 adds some additional floor decals for mappers
  baystation12.dme
  code/modules/urist/decals/urist.dm
  code/modules/urist/structures/signs.dm
  icons/urist/decals/floor_decals.dmi
Labels: Icons

#1250 Mining generates ores better, EVA shutter button, bar windoor, antags restricted by species
  code/game/antagonist/antagonist.dm
  code/game/antagonist/antagonist_helpers.dm
  code/modules/mining/mine_turfs.dm
  code/modules/mob/living/carbon/human/appearance.dm
  code/modules/random_map/noise/ore.dm
  maps/nerva/nerva-2.dmm
Labels: Map, Balance, Nerva

#1252 Adds traitor item that removes Clumsy mutation
  baystation12.dme
  code/datums/uplink/devices and tools.dm
  code/modules/urist/items/declumsifier.dm
Labels: Enhancement, Balance

#1248 balance: BSR balance pass.
  code/controllers/configuration.dm
  code/modules/urist/antagonist/revenant/_defines.dm
  code/modules/urist/antagonist/revenant/archetypes/bluespace.dm
  code/modules/urist/antagonist/revenant/archetypes/chimera.dm
  code/modules/urist/antagonist/revenant/archetypes/generic.dm
  code/modules/urist/antagonist/revenant/archetypes/occult.dm
  code/modules/urist/antagonist/revenant/archetypes/vampiric.dm
  code/modules/urist/antagonist/revenant/distortion.dm
  code/modules/urist/antagonist/revenant/distortion_effects.dm
  config/config.txt
Labels: Bugfix, Balance, Config Update

#1255 Fixes out of breath whispering
  code/modules/mob/living/carbon/human/say.dm
Labels: Bugfix

#1254 Adjusts organ spillover from playtesting
  code/modules/organs/external/_external_damage.dm
Labels: Balance

#1258 Fixes TC Changes lost in Merge, Adjusts new Bay additions.
  code/datums/uplink/augments.dm
  code/datums/uplink/devices and tools.dm
  code/datums/uplink/highly_visible_and_dangerous_weapons.dm
  code/datums/uplink/medical.dm
  code/datums/uplink/services.dm
  code/datums/uplink/stealth_and_camouflage_items.dm
Labels: Balance

#1253 Minor improvements to Noctis survivability and functionality
  maps/away/noctis/noctis-1.dmm
  maps/away/noctis/noctis-2.dmm
Labels: Enhancement, Map, Awaymaps

#1259 People make sounds when they fall
  code/modules/mob/living/carbon/human/human_damage.dm
  code/modules/species/species.dm
  code/modules/species/station/machine.dm
  code/modules/species/station/station.dm
  sound/effects/bodyfall.ogg
  sound/effects/bodyfall_machine.ogg
  sound/effects/bodyfall_skrell.ogg
Labels: Feature, Sound

#1260 Adds a Follow Player verb for ghosts
  code/modules/mob/observer/ghost/ghost.dm
Labels: Enhancement

#1266 Fixes rock wall icon issues
  code/modules/mining/mine_turfs.dm
  icons/turf/walls.dmi
Labels: Icons, Bugfix

#1268 fix: Nerfs the eyerape of the Noir mutation
  code/__defines/urist/_colormatrix_defines.dm
  code/modules/urist/mob/uristliving.dm
  code/modules/urist/modules/genetics/vgpowers.dm
Labels: Enhancement

#1265 Bugfixes from the coder mines
  code/_helpers/unsorted.dm
  code/game/antagonist/outsider/ert.dm
  code/modules/mob/observer/freelook/eye.dm
  code/modules/organs/external/diagnostics.dm
  code/modules/projectiles/guns/projectile/revolver.dm
  code/modules/species/station/machine.dm
  code/modules/spells/general/radiant_aura.dm
  code/modules/spells/hand/entangle.dm
  code/modules/spells/hand/hand.dm
  code/modules/spells/hand/hand_item.dm
  code/modules/spells/targeted/equip/dyrnwyn.dm
  code/modules/spells/targeted/equip/seed.dm
  code/modules/spells/targeted/equip/shield.dm
  code/modules/spells/targeted/shapeshift.dm
  code/modules/urist/gamemodes/scom/weapons&armour.dm
  code/modules/urist/items/ammo.dm
  code/modules/urist/items/guns.dm
  maps/glloydstation/glloydstation.dm
  maps/glloydstation/glloydstation_antagonism.dm
  maps/glloydstation/glloydstation_define.dm
  maps/glloydstation/glloydstation_jobs.dm
  maps/mapsystem/maps.dm
  maps/nerva/datums/nerva_antagonism.dm
  maps/nerva/datums/nerva_outfits.dm
  maps/nerva/nerva.dm
  maps/nerva/nerva_define.dm
  maps/torch/torch_define.dm
Labels: Bugfix, Nerva, Glloydstation

#1261 cane/coin fixes
  code/game/objects/items/weapons/cane.dm
  code/modules/urist/items/miscitems.dm
Labels: Bugfix

#1223 Ports Polaris's port of salvageable machines and computers
  baystation12.dme
  code/modules/fabrication/_fabricator.dm
  code/modules/urist/items/salvageable.dm
  code/modules/urist/items/trash_material.dm
  icons/urist/items/components.dmi
  icons/urist/obj/material_trash.dmi
  icons/urist/obj/salvageable.dmi
  icons/urist/structures&machinery/machinery.dmi
  sound/urist/shutdown.ogg
Labels: Icons, Feature, Do Not Merge, Sound

#1269 Updated + New issue templates
  .github/ISSUE_TEMPLATE/bug-report.yaml
  .github/ISSUE_TEMPLATE/feature-request.yaml
  .github/ISSUE_TEMPLATE/feedback.yaml
Labels: Repo

#1267 IPC/FBP buffs: microbattery health boost, posibrains break instead of being destroyed, robotics mapping
  code/modules/organs/internal/species/fbp.dm
  code/modules/organs/internal/species/ipc.dm
  maps/nerva/nerva-2.dmm
Labels: Map, Balance, Nerva

#1262 Destroyed Colony Redux
  code/game/machinery/doors/airlock.dm
  code/game/objects/effects/mines.dm
  code/modules/hydroponics/spreading/spreading_response.dm
  code/modules/mob/living/simple_animal/hostile/alien.dm
  code/modules/urist/area&turf/road_and_pavements.dm
  code/modules/urist/gamemodes/assault/human_equipment.dm
  code/modules/urist/gamemodes/scom/mobs.dm
  code/modules/urist/items/terran_confederacy_items.dm
  code/modules/urist/modules/jungle/planet_turfs.dm
  code/modules/urist/modules/jungle/scrap.dm
  code/modules/urist/structures/uriststructures.dm
  maps/away/destroyed_colony/destroyed_colony.dm
  maps/away/destroyed_colony/destroyed_colony.dmm
  maps/nerva/nerva-3.dmm
  test/check-paths.sh
Labels: Enhancement, Map, Bugfix, Nerva, Awaymaps, Repo

#1272 Mapping prep
  code/game/objects/effects/decals/Cleanable/humans.dm
  code/game/objects/effects/decals/Cleanable/tracks.dm
  code/game/objects/items/weapons/storage/secure.dm
  code/game/turfs/flooring/flooring_premade.dm
  code/modules/economy/cash.dm
  code/modules/power/lighting.dm
  code/modules/tables/presets.dm
  code/modules/tables/rack.dm
  code/modules/tables/tables.dm
  icons/turf/flooring/tiles.dmi
Labels: Enhancement, Icons

#1271 fix: NT Station NPC fixes
  code/modules/urist/gamemodes/scom/civilian_mobs.dm
  code/modules/urist/modules/newtrading/NPC/npc.dm
  code/modules/urist/modules/newtrading/NPC/npc_interact.dm
Labels: Bugfix

#1257 Re-adds Frag Grenades back to Uplink, SM Grenades and Increases Emag Uses.
  code/datums/uplink/grenades.dm
  code/game/objects/items/weapons/cards_ids.dm
Labels: Balance

#1189 feature: DeepmaintRooms
  baystation12.dme
  code/modules/admin/admin_verbs.dm
  code/modules/events/event_container.dm
  code/modules/urist/admin/verbs.dm
  code/modules/urist/modules/wfc/_module.dm
  code/modules/urist/modules/wfc/_wfc_defines.dm
  code/modules/urist/modules/wfc/core/calllib.dm
  code/modules/urist/modules/wfc/core/debug.dm
  code/modules/urist/modules/wfc/core/maptricks.dm
  code/modules/urist/modules/wfc/core/prefabs.dm
  code/modules/urist/modules/wfc/core/turf.dm
  code/modules/urist/modules/wfc/fractal_coords.dm
  code/modules/urist/modules/wfc/modules/deepmaint/_deepmaint.dm
  code/modules/urist/modules/wfc/modules/deepmaint/admins.dm
  code/modules/urist/modules/wfc/modules/deepmaint/areas.dm
  code/modules/urist/modules/wfc/modules/deepmaint/event.dm
  code/modules/urist/modules/wfc/modules/deepmaint/generation.dm
  code/modules/urist/modules/wfc/modules/deepmaint/hooks.dm
  code/modules/urist/modules/wfc/modules/deepmaint/objects.dm
  code/modules/urist/modules/wfc/modules/deepmaint/prefabs.dm
  code/modules/urist/modules/wfc/modules/deepmaint/teleporters.dm
  code/modules/urist/modules/wfc/modules/deepmaint/turfs.dm
  code/modules/urist/modules/wfc/modules/landmass/_landmass.dm
  code/modules/urist/modules/wfc/modules/landmass/prefabs.dm
  code/modules/urist/modules/wfc/modules/landmass/turfs.dm
  code/modules/urist/modules/wfc/ss13_stubs.dm
  deepmaint.json
  icons/urist/turf/nothingness.dmi
  maps/deepmaint_wfc/wfc_deepmaint.dm
  maps/deepmaint_wfc/wfcdeepmaint-1.dmm
  maps/template_testing/template_testing_unit_testing.dm
  ss13_wfc.dll
  test/check-paths.sh
Labels: Map, Kill Me, Icons, Feature, FUCK BYOND, Repo

#1224 removes bay teargas
  code/game/objects/items/weapons/grenades/chem_grenade.dm
  code/modules/urist/items/tgitems.dm
Labels: Bugfix, Balance

#1276 Replaces the smuggler away with a new away
  code/game/objects/effects/decals/Cleanable/humans.dm
  code/game/objects/effects/decals/Cleanable/tracks.dm
  code/modules/maps/helper_landmarks.dm
  code/modules/maps/map_template.dm
  code/modules/xenoarcheaology/finds/misc.dm
  maps/away/away_sites.dm
  maps/away/blueriver/blueriver-1.dmm
  maps/away/crystalized_drugs/crystalized_drugs-1.dmm
  maps/away/crystalized_drugs/crystalized_drugs.dm
  maps/away/crystalized_drugs/crystalized_drugs_active.dmm
  maps/away/crystalized_drugs/crystalized_drugs_areas.dm
  maps/away/crystalized_drugs/crystalized_drugs_items.dm
  maps/away/crystalized_drugs/crystalized_drugs_psycho.dmm
  maps/away/crystalized_drugs/crystalized_drugs_tiles.dm
  maps/away_sites_testing/away_sites_testing.dm
  maps/nerva/nerva.dm
  maps/nerva/nerva_unit_testing.dm
Labels: Map, Feature, Nerva, Awaymaps

#1283 new dolls
  code/modules/urist/items/miscitems.dm
  icons/urist/items/misc.dmi
  maps/away/abandoned_colony/abandoned_colony.dmm
Labels: Map, Icons, Awaymaps

#1285 fixes carbine rifle and custom pistol icons
  code/modules/projectiles/guns/projectile/pistol.dm
  code/modules/urist/gamemodes/scom/machinery.dm
  code/modules/urist/gamemodes/scom/sciencedatums.dm
  code/modules/urist/gamemodes/scom/weapons&armour.dm
  maps/glloydstation/Glloydstation2-2.dmm
Labels: Map, Glloydstation

#1284 fully radiation-armored stuff blocks all rads again
  code/datums/extensions/armor/armor.dm
Labels: Balance, Fucking Bay

#1288 adds the new salvage stuff to some awaymaps
  maps/away/abandoned_colony/abandoned_colony.dmm
  maps/away/destroyed_colony/destroyed_colony.dmm
  maps/away/glloyd_jungle/glloyd_jungle.dmm
Labels: Map, Awaymaps

#1289 fixes an issue with ERT outfits on glloydstation
  maps/glloydstation/glloydstation_antagonism.dm
Labels: Bugfix, Glloydstation

#1292 Last minute crystalized_drugs fixes
  maps/away/crystalized_drugs/crystalized_drugs-1.dmm
Labels: Map, Bugfix, Awaymaps

#1293 fixes falldown sounds constantly triggering
  code/modules/mob/living/carbon/human/human_damage.dm
Labels: Bugfix, Priority: High

#1294 Fixed landmark regression
  code/_helpers/unsorted.dm
Labels: Bugfix

#1296 adds another shuttle console on NT station
  maps/away/stations/nanotrasentrading-1.dmm
Labels: Map, Awaymaps

#1297 A small selection of fixes and features for glloydstation
  code/controllers/subsystems/skybox.dm
  maps/glloydstation/glloydstation.dm
  maps/glloydstation/glloydstation_define.dm
  maps/glloydstation/glloydstation_lobby.png
  maps/glloydstation/glloydstation_setup.dm
  maps/mapsystem/maps.dm
Labels: Feature, Bugfix, Glloydstation

#1298 Fixes titanium sheet sprites
  maps/away/noctis/noctis.dm
Labels: Bugfix, Awaymaps

#1299 restores select equipment to the rightclick menu for admins
  code/modules/admin/verbs/debug.dm
  maps/away/destroyed_colony/destroyed_colony.dm
Labels: Enhancement, Formatting, Awaymaps

#1301 Adds additional feedback to contract completion
  code/modules/urist/modules/newtrading/contracts/contracts.dm
  maps/away/destroyed_colony/destroyed_colony.dm
Labels: Enhancement, Formatting, Awaymaps

#1304 Adds noticeboards across the board
  maps/nerva/nerva-2.dmm
  maps/nerva/nerva-3.dmm
Labels: Map, Nerva

#1303 Readds the ancient russian derelict to away missions
  code/game/objects/random/random.dm
  code/game/turfs/flooring/flooring.dm
  code/modules/maps/helper_landmarks.dm
  code/modules/urist/items/uristwar2.dm
  icons/urist/decals/urist.dmi
  maps/away/russianderelict/russianderelict.dm
  maps/away/russianderelict/russianderelict.dmm
  maps/away_sites_testing/away_sites_testing.dm
  maps/nerva/nerva.dm
  maps/nerva/nerva_unit_testing.dm
Labels: Map, Icons, Nerva, Awaymaps

#1307 bugfixing, balancing, and tweaks to destroyed_colony.dmm and crystalized_drugs-1.dmm
  code/modules/mob/living/simple_animal/hostile/alien.dm
  code/modules/urist/gamemodes/scom/mobs.dm
  code/modules/urist/modules/mecha/fighters.dm
  maps/away/crystalized_drugs/crystalized_drugs-1.dmm
  maps/away/crystalized_drugs/crystalized_drugs.dm
  maps/away/destroyed_colony/destroyed_colony.dmm
  maps/nerva/nerva-4.dmm
Labels: Map, Balance, Nerva, Awaymaps

#1305 Fuck buckets
  code/__defines/MC.dm
  code/_helpers/cmp.dm
  code/controllers/subsystems/timer.dm
  code/datums/datum.dm
  code/game/objects/effects/particles/particles.dm
  code/modules/admin/ticket.dm
  code/modules/ghosttrap/trap.dm
  code/modules/holomap/ship_holomap.dm
  code/modules/organs/internal/species/ipc.dm
  code/modules/power/fusion/core/core_field.dm
  code/unit_tests/~unit_test_subsystems.dm
  maps/random_ruins/exoplanet_ruins/oldlab2/oldlab2.dmm
Labels: Map, Bugfix, Fucking Bay

#1308 lets the space AK take its magazines
  code/modules/urist/items/guns.dm
Labels: Bugfix

#1309 does the easy issues - chicken's choice, scoped_accuracy, mimes and blueshield plate carriers
  code/game/machinery/vending/snack.dm
  code/modules/mob/new_player/new_player.dm
  code/modules/projectiles/guns/projectile/sniper.dm
  code/modules/urist/items/food.dm
  code/modules/urist/items/miscitems.dm
  code/modules/urist/modules/resourcetech/tools.dm
  maps/nerva/datums/nerva_outfits.dm
  maps/nerva/obj/nerva_closets.dm
Labels: Bugfix, Balance, Nerva

#1312 Fixes morning star hydrogen tanks
  maps/away/abandoned_colony/abandoned_colony.dmm
Labels: Map, Awaymaps

#1311 Basic xenophage fixes
  code/game/antagonist/alien/xenomorph.dm
  code/modules/mob/living/carbon/human/human_maneuvers.dm
  code/modules/species/xenomorphs/alien_species.dm
  icons/mob/human_races/species/xenos/body_drone.dmi
  icons/mob/human_races/species/xenos/body_hunter.dmi
  icons/mob/human_races/species/xenos/body_queen.dmi
  icons/mob/human_races/species/xenos/body_sentinel.dmi
Labels: Muh Aliums, Icons, Bugfix

#1317 NPC bugfixes
  code/modules/ai/ai_holder_targeting.dm
  code/modules/culture_descriptor/culture/cultures_human.dm
Labels: Bugfix

#1316 Ore and gun bugfixes
  code/modules/mining/mine_turfs.dm
  code/modules/projectiles/guns/projectile.dm
  code/modules/random_map/noise/ore.dm
Labels: Bugfix, Fucking Bay

#1318 actually fixes xenophage larva faction
  code/modules/mob/living/carbon/alien/larva/larva.dm
Labels: Muh Aliums, Bugfix

#1331 ports strongdmm/spacemandmm fix from bay
  code/_version.dm
Labels: Bugfix

#1328 fixes #1327
  code/modules/overmap/exoplanets/_exoplanet.dm
  code/modules/overmap/sectors.dm
  code/modules/power/solar.dm
  code/modules/urist/modules/jungle/planetoid.dm
Labels: Bugfix, Awaymaps

#1321 Hunger and thirst give slowdown
  code/modules/mob/living/carbon/human/human_movement.dm
Labels: Balance

#1330 adds a contract + a couple more things to derelict
  code/modules/urist/items/guns.dm
  maps/away/russianderelict/russianderelict.dm
  maps/away/russianderelict/russianderelict.dmm
Labels: Map, Awaymaps

#1332 Fixes normal & old mining voidsuit sprites
  code/modules/clothing/spacesuits/void/station.dm
  code/modules/urist/items/clothes/ntclothes.dm
  icons/uristmob/clothes.dmi
Labels: Icons, Bugfix

#1212 Culls a bunch of AI cameras in maintenance
  maps/nerva/nerva-1.dmm
  maps/nerva/nerva-2.dmm
  maps/nerva/nerva-3.dmm
  maps/nerva/nerva-4.dmm
Labels: Map, Nerva

#1277 fix: Zombie fixes cherrypick
  code/_onclick/other_mobs.dm
  code/game/machinery/doors/door.dm
  code/game/turfs/simulated/wall_attacks.dm
  code/modules/mechs/mech_interaction.dm
  code/modules/mob/living/silicon/robot/robot.dm
  code/modules/species/outsider/zombie.dm
Labels: Bugfix, Balance

#1324 more salvage objects
  code/modules/urist/items/salvageable.dm
  icons/urist/obj/salvageable.dmi
  maps/away/abandoned_colony/abandoned_colony.dmm
  maps/away/destroyed_colony/destroyed_colony.dmm
  maps/away/forest/forest1.dmm
  maps/away/forest/forest2.dmm
Labels: Map, Icons, Awaymaps

#1333 Adjusts wizard spells and familiars for balance and usability
  code/datums/outfits/wizardry.dm
  code/game/gamemodes/wizard/servant_items/champion.dm
  code/game/gamemodes/wizard/servant_items/overseer.dm
  code/modules/clothing/spacesuits/void/wizard.dm
  code/modules/ghosttrap/trap.dm
  code/modules/spells/aoe_turf/conjure/druidic_spells.dm
  code/modules/spells/aoe_turf/exchange_wounds.dm
  code/modules/spells/aoe_turf/summons.dm
  code/modules/spells/artifacts/spellbound_servants.dm
  code/modules/spells/general/toggle_armor.dm
  code/modules/spells/spell_code.dm
  code/modules/spells/targeted/cleric_spells.dm
  code/modules/spells/targeted/equip/dyrnwyn.dm
  code/modules/spells/targeted/ethereal_jaunt.dm
  code/modules/spells/targeted/projectile/fireball.dm
  code/modules/spells/targeted/projectile/passage.dm
  code/modules/spells/targeted/shapeshift.dm
  code/modules/spells/targeted/subjugate.dm
  code/modules/urist/spells.dm
  code/modules/ventcrawl/ventcrawl.dm
  icons/uristmob/clothes.dmi
Labels: Icons, Feature, Bugfix, Balance

#1339 Fixes Ore Generation
  code/modules/mining/mine_turfs.dm
  code/modules/random_map/noise/ore.dm
Labels: Kill Me, Bugfix

#1334 removes destroyed colony and crystalized drugs from guaranteed spawn
  maps/away/crystalized_drugs/crystalized_drugs.dm
  maps/away/destroyed_colony/destroyed_colony.dm
Labels: Awaymaps

#1338 Fixes SMG jamming
  code/modules/projectiles/guns/projectile.dm
Labels: Bugfix

#1342 Reverts GalCom default human language + NPC floating text alternative fix
  code/modules/culture_descriptor/culture/cultures_human.dm
  code/modules/mob/living/simple_animal/simple_animal.dm
  code/modules/urist/modules/newtrading/NPC/npc.dm
Labels: Bugfix

#1341 Fixes various formatting issues
  code/controllers/evacuation/evacuation_pods.dm
  code/controllers/subsystems/jobs.dm
  code/datums/mind/mind.dm
  code/game/objects/items/weapons/AI_modules.dm
  code/game/objects/items/weapons/implants/implants/explosive.dm
  code/modules/admin/admin.dm
  code/modules/admin/callproc/callproc.dm
  code/modules/admin/topic.dm
  code/modules/admin/verbs/randomverbs.dm
  code/modules/modular_computers/file_system/programs/command/comm.dm
  code/modules/reagents/reagent_dispenser.dm
  code/modules/urist/antagonist/revenant/revenant_slaps.dm
  code/modules/urist/modules/newtrading/NPC/NPC_types/colonist.dm
  code/modules/urist/modules/shipbattles/shipweapons/torpedo_warhead.dm
Labels: Formatting

#1346 Fixes severely impaired breathing speech
  code/modules/mob/living/carbon/human/say.dm
Labels: Bugfix

#1350 Fixes guns not repsecting initial firemodes
  code/modules/projectiles/gun.dm
Labels: Bugfix

#1349 Adds label enforcement
  .github/workflows/enforce-labels.yml
Labels: Repo

#1343 Fix A22 rifle not accepting it's magazine/Wrong Caliber + Flamethrower Typo
  code/game/objects/items/weapons/flamethrower.dm
  code/modules/urist/gamemodes/infestation/weapons&armour.dm
Labels: Formatting, Bugfix

#1353 item name and minor away fixes
  code/modules/urist/items/clothes/uristclothes.dm
  icons/urist/items/clothes/shoes.dmi
  icons/urist/structures&machinery/civStairs.dmi
  maps/away/forest/forest1.dmm
  maps/away/forest/forest2.dmm
Labels: Map, Formatting, Icons, Awaymaps

#1355 Fixes maintenance light deconstruction
  code/modules/urist/structures/uristlighting.dm
  maps/nerva/nerva-1.dmm
  maps/nerva/nerva-2.dmm
  maps/nerva/nerva-3.dmm
  maps/nerva/nerva-4.dmm
Labels: Map, Bugfix, Nerva

#1357 ports radio incapacitation tweaks
  code/game/objects/items/devices/radio/radio.dm
Labels: Balance

#1358 adds some gps devices to the trajan
  maps/nerva/nerva-1.dmm
Labels: Map, Nerva

#1362 Bearcat Maintenance
  maps/away/bearcat/bearcat-1.dmm
  maps/away/bearcat/bearcat-2.dmm
  maps/away/bearcat/bearcat.dm
Labels: Map, Awaymaps

#1363 Various Payroll Bugfixes + Improvements
  code/controllers/subsystems/payment.dm
  code/game/machinery/computer/account_manager.dm
  code/modules/economy/Accounts.dm
  code/modules/modular_computers/file_system/programs/security/finesmanager.dm
Labels: Kill Me, Bugfix, Fucking Bay

#1364 fixes issues with fur and fur recipes
  code/modules/materials/definitions/materials_organic.dm
  code/modules/urist/modules/materials/recipes_skin.dm
Labels: Bugfix
