Repository UristMcStation/UristMcStation, pull requests merged in 2023-11, with the labels that each got.

#1370 various job and access changes for the Nerva
  maps/nerva/datums/nerva_access_datums.dm
  maps/nerva/datums/nerva_jobs.dm
  maps/nerva/icons/assignment_hud.dmi
  maps/nerva/nerva-1.dmm
  maps/nerva/nerva-2.dmm
  maps/nerva/nerva_areas.dm
Labels: Map, Icons, Balance, Nerva

#1371 fixes deck 1 window airlock layers
  code/game/machinery/doors/airlock_control.dm
  code/game/machinery/embedded_controller/airlock_controllers.dm
  maps/nerva/nerva-4.dmm
Labels: Map, Nerva

#1373 adds some decal colours for future projects and general mapping use
  code/__defines/colors.dm
  code/modules/urist/area&turf/turfs.dm
  code/modules/urist/decals/urist.dm
Labels: Enhancement, Bugfix

#1375 fixes nerva roboticist access
  maps/nerva/datums/nerva_outfits.dm
Labels: Bugfix, Nerva
