Repository UristMcStation/UristMcStation, pull requests merged in 2024-04, with the labels that each got.

#1416 Setup Nerva-Specific Lobby Music List.
  maps/nerva/nerva_define.dm
Labels: Enhancement, Nerva

#1425 nerfs understanding of gutter, selenian, and sol
  code/modules/mob/language/human/misc/gutter.dm
  code/modules/mob/language/human/selenian.dm
  code/modules/mob/language/human/solcommon.dm
Labels: Balance

#1418 Streamlining: medical-facing changes
  code/game/machinery/vitals_monitor.dm
  code/game/objects/items/devices/scanners/health.dm
  code/modules/surgery/surgery.dm
  maps/nerva/nerva-2.dmm
Labels: Enhancement, Map, Balance, Nerva

#1430 Pens can now be hidden in shoes
  code/modules/paperwork/pen/pen.dm
Labels: Enhancement

#1417 Streamlining: mostly engineering-facing
  code/modules/materials/recipes_furniture.dm
  code/modules/mob/mob.dm
  code/modules/power/smes_construction.dm
  maps/nerva/obj/nerva_closets.dm
Labels: Enhancement, Balance, Nerva

#1441 Gives Stowaway Role the Originally Intended Crowbar
  maps/nerva/datums/nerva_outfits.dm
Labels: Nerva

#1420 ports fix for escaping lockers
  code/game/objects/buckling.dm
  code/game/objects/structures.dm
  code/game/objects/structures/crates_lockers/closets/__closet.dm
Labels: Bugfix

#1429 Cargo Supply Additions
  code/game/objects/structures/crates_lockers/largecrate.dm
  code/modules/urist/datums/supplycrates.dm
  maps/nerva/datums/nerva_supplypacks.dm
Labels: Enhancement, Nerva

#1428 Adds Napalk
  code/modules/urist/datums/uristchem.dm
Labels: Enhancement

#1431 Adds additional movie titles to Bay's End of Round Credits.
  code/game/movietitles.dm
Labels: Fluff

#1437 very minor posi and text fixes
  code/modules/mob/living/carbon/human/unarmed_attack.dm
  code/modules/mob/living/living.dm
  code/modules/mob/living/silicon/posi_brainmob.dm
Labels: Enhancement, Formatting

#1426 AIs can be traitors again
  code/game/antagonist/antagonist_add.dm
  code/game/antagonist/antagonist_create.dm
  code/game/antagonist/station/rogue_ai.dm
  code/game/antagonist/station/traitor.dm
Labels: Merge Issue, Bugfix

#1432 Mapping Update on Small Pirate Vessel
  maps/shipmaps/ship_pirate_small1.dmm
Labels: Map

#1412 readds toilet paper
  code/game/machinery/vending/lavatory.dm
  code/game/objects/structures/watercloset.dm
  maps/nerva/nerva-1.dmm
  maps/nerva/nerva-3.dmm
Labels: Map, Nerva

#1439 tweak: Grants Coder roles FUN/POSESS/REJUV
  config/admin_ranks.txt
Labels: Config Update

#1226 feature: Empty Z-level LODs + 3d AI
  code/controllers/configuration.dm
  code/controllers/subsystems/ai.dm
  code/controllers/subsystems/aifast.dm
  code/controllers/subsystems/mobs.dm
  code/controllers/subsystems/presence.dm
  code/modules/ai/ai_holder_movement.dm
  code/modules/ai/ai_holder_pathfinding.dm
  code/modules/ai/interfaces.dm
  code/modules/integrated_electronics/subtypes/smart.dm
  code/modules/mob/living/bot/farmbot.dm
  config/config.txt
  config/example/config.txt
Labels: Feature, Config Update
