Repository UristMcStation/UristMcStation, pull requests merged in 2024-12, with the labels that each got.

#1558 Abandoned Colony + Morning Light: Bugfixes & Additions
  maps/away/abandoned_colony/abandoned_colony.dmm
Labels: Map, Awaymaps

#1548 Glloyd Jungle Planet Away - Bug Fixing
  code/modules/urist/modules/jungle/planet_areas.dm
  maps/away/glloyd_jungle/glloyd_jungle.dmm
Labels: Map, Awaymaps

#1535 Additional Tips from #Idea-Discussion
  config/tips.txt
Labels: Fluff, Config Update, Stale-b-gone

#1466 Yeosa'unathi - only 6 years late lmao
  code/modules/species/station/lizard_subspecies.dm
  maps/nerva/nerva_define.dm
Labels: Nerva, Stale-b-gone

#1530 Janitorial Cart can now store Plungers and Firearms
  code/game/objects/structures/janicart.dm
  icons/obj/janitor.dmi
  nano/templates/janitorcart.tmpl
Labels: Icons

#1544 Autolathe Recipes - Geiger Counter, Ore Scanner
  code/modules/fabrication/designs/general/designs_tools.dm
  code/modules/research/designs/designs_urist.dm
Labels: Stale

#1588 Research remap (for realsies this time)
  maps/nerva/nerva-1.dmm
  maps/nerva/nerva-2.dmm
  maps/nerva/nerva_areas.dm
Labels: Enhancement, Map, Kill Me, Nerva, Playtest Required, Playtest Passed

#1589 Adds a var to let certain turfs take longer to mine
  code/modules/mining/mine_turfs.dm
Labels: Enhancement

#1592 removes root; adds urist-friendly ipc lore
  code/__defines/culture.dm
  maps/glloydstation/fluff/species_overrides.dm
  maps/nerva/fluff/locations_human.dm
  maps/nerva/fluff/species_overrides.dm
Labels: Nerva, Glloydstation

#1595 adds a space to tip of the round: and other fixes
  code/controllers/subsystems/ticker.dm
  code/game/objects/structures.dm
  code/modules/client/client_color.dm
Labels: Formatting, Bugfix

#1597 fixes fountains pulling an old urist icon instead of the bay one
  code/modules/urist/modules/jungle/temple.dm
Labels: Bugfix

#1540 Ports 16 artifact effects from Polaris; fixes others
  baystation12.dme
  code/modules/urist/datums/xenoarch_effects/animate_anomaly.dm
  code/modules/urist/datums/xenoarch_effects/cannibal.dm
  code/modules/urist/datums/xenoarch_effects/disarm.dm
  code/modules/urist/datums/xenoarch_effects/electric_field.dm
  code/modules/urist/datums/xenoarch_effects/extinguisher.dm
  code/modules/urist/datums/xenoarch_effects/fogmachine.dm
  code/modules/urist/datums/xenoarch_effects/gaia.dm
  code/modules/urist/datums/xenoarch_effects/gasco2.dm
  code/modules/urist/datums/xenoarch_effects/gasnitro.dm
  code/modules/urist/datums/xenoarch_effects/gasoxy.dm
  code/modules/urist/datums/xenoarch_effects/gasphoron.dm
  code/modules/urist/datums/xenoarch_effects/gassleeping.dm
  code/modules/urist/datums/xenoarch_effects/gravity_wave.dm
  code/modules/urist/datums/xenoarch_effects/haunting.dm
  code/modules/urist/datums/xenoarch_effects/indiscriminate_spines.dm
  code/modules/urist/datums/xenoarch_effects/parroting.dm
  code/modules/urist/datums/xenoarch_effects/poltergeist.dm
  code/modules/urist/datums/xenoarch_effects/resurrect.dm
  code/modules/urist/datums/xenoarch_effects/tesla.dm
  code/modules/urist/datums/xenoarch_effects/vampire.dm
  code/modules/xenoarcheaology/effect.dm
  code/modules/xenoarcheaology/effects/badfeeling.dm
  code/modules/xenoarcheaology/effects/cellcharge.dm
  code/modules/xenoarcheaology/effects/celldrain.dm
  code/modules/xenoarcheaology/effects/cold.dm
  code/modules/xenoarcheaology/effects/emp.dm
  code/modules/xenoarcheaology/effects/goodfeeling.dm
  code/modules/xenoarcheaology/effects/heal.dm
  code/modules/xenoarcheaology/effects/heat.dm
  code/modules/xenoarcheaology/effects/hellportal/hell_portal.dm
  code/modules/xenoarcheaology/effects/hurt.dm
  code/modules/xenoarcheaology/effects/roboheal.dm
  code/modules/xenoarcheaology/effects/robohurt.dm
  code/modules/xenoarcheaology/effects/sleepy.dm
  code/modules/xenoarcheaology/effects/stun.dm
  code/modules/xenoarcheaology/triggers/chemical.dm
  icons/urist/effects.dmi
  test/check-paths.sh
Labels: Enhancement, Icons, Feature, Repo
