Repository UristMcStation/UristMcStation, pull requests merged in 2024-06, with the labels that each got.

#1467 IPCs can choose a gender (body type in character setup)
  code/modules/species/station/machine.dm
Labels: Enhancement

#1465 Traitor sleepy ring
  code/datums/uplink/stealthy_and_inconspicuous_weapons.dm
Labels: Enhancement

#1461 Adds Snow to Operative Bases, Adjusts snow sprite speed for mild snow.
  code/modules/urist/modules/weather/weather_defines.dm
  code/modules/urist/modules/weather/weather_objects.dm
  icons/urist/weather.dmi
  maps/nerva/nerva-5.dmm
Labels: Map, Icons, Nerva, Stale-b-gone

#1460 Away Map Maintenance - Icarus, Lost Supply Base, Slavers.
  maps/away/icarus/icarus-1.dmm
  maps/away/icarus/icarus-2.dmm
  maps/away/lost_supply_base/lost_supply_base.dmm
  maps/away/slavers_base/slavers_base.dmm
Labels: Map, Awaymaps

#1449 Megaphones have a bigger font.
  code/game/objects/items/devices/megaphone.dm
Labels: Formatting

#1450 Flare Illumination Rounds last longer.
  code/modules/projectiles/projectile/energy.dm
Labels: Enhancement, Balance

#1451 Pass on Tiny Items capable of being hidden in shoes + Clown can now hide items in his oversized shoes.
  code/game/objects/items/devices/spy_bug.dm
  code/game/objects/items/weapons/lighter.dm
  code/game/objects/items/weapons/material/coins.dm
  code/game/objects/items/weapons/material/thrown.dm
  code/game/objects/items/weapons/surgery_tools.dm
  code/modules/clothing/masks/smokable.dm
  code/modules/clothing/shoes/miscellaneous.dm
  code/modules/reagents/reagent_containers/glass.dm
  code/modules/reagents/reagent_containers/pill.dm
Labels: Enhancement

#1436 take away AI drone access to all radio
  code/modules/mob/living/silicon/robot/drone/drone_remote_control.dm
Labels: Balance

#1472 fixes naming of the leather work boots craft
  code/modules/urist/modules/materials/recipes_leather.dm
Labels: Formatting, Bugfix

#1421 Duffles & workboots & QM sunglasses & punctuation
  code/datums/supplypacks/engineering.dm
  code/game/objects/items/weapons/storage/backpack.dm
  code/modules/urist/items/clothes/duffelbag.dm
  code/modules/urist/modules/client/preference_setup/loadout/lists/loadout_feet.dm
  code/modules/urist/structures/closets.dm
  maps/RandomZLevels/backup/negastation.dmm
  maps/RandomZLevels/negastation.dmm
  maps/away/bearcat/bearcat-1.dmm
  maps/glloydstation/Glloydstation2-1.dmm
  maps/nerva/datums/nerva_jobs.dm
  maps/nerva/datums/nerva_outfits.dm
  maps/nerva/nerva-1.dmm
  maps/nerva/nerva-2.dmm
  maps/nerva/nerva-3.dmm
Labels: Map, Nerva, Glloydstation, Awaymaps

#1478 Fixes cyborg dropped stacks
  code/modules/mob/living/silicon/robot/drone/drone_items.dm
  code/modules/mob/living/silicon/robot/modules/module_engineering.dm
Labels: Bugfix

#1476 Fixes MMI language transfer
  code/modules/mob/living/carbon/brain/MMI.dm
  code/modules/organs/internal/brain.dm
  code/modules/organs/internal/species/fbp.dm
Labels: Bugfix, Fucking Bay
