Repository UristMcStation/UristMcStation, pull requests merged in 2024-07, with the labels that each got.

#1501 Restores Space Lube chemical + functions - HONK!!!
  code/modules/hydroponics/grown.dm
  code/modules/hydroponics/seed_datums.dm
  code/modules/mob/living/silicon/robot/modules/module_janitor.dm
  code/modules/organs/internal/species/vox.dm
  code/modules/urist/datums/uristchem.dm
Labels: Enhancement

#1503 Minor Loadout Tweaks.
  maps/nerva/loadout/loadout_accessories.dm
Labels: Nerva

#1499 Security + CoS Lockers now contain Jackboots.
  maps/nerva/obj/nerva_closets.dm
Labels: Enhancement, Nerva

#1497 Heavy Sniper now correctly has a open-bolt sound.
  code/modules/projectiles/guns/projectile/sniper.dm
Labels: Sound

#1496 Floor Sound Pass + Holodeck Sound Pass + All Species can wear Holodeck Boxing Gloves
  code/game/turfs/flooring/flooring_premade.dm
  code/modules/holodeck/HolodeckObjects.dm
  maps/nerva/nerva_holodecks.dm
Labels: Enhancement, Nerva, Sound

#1494 Ports Interface updates for Fire Alarm and Disposals Units.
  code/game/machinery/alarm.dm
  code/modules/recycling/disposal.dm
Labels: Interface

#1493 Fax Machines now use Fake NanoUI Interface
  code/modules/paperwork/faxmachine.dm
Labels: Interface

#1491 HI-2521-P Pistol now fits in holsters.
  code/modules/urist/items/guns.dm
Labels: Enhancement

#1490 Adjusts Game Vendor Stock
  code/game/machinery/vending/games.dm
Labels: Enhancement

#1487 Using a scope is now a dedicated hotkey - [CTRL + T]
  interface/skin.dmf
Labels: Enhancement

#1485 Secure Safes can now contain briefcases.
  code/game/objects/items/weapons/storage/secure.dm
Labels: Balance

#1463 Ports radio jammers for AI/borg signals, signalers, and headsets
  baystation12.dme
  code/_onclick/ai.dm
  code/controllers/communications.dm
  code/datums/uplink/devices and tools.dm
  code/game/machinery/_machines_base/machinery.dm
  code/game/machinery/ai_slipper.dm
  code/game/machinery/atmoalter/area_atmos_computer.dm
  code/game/machinery/buttons.dm
  code/game/machinery/camera/tracking.dm
  code/game/machinery/cloning.dm
  code/game/machinery/computer/prisoner.dm
  code/game/machinery/doors/airlock.dm
  code/game/machinery/doors/door_control.dm
  code/game/machinery/doors/firedoor.dm
  code/game/machinery/doors/windowdoor.dm
  code/game/machinery/flasher.dm
  code/game/machinery/hologram.dm
  code/game/machinery/igniter.dm
  code/game/machinery/status_display_ai.dm
  code/game/objects/items/devices/radio/intercom.dm
  code/game/objects/items/devices/radio/radio.dm
  code/game/objects/structures/fireaxe_cabinet.dm
  code/modules/assembly/signaler.dm
  code/modules/mob/living/bot/bot.dm
  code/modules/mob/living/silicon/robot/drone/drone_remote_control.dm
  code/modules/modular_computers/computers/modular_computer/interaction.dm
  code/modules/power/breaker_box.dm
  code/modules/power/cell.dm
  code/modules/power/lighting.dm
  code/modules/power/smes_construction.dm
  code/modules/reagents/Chemistry-Machinery.dm
  code/modules/supermatter/supermatter.dm
  code/modules/telesci/telesci_computer.dm
  code/modules/turbolift/turbolift_console.dm
  code/modules/urist/items/radio_jammer.dm
  code/modules/urist/machinery/store.dm
  icons/urist/obj/device.dmi
  test/check-paths.sh
Labels: Icons, Feature, Repo, Stale-b-gone

#1446 Adds Pirate Gantry Vessel
  code/modules/urist/modules/shipbattles/overmapships/components/component_weapons.dm
  code/modules/urist/modules/shipbattles/overmapships/components/components.dm
  code/modules/urist/modules/shipbattles/overmapships/hostile_ships.dm
  config/shipTemplates.txt
  maps/shipmaps/ship_pirate_scrapper.dmm
Labels: Enhancement, Map, Config Update

#1483 Fix missing null checks for examine + healthscanner
  code/game/objects/items/devices/scanners/health.dm
  code/modules/mob/living/carbon/human/examine.dm
Labels: Bugfix

#1484 Fix landmarks not spawning correclty
  code/game/objects/effects/landmarks.dm
  maps/RandomZLevels/backup/negastation.dmm
  maps/RandomZLevels/negastation.dmm
  maps/glloydstation/Glloydstation2-1.dmm
  maps/glloydstation/Glloydstation2-2.dmm
  maps/nerva/nerva-1.dmm
  maps/nerva/nerva-3.dmm
  maps/nerva/nerva-4.dmm
Labels: Map, Kill Me, Bugfix, Nerva, Glloydstation

#1495 Adjusts size & width of floating text + allows for ?? large text.
  code/modules/mob/floating_message.dm
Labels: Interface

#1514 Example (1-3) Debug Map - Adjustments
  maps/example/example-1.dmm
  maps/example/example-2.dmm
  maps/example/example-3.dmm
Labels: Map

#1516 Fixes: #1444 - (Bar Spotlights)
  code/game/objects/structures/crates_lockers/closets/job_closets.dm
  code/modules/fabrication/designs/general/designs_general.dm
  code/modules/urist/structures/uristlighting.dm
Labels: Enhancement

#1488 Ports Random Tip of the Round System to Round Start.
  code/controllers/subsystems/ticker.dm
  config/tips.txt
  test/check-paths.sh
Labels: Fluff, Config Update, Repo

#1534 Hextromycosalinate makes you trip balls again properly
  code/modules/reagents/Chemistry-Reagents/Chemistry-Reagents-Toxins.dm
Labels: Enhancement

#1537 More Shoe-Tactical Espionage
  code/game/objects/items/devices/flashlight.dm
  code/game/objects/items/devices/radio/encryptionkey.dm
  code/game/objects/items/weapons/flame.dm
  code/game/objects/items/weapons/implants/implant.dm
  code/modules/clothing/_clothing.dm
Labels: Enhancement

#1521 Autolathes can now print: SpaceAK & HI-2521SMG + Pistol Magazines if hacked.
  code/modules/fabrication/designs/general/designs_arms_ammo.dm
Labels: Balance

#1520 "Just one more thing..."
  code/game/objects/structures/crates_lockers/closets/secure/security.dm
  code/modules/urist/items/clothes/mask.dm
  code/modules/urist/items/clothes/uristclothes.dm
  icons/urist/items/clothes/clothes.dmi
  icons/urist/items/clothes/masks.dmi
  icons/uristmob/clothes.dmi
  icons/uristmob/mask.dmi
Labels: Enhancement, Icons

#1513 R&D - Advanced Flashlights
  code/modules/research/designs/designs_urist.dm
  code/modules/urist/items/miscitems.dm
  icons/urist/items/tools.dmi
Labels: Enhancement, Icons

#1512 Minor Xenophage Fix - Xenophage Queen can pry over doors.
  code/modules/species/xenomorphs/alien_species.dm
Labels: Balance

#1511 Zombies can now pry open airlocks.
  code/modules/species/outsider/zombie.dm
Labels: Balance

#1509 Restores Shimmering Orb asteroid flora + setups landmarks
  code/modules/urist/structures/uristflora.dm
  icons/urist/obj/asteroidflora.dmi
Labels: Icons

#1504 Chameleon Kit adjustment, Smuggler Satchel TC Cost, Smuggler Satchel duplicate crowbar bugfix.
  code/datums/uplink/stealth_and_camouflage_items.dm
  code/game/objects/items/devices/uplink_random_lists.dm
  code/game/objects/items/weapons/storage/uplink_kits.dm
  code/modules/urist/items/tgitems.dm
Labels: Bugfix, Balance

#1525 Lone Pioneer - Exoplanet Joinable Ruin
  maps/_maps.dm
  maps/random_ruins/exoplanet_ruins/pioneer/pioneer.dm
  maps/random_ruins/exoplanet_ruins/pioneer/pioneer.dmi
  maps/random_ruins/exoplanet_ruins/pioneer/pioneer.dmm
Labels: Map, Icons

#1528 Updates Cryopod and Seed Storage Vendor UI
  code/game/machinery/cryopod.dm
  code/modules/hydroponics/seed_storage.dm
Labels: Enhancement, Interface

#1498 Adds Ancient Toolbox & Jetfuel to Uplink, Adjusts Item Desc + Catergories.
  baystation12.dme
  code/datums/uplink/badassery.dm
  code/datums/uplink/devices and tools.dm
  code/datums/uplink/medical.dm
  code/datums/uplink/reagents_and_plants.dm
  code/datums/uplink/stealth_and_camouflage_items.dm
  code/datums/uplink/uplink_categories.dm
  code/modules/urist/antagonist/uplink_items.dm
Labels: Enhancement, Balance

#1522 Additional Example Map Additions:
  maps/example/example-1.dmm
  maps/example/example-2.dmm
  maps/example/example-3.dmm
Labels: Map

#1500 Assistants now have access again to Tool Storage.
  code/game/jobs/job/assistant.dm
  maps/nerva/datums/nerva_jobs.dm
  maps/nerva/datums/nerva_outfits.dm
  maps/nerva/obj/nerva_ids.dm
Labels: Bugfix, Nerva

#1545 New Pirate types + New Pirate Ship
  code/modules/urist/datums/uristoutfits.dm
  code/modules/urist/items/clothes/ntclothes.dm
  code/modules/urist/items/clothes/uristclothes.dm
  code/modules/urist/items/corpse_landmarks.dm
  code/modules/urist/mob/humanhostiles.dm
  code/modules/urist/modules/shipbattles/overmapships/components/components.dm
  code/modules/urist/modules/shipbattles/overmapships/hostile_ships.dm
  code/modules/urist/modules/shipbattles/ship_landmarks.dm
  icons/uristmob/simpleanimals.dmi
  maps/shipmaps/ship_pirate_fast1.dmm
  maps/shipmaps/ship_pirate_small1.dmm
Labels: Enhancement, Map, Icons
