Repository UristMcStation/UristMcStation, pull requests merged in 2024-02, with the labels that each got.

#1406 fixes examining people
  code/modules/mob/living/carbon/human/examine.dm
Labels: CALL THE SHUTTLE, Priority: CRITICAL

#1403 Gives Giant Spiders & Mutated Rats Aggro Sounds, Adjusts Corpse Rats to inherit Mutated Rats properly
  code/modules/events/infestation.dm
  code/modules/mob/living/simple_animal/hostile/giant_spider/_giant_spider.dm
  code/modules/urist/mob/uristanimals.dm
  sound/urist/rat_aggro.ogg
  sound/urist/spider_aggro_1.ogg
  sound/urist/spider_aggro_2.ogg
Labels: Refactor, Sound

#1397 feature: Adds five new Xenoarch powers: Magnetic, Cultify, Parrot, Spoopy, Fog
  baystation12.dme
  code/_helpers/game.dm
  code/modules/urist/datums/xenoarch_effects/_base.dm
  code/modules/urist/datums/xenoarch_effects/fogmachine.dm
  code/modules/urist/datums/xenoarch_effects/haunting.dm
  code/modules/urist/datums/xenoarch_effects/magnetic.dm
  code/modules/urist/datums/xenoarch_effects/parroting.dm
  code/modules/urist/datums/xenoarch_effects/unholy.dm
  code/modules/urist/modules/ghost_powers.dm
Labels: Enhancement, Feature
