Repository UristMcStation/UristMcStation, pull requests merged in 2025-02, with the labels that each got.

#1580 ports Saints and Sins from Polaris + nerf nt store
  baystation12.dme
  code/game/machinery/vending/games.dm
  code/modules/urist/items/miscitems.dm
  code/modules/urist/items/saintsandsins.dm
  code/modules/urist/items/storeitems.dm
  icons/urist/items/saintsandsins.dmi
Labels: Icons, Feature, Stale

#1600 Fix crafting rails with aluminium
  code/controllers/subsystems/initialization/fabrication.dm
  code/modules/crafting/_crafting_stage.dm
Labels: Bugfix

#1599 Adds more cargo contracts
  code/modules/urist/items/food.dm
  code/modules/urist/modules/jungle/jungle_animals.dm
  code/modules/urist/modules/newtrading/contracts/cargo_contracts.dm
  code/modules/urist/modules/newtrading/contracts/cargo_papers.dm
  code/modules/urist/modules/newtrading/trade/trade_items/contracts.dm
  maps/nerva/datums/nerva_jobs.dm
  maps/nerva/nerva-2.dmm
Labels: Map, Nerva, Stale-b-gone

#1598 fixes a runtime in new anomalies
  code/modules/urist/datums/xenoarch_effects/animate_anomaly.dm
  code/modules/urist/datums/xenoarch_effects/indiscriminate_spines.dm
  code/modules/urist/datums/xenoarch_effects/tesla.dm
  code/modules/urist/datums/xenoarch_effects/vampire.dm
Labels: Bugfix, Runtime, Stale-b-gone

#1596 Away Map Tweakage
  maps/away/blueriver/blueriver-2.dmm
  maps/away/casino/casino.dmm
  maps/away/mobius_rift/mobius_rift.dmm
  maps/away/yacht/yacht.dmm
Labels: Map, Awaymaps, Stale-b-gone

#1594 Artifact: Hivebots!
  baystation12.dme
  code/modules/urist/datums/xenoarch_effects/nanomachines.dm
  icons/urist/obj/hivefabs.dmi
Labels: Icons

#1372 Fixing Glloydstation For the Merge
  .github/workflows/test.yml
  code/game/machinery/telecomms/presets.dm
  code/game/machinery/telecomms/telecomunications.dm
  code/modules/research/designs/designs_urist.dm
  code/modules/urist/gamemodes/scom/machinery.dm
  code/modules/urist/items/circuitboards.dm
  code/modules/urist/machinery/UMcSTelecomms.dm
  code/modules/urist/modules/mining.dm
  code/unit_tests/map_tests.dm
  maps/away/glloyd_jungle/glloyd_jungle.dmm
  maps/glloydstation/Glloydstation2-1.dmm
  maps/glloydstation/Glloydstation2-2.dmm
  maps/glloydstation/Glloydstation2-3.dmm
  maps/glloydstation/Glloydstation2-4.dmm
  maps/glloydstation/Glloydstation2-5.dmm
  maps/glloydstation/Glloydstation2-7.dmm
  maps/glloydstation/fluff/species_overrides.dm
  maps/glloydstation/glloydstation.dm
  maps/glloydstation/glloydstation_areas.dm
  maps/glloydstation/glloydstation_datums.dm
  maps/glloydstation/glloydstation_define.dm
  maps/glloydstation/glloydstation_setup.dm
  maps/glloydstation/glloydstation_unit_testing.dm
  maps/glloydstation/icons/assignment_hud.dmi
  maps/mapsystem/maps_unit_testing.dm
Labels: Map, Kill Me, Icons, Glloydstation, Awaymaps, fuuuuuuuuuuuuck, Repo
