Repository UristMcStation/UristMcStation, pull requests merged in 2025-04, with the labels that each got.

#1617 Traitor Uplink - Cleaning & Maintenance
  code/datums/uplink/ammunition.dm
  code/datums/uplink/devices and tools.dm
  code/datums/uplink/highly_visible_and_dangerous_weapons.dm
  code/datums/uplink/medical.dm
  code/datums/uplink/reagents_and_plants.dm
  code/datums/uplink/stealthy_and_inconspicuous_weapons.dm
Labels: Formatting

#1619 Dartguns now have Action Buttons for Mixing Controls.
  code/modules/projectiles/guns/projectile/dartgun.dm
Labels: Interface

#1618 Holdout Revolvers, Single Pistol Bullets & Screwdrivers can be hidden in shoes.
  code/game/objects/items/weapons/tools/screwdriver.dm
  code/modules/projectiles/ammunition/bullets.dm
  code/modules/projectiles/guns/projectile/revolver.dm
Labels: Balance

#1621 replaces all urist bandoliers with bay ones
  code/modules/urist/items/clothes/belt.dm
  maps/RandomZLevels/wildwest/wildwest.dmm
  maps/glloydstation/Glloydstation2-1.dmm
  maps/nerva/nerva-1.dmm
Labels: Map, Nerva, Glloydstation

#1622 fix mark-and-recall and create portal
  code/modules/spells/general/mark_recall.dm
  code/modules/spells/general/portal_teleport.dm
Labels: Bugfix

#1625 Lar Maria - Away Map Update
  maps/away/lar_maria/lar_maria-1.dmm
  maps/away/lar_maria/lar_maria-2.dmm
  maps/away/lar_maria/lar_maria.dm
Labels: Enhancement, Map, Awaymaps

#1624 ports bay changes to ions
  code/modules/organs/external/_external.dm
  code/modules/organs/internal/_internal.dm
  code/modules/organs/internal/species/fbp.dm
  code/modules/projectiles/guns/energy/special.dm
Labels: Enhancement, Balance

#1628 Pirate Gantry's can finally spawn.
  maps/away/stations/pirate/pirate_station.dm
Labels: Bugfix, Awaymaps

#1627 removes unintended interactions opening arms safes
  code/game/objects/items/weapons/storage/secure.dm
Labels: Bugfix

#1626 Fixes Mutineer/Raider HUD Icon defaulting to error HUD icon.
  code/game/antagonist/outsider/raider.dm
  icons/mob/hud.dmi
Labels: Icons, Bugfix

#1633 merges baymerge-testing into master
  .github/workflows/changelog_generation.yml
  .github/workflows/generate_documentation.yml
  .github/workflows/generate_worths.yml
  .github/workflows/make_changelogs.yml
  .github/workflows/test.yml
Labels: Repo

#1629 Adds Sec-Tech Vendor Premium Item
  code/game/machinery/vending/security.dm
Labels: Enhancement

#1630 Binary Translator Key now has correct desc + lower tc slightly.
  code/datums/uplink/devices and tools.dm
Labels: Balance

#1631 Traitor Uplink - Maneater Seeds, Moonshine, Description Pass, Name Adjustments, etc.
  baystation12.dme
  code/datums/uplink/badassery.dm
  code/datums/uplink/hardsuit_modules.dm
  code/datums/uplink/reagents_and_plants.dm
  code/datums/uplink/uplink_categories.dm
  code/game/objects/items/devices/uplink_random_lists.dm
  code/modules/hydroponics/seed_datums.dm
  code/modules/hydroponics/seed_packets.dm
  code/modules/mob/living/simple_animal/natural_weapons.dm
  code/modules/urist/antagonist/uplink_items.dm
  code/modules/urist/datums/uristchem.dm
  code/modules/urist/mob/goonanimals.dm
  icons/urist/items/uristfood.dmi
  icons/uristmob/goonstation_mobs.dmi
Labels: Icons, Feature, Balance

#1611 Additional Glloydstation Fixing
  maps/glloydstation/Glloydstation2-1.dmm
  maps/glloydstation/Glloydstation2-5.dmm
  maps/glloydstation/Glloydstation2-7.dmm
  maps/glloydstation/glloydstation_define.dm
Labels: Map, Bugfix, Glloydstation

#1635 Sharpened Floor + Wep Construction Adjustment
  code/game/objects/items/stacks/tiles/tile_types.dm
  code/modules/urist/modules/shipbattles/shipweapons/weapon_construction.dm
Labels: Formatting, Balance

#1637 bumps up the range on tube lights to 6, to better match old light range
  code/modules/power/lighting.dm
Labels: Enhancement, Merge Issue

#1638 minor merge fixes
  code/controllers/configuration.dm
  code/game/dna/dna_modifier.dm
  config/config.txt
  maps/nerva/nerva-2.dmm
Labels: Map, Merge Issue, Bugfix, Nerva

#1641 more merge fixes
  code/game/machinery/kitchen/smartfridge.dm
  code/modules/client/preference_setup/antagonism/01_candidacy.dm
  maps/nerva/nerva-1.dmm
  maps/nerva/nerva-2.dmm
  maps/nerva/nerva-3.dmm
  maps/nerva/nerva-4.dmm
Labels: Map, Nerva

#1639 Syndicate Minibomb - Uplink Item
  code/datums/uplink/grenades.dm
  code/modules/urist/items/grenades.dm
Labels: Enhancement, Balance

#1643 Fixes and improves ship combat boarding, and adds fancy combat lighting (and other fixes)
  code/__defines/lighting.dm
  code/controllers/subsystems/mapping.dm
  code/game/area/Space Station 13 areas.dm
  code/modules/power/lighting.dm
  code/modules/urist/_maps/templates.dm
  code/modules/urist/gamemodes/assault/assault.dm
  code/modules/urist/modules/shipbattles/overmapships/components/advanced_components.dm
  code/modules/urist/modules/shipbattles/overmapships/overmapships.dm
  code/modules/urist/modules/shipbattles/ship_landmarks.dm
  code/modules/urist/modules/shipbattles/ship_overmaps.dm
  code/modules/urist/modules/shipbattles/shipweapons/shipweapons.dm
  code/modules/urist/structures/boardingstructures.dm
  maps/away/glloyd_jungle/glloyd_jungle.dmm
  maps/away/russianderelict/russianderelict.dmm
  maps/away/stations/pirate/pirate_station.dm
  maps/glloydstation/Glloydstation2-1.dmm
  maps/glloydstation/Glloydstation2-3.dmm
  maps/glloydstation/Glloydstation2-4.dmm
  maps/glloydstation/Glloydstation2-5.dmm
  maps/glloydstation/Glloydstation2-7.dmm
  maps/nerva/nerva-6.dmm
  maps/nerva/nerva_areas.dm
  maps/nerva/nerva_define.dm
  maps/shipmaps/ship_blank.dmm
  maps/shipmaps/ship_fastattackcraft_terran.dmm
  maps/shipmaps/ship_pirate_fast1.dmm
  maps/shipmaps/ship_pirate_scrapper.dmm
  maps/shipmaps/ship_pirate_small1.dmm
  maps/shipmaps/ship_rebel_small1.dmm
Labels: Map, Feature, Bugfix, Nerva, Glloydstation, Awaymaps

#1645 Floor Lights are brighter again
  code/game/machinery/floor_light.dm
Labels: Enhancement

#1644 Fixes #1424 - Chemical Powder & Masks/Helmets + User Feedback
  code/game/objects/items/contraband.dm
Labels: Bugfix

#1647 Merge AI and borg fixes
  code/modules/mob/living/silicon/ai/ai.dm
  code/modules/mob/living/silicon/ai/malf.dm
  code/modules/mob/living/silicon/robot/drone/drone_remote_control.dm
  code/modules/mob/living/silicon/robot/modules/_module.dm
  code/modules/mob/observer/freelook/eye.dm
  code/modules/paperwork/paper.dm
Labels: Merge Issue, Bugfix

#1649 fix: minimal_player_age is not a job title
  maps/nerva/datums/nerva_jobs.dm
Labels: Nerva
